<div class="row" style="background-color: white; margin-right: 0;">
  <% result_fut = [] %>
  <% (@trainings.joins(:sessions).where('date >= ?', Date.today).order('date ASC') + @trainings.where('end_date >= ?', Date.today)).uniq.each do |training| %>
    <% if training.end_date > Date.today %>
      <div class="col-xs-12 col-sm-6 col-md-4" style="display: flex; justify-content: center;">
        <div class="card" id="card-index">
          <div class="card-main">
            <%= link_to training_path(training), class: 'stretched-link' do %>
              <div class='client-logo' style="background-image: url(<%= training.client_contact.client_company.logo %>); background-size: 50px 50px; background-repeat: no-repeat;"></div>
              <h5 style='max-width: 175px;'><%= training.title %></h5>
              <% result_fut << training %>
              <div class="card-infos">
                <div class='card-infos-elements'><i class="far fa-calendar-alt"></i><%= "  From #{training.start_date.strftime('%d/%m/%y')} to #{training.end_date.strftime('%d/%m/%y')}" %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="card-footer">
            <div>
              <% training.users.each do |owner| %>
                <img class='avatar-xs' src="<%= owner.picture %>">
              <% end %>
            </div>
            <div>
              <% trainer_array = [] %>
              <% training.sessions.each do |session| %>
                <% session.users.each do |trainer| %>
                  <% trainer_array << trainer %>
                <% end %>
              <% end %>
              <% trainer_array.uniq.first(3) do |trainer| %>
                <img class='avatar-xs' src="<%= trainer.picture %>">
              <% end %>
              <% if trainer_array.uniq.count > 3 %>
                <button class='btn btn-edit-menu btn-edit-round'><i class='fas fa-ellipsis-h'></i></button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <% if result_fut.empty? %>
    <div class="col-xs-12 col-sm-6 col-md-4" style="display: flex; justify-content: center;">
      <div class="card">
        <div class="card-main">
          <%= "Empty" %>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>
  <% end %>
</div>
