<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style=" display: flex; justify-content: space-between;">
      <h3 class="modal-title" id="myModalLabel"><%= training.title %></h3>
    </div>
    <button type="button" class="btn btn-edit-cross" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
  </div>
  <div class="modal-body" id="modalNewBookinBody">
    <%= simple_form_for training do |f| %>
      <%= f.input :title %>
      <%= f.input :client_contact_id, :collection => ClientContact.all.order(:name), :label_method => :name, :label => 'Client contact', :include_blank => false %>
      <div class="mod-date">
        <%= f.input :start_date, as: :string, input_html: { class: 'datepicker'}, label: 'Start date' %>
        <%= f.input :end_date, as: :string, input_html: { class: 'datepicker'}, label: 'End date' %>
      </div>
      <div class='form-group' style='display:flex;justify-content:space-between;'>
        <%= f.label :mode %>
        <div style='width:75%;display:flex;justify-content: space-around;'>
          <%= f.collection_radio_buttons :mode, [['Company', 'Company'], ['School', 'School']], :first, :last %>
        </div>
      </div>
      <div style=" display: flex; justify-content: space-between;">
        <%= button_tag type: 'submit', class: 'btn btn-edit-green btn-edit-disk' do %>
          <i class="fas fa-save"></i>
        <% end %>
        <%= link_to training_path(training), method: :delete, data: { confirm: 'Are you sure ?'} do %>
          <button class="btn btn-edit-red btn-edit-trash">
            <i class="fas fa-trash-alt"></i>
          </button>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
