<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style=" display: flex; justify-content: space-between;">
      <h3 class="modal-title" id="myModalLabel"><%= training.title %></h3>
    </div>
    <button type="button" class="btn btn-icon-close" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
  </div>
  <div class="modal-body" id="modalNewBookinBody">
    <%= simple_form_for training do |f| %>
      <%= f.input :title %>
      <%= f.input :client_contact_id, :collection => ClientContact.all.joins(:client_company).order('client_companies.name ASC, client_contacts.name ASC'), :label_method => lambda { |client| "#{client.client_company.name} | #{client.name}" }, :label => 'Customer contact', :include_blank => false %>
      <div class='form-group' style='display:flex;justify-content:space-between;'>
        <%= f.label :mode %>
        <div style='width:75%;display:flex;justify-content: space-around;'>
          <%= f.collection_radio_buttons :mode, [['Company', 'Company'], ['School', 'School']], :first, :last %>
        </div>
      </div>
      <div class='modal-control'>
        <%= button_tag type: 'submit', class: 'btn btn-edit-green btn-icon', data: { toggle: 'tooltip' }, title: 'Save' do %>
          <i class="fas fa-save"></i>
        <% end %>
        <%= link_to training_path(training), method: :delete, data: { toggle: 'tooltip', confirm: 'Are you sure ?'}, title: 'Delete' do %>
          <button class="btn btn-edit-red btn-icon">
            <i class="fas fa-trash-alt"></i>
          </button>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
