<div class="training_index_controls">
  <% trainings_ended = @trainings %>
  <% if params[:page].to_i > 1 %>
    <%= link_to url_for(page: params[:page].to_i - 1, type: params[:type]) do %>
      <i class="fas fa-caret-left"></i>
    <% end %>
  <% else %>
    <i class="fas fa-caret-left" style='color:rgba(0,0,0,0.3)'></i>
  <% end %>
  <p><%= "Page #{params[:page]} / #{trainings_ended.count / 30 + 1}" %></p>
  <% if params[:page].to_i < trainings_ended.count / 30 + 1 %>
    <%= link_to url_for(page: params[:page].to_i + 1) do %>
      <i class="fas fa-caret-right"></i>
    <% end %>
  <% else %>
    <i class="fas fa-caret-right" style='color:rgba(0,0,0,0.3'></i>
  <% end %>
</div>
<div class="row" style="background-color: white; margin-right: 0;">
  <% result_term = [] %>
  <% trainings_ended.each do |training| %>
    <% if training.sessions.where(date: nil).empty? %>
      <div class="col-xs-12 col-sm-6 col-md-4" style="display: flex; justify-content: center;">
        <div class="card" id="card-index">
          <div class="card-main">
            <%= link_to training_path(training), class: 'stretched-link' do %>
              <div class='client-logo' style="background-image: url(<%= training.client_contact.client_company.logo %>); background-size: 5rem 5rem; background-repeat: no-repeat;"></div>
              <h5 style='max-width: 18rem;'><strong><%= training.client_contact.client_company.name %></strong></h5>
              <h5 style='max-width: 18rem;'><%= training.title %></h5>
              <% result_term << training %>
              <div class="card-infos">
                <% ['sevener+', 'sevener'].include?(current_user.access_level) ? sessions = training.sessions.joins(:session_trainers).where(session_trainers: {user_id: current_user.id}) : sessions = training.sessions %>
                <div class='card-infos-elements'>
                  <% if sessions.count == 1 %>
                    <i class="far fa-calendar-alt"></i><%= "  On #{sessions.first.date.strftime('%d/%m/%y')}" %>
                  <% else %>
                    <i class="far fa-calendar-alt"></i><%= "  From #{sessions.order(date: :asc).first.date&.strftime('%d/%m/%y')} to #{sessions.order(date: :asc).last.date&.strftime('%d/%m/%y')}" %>
                  <% end %>
                </div>
              </div>
              <% if params[:user] || (params[:search] && params[:search][:user]) %>
                <% if training.owners.include?(@user) %>
                  <span style='color:#CA3A4E;margin-right:1rem;'><strong>Owner</strong></span>
                <% end %>
                <% if training.writers.include?(@user) %>
                  <span style='color:#FBC84B;margin-right:1rem;'><strong>Writer</strong></span>
                <% end %>
                <% if training.trainers.include?(@user) %>
                  <span style='color:#41AAAE;margin-right:1rem;'><strong>Trainer</strong></span>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <% if training.client_company.client_company_type == 'Company' %>
            <div class="card-footer card-footer-company">
              <div>
                <% training.users.uniq.each do |owner| %>
                  <img class='avatar-xs' src="<%= owner.picture %>" onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
                <% end %>
              </div>
            </div>
          <% else %>
            <div class="card-footer card-footer-school">
              <div>
                <% training.users.uniq.each do |owner| %>
                  <img class='avatar-xs' src="<%= owner.picture %>" onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
  <% if result_term.empty? %>
    <div class="col-xs-12 col-sm-6 col-md-4" style="display: flex; justify-content: center;">
      <div class="card">
        <div class="card-main">
          <h5><%= "Empty" %></h5>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>
  <% end %>
</div>
