<div class="container-seven container-seven-monthly-calendar" style="background-color: white">
  <h3 style="text-align: left;"><%= "Trainings Dashboard" %></h3>
  <div class="trainings-title">
    <ul class="nav nav-tabs">
      <li role="presentation"><a href="<%= trainings_path(tab: 'upcoming') %>" class='tab-grayed'>Upcoming</a></li>
      <li role="presentation"><a href="<%= trainings_path(tab: 'completed') %>" class='tab-grayed'>Completed</a></li>
      <% if ['super admin', 'admin', 'project manager', 'HR'].include?(current_user.access_level) %>
        <li role="presentation"><a href="<%= trainings_path(tab: 'bookings') %>" class='tab-grayed'>Bookings</a></li>
      <% end %>
      <li><%= link_to "Calendar", index_week_path, class: 'active' %></li>
    </ul>
    <%= link_to new_training_path, id: "new-training" do %>
      <button class="btn btn-edit">New Training</button>
    <% end %>
  </div>
  <div class="trainings-title calendar-tabs-div">
    <ul class="nav nav-tabs">
        <li><%= link_to "Weekly", index_week_path, class: 'calendar-tabs' %></li>
        <li><%= link_to "Monthly", index_month_path, class: 'calendar-tabs active' %></li>
    </ul>
  </div>
  <div id='week_display'>
    <%= render 'calendar-month', trainings: @trainings %>
  </div>
</div>
