<div class="container-seven" style="background-color: white">
  <h3 style="text-align: left;"><%= "Dashboard" %></h3>
  <div class="trainings-title">
    <ul class="nav nav-tabs">
      <li role="presentation"><a href="#ongoing" data-toggle="tab" class="active">Projets en cours</a></li>
      <li role="presentation"><a href="#coming" data-toggle="tab">Projets à venir</a></li>
      <li role="presentation"><a href="#completed" data-toggle="tab">Projets terminés</a></li>
      <li></li>
      <li><%= link_to "Semaine", index_week_path %></li>
      <li><%= link_to "Mois", index_month_path %></li>
    </ul>
    <div class="new-training">
      <%= link_to 'Nouveau projet', new_training_path, id: "new-training", class: "btn btn-edit" %>
    </div>
  </div>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="ongoing">
      <%= render 'ongoing', trainings: @trainings %>
    </div>
    <div role="tabpanel" class="tab-pane" id="coming">
      <%= render 'coming', trainings: @trainings %>
    </div>
    <div role="tabpanel" class="tab-pane" id="completed">
      <%= render 'completed', trainings: @trainings %>
    </div>
    <div role="tabpanel" class="tab-pane" id="settings">
    </div>
  </div>

