<div class="container-seven-large" style="background-color: white">
  <div id="page-controls">
    <h1>Trainings</h1>
    <div id="page-buttons">
      <% if params[:user] %>
        <%= simple_form_for :search, url: trainings_path, method: 'GET' do |f| %>
          <% if params[:search].present? %>
            <%= f.input :title, placeholder: 'Search', label: false, input_html: {value: params[:search][:title]} %>
          <% else %>
            <%= f.input :title, placeholder: 'Search', label: false %>
          <% end %>
          <%= f.input :user, as: :hidden, input_html: { value: params[:user] } %>
          <%= hidden_field_tag :page, 1 %>
          <% if params[:search] %>
            <%= link_to trainings_path(page: 1), class: 'training-search-close' do %>
              <i class="far fa-times-circle"></i>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        <%= simple_form_for :search, url: trainings_path, method: 'GET' do |f| %>
          <% if params[:search].present? %>
            <%= f.input :title, placeholder: 'Search', label: false, input_html: {value: params[:search][:title]} %>
          <% else %>
            <%= f.input :title, placeholder: 'Search', label: false %>
          <% end %>
          <%= hidden_field_tag :page, 1 %>
          <% if params[:search] %>
            <%= link_to trainings_path(page: 1), class: 'training-search-close' do %>
              <i class="far fa-times-circle"></i>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <%= link_to new_training_path do %>
        <button class="btn btn-edit-yellow">New Training</button>
      <% end %>
    </div>
  </div>
  <div class="trainings-title">
    <% if params[:search] %>
      <h3>Search</h3>
      <%= render 'search', trainings: @trainings %>
    <% else %>
      <div class="trainings-list">

        <h3>Upcoming</h3>
        <div class="trainings-row">
          <%= render_async index_upcoming_path(page: params[:page]) %>
        </div>
        <h3>Completed</h3>
        <div class="trainings-row">
          <%= render_async index_completed_path(page: 1)%>
        </div>
        <h3>To Schedule</h3>
        <div class="trainings-row">
          <%= render 'to_date', trainings: @trainings %>
        </div>
        <h3>To Staff</h3>
        <div class="trainings-row">
          <%= render 'to_staff', trainings: @trainings %>
        </div>

      </div>
    <% end %>
  </div>
</div>

<script>
  sliders = document.querySelectorAll('.trainings-row');
  sliders.forEach((slider) => {
    isDown = false;
    let startX;
    let scrollLeft;

    slider.addEventListener('mousedown', (e) => {
      isDown = true;
      slider.classList.add('active');
      startX = e.pageX - slider.offsetLeft;
      scrollLeft = slider.scrollLeft;
    });
    slider.addEventListener('mouseleave', () => {
      isDown = false;
      slider.classList.remove('active');
    });
    slider.addEventListener('mouseup', () => {
      isDown = false;
      slider.classList.remove('active');
    });
    slider.addEventListener('mousemove', (e) => {
      if(!isDown) return;
      e.preventDefault();
      const x = e.pageX - slider.offsetLeft;
      const walk = (x - startX) * 3; //scroll-fast
      slider.scrollLeft = scrollLeft - walk;
      console.log(walk);
    });
  })
</script>
