<div class="container-seven" style="background-color: white">
  <h3 style="text-align: left;"><%= "Dashboard" %></h3>
    <%= link_to trainings_path do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>

 <div class="trainings-title">
   <ul class="nav nav-tabs">
       <li><%= link_to "Semaine", index_week_path, class: 'active' %></li>
       <li><%= link_to "Mois", index_month_path %></li>
    </ul>
 </div>

<div id='week_display'>
  <%= render 'calendar-week', trainings: @trainings %>
</div>
