<div class="container-new-form">
  <h2>Créer une nouvelle formation</h2>

  <%= simple_form_for @training do |f| %>
    <%= f.input :title %>
    <%= f.input :client_contact_id, :collection => @clients.order(:name), :label_method => :name, :label => 'Client', :include_blank => false %>
    <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.input :participant_number, input_html: { min: '0' } %>
    <p class="center-button"> <%= f.submit class: 'btn btn-edit' %> </p>
  <% end %>
</div>
