<div class="container-seven">
  <div class="training-info-headers">
    <%= link_to trainings_path, class: 'btn return-arrow' do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
    <% if ['super admin', 'admin', 'training manager'].include? current_user.access_level %>
      <div class="training-info-headers-buttons">
        <a class="btn btn-edit btn-edit-pen" data-toggle='modal' type='button' data-target='#editTraining'><i class="fas fa-pen"></i></a>
        <a class='btn btn-edit-green btn-edit-copy' data-toggle='modal' data-target='#copyTraining'><i class="fas fa-copy"></i></a>
        <button class='btn btn-edit-grey btn-edit-menu dropdown-toggle' id="dropdownMenuButton" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></button>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><%= link_to 'New estimate',new_invoiceitem_path(training_id: @training.id, client_company_id: @training.client_contact.client_company.id, type: 'Estimate'), method: :post %></li>
          <li><%= link_to 'New invoice', new_invoiceitem_path(training_id: @training.id, client_company_id: @training.client_contact.client_company.id, type: 'Invoice'), method: :post %></li>
          <li><%= link_to 'Invoices List', invoice_items_path(training_id: @training.id) %></li>
          <% if @training.forms.empty? %>
            <li><a data-toggle='modal' type='button' data-target='#newForm' style='cursor:pointer;'>New form</a></li>
          <% else %>
            <li><%= link_to 'Forms list', training_forms_path(@training) %></li>
          <% end %>
        </ul>
      </div>
    <% elsif @training.session_trainers.where(user_id: current_user.id).any? %>
        <%# link_to new_sevener_invoice_path(training_id: @training.id, client_company_id: @training.client_contact.client_company.id, type: 'InvoiceSevener'), method: :post do %>
          <!-- <button class="btn btn-edit">Create my invoice</button> -->
        <%# end %>
    <% end %>
  </div>
  <div class="middle-info">
    <div class='middle-info-main'>
      <% if @training.mode == 'Company' %>
        <h3><i class="fas fa-user-tie"></i> &nbsp; <%= @training.title %></h3>
      <% elsif @training.mode == 'School' %>
        <h3><i class="fas fa-user-graduate"></i> &nbsp; <%= @training.title %></h3>
      <% end %>
      <h4><%="From #{@training.start_date.strftime('%d/%m/%y')} to #{@training.end_date.strftime('%d/%m/%y')}" %></h4>
    </div>
    <div>
      <div style="display: table;margin: 0 auto">
        <ul id="owner">
          <% @training.users.each do |user| %>
          <li>
            <a data-toggle='modal' data-target='#consultUser<%= user.id %>'><img src='<%= "#{user.picture}" %>' alt="" class='avatar-sm'></a>
          </li>
          <% end %>
          <% if (['super admin', 'admin', 'training manager'].include? current_user.access_level) %>
            <% if @training.users.count > 1 %>
              <li><button class='btn btn-add-user' data-toggle='modal' data-target='#newOwner'>Owners</button></li>
            <% else %>
              <li><button class='btn btn-add-user' data-toggle='modal' data-target='#newOwner'>Owner</button></li>
            <% end %>
          <% else %>
            <% if @training.users.count > 1 %>
              <li><button class='btn btn-add-user btn-add-user-disabled'>Owners</button></li>
            <% else %>
              <li><button class='btn btn-add-user btn-add-user-disabled'>Owner</button></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="middle-info2">
    <div>
      <% trainers = 0 %>
      <% @training.sessions.each do |session| %>
        <% trainers += session.users.count %>
      <% end %>
      <div class='trainer-div'>
        <ul id="trainer">
          <% trainer_array = [] %>
          <% @training.sessions.each do |session| %>
            <% session.users.each do |trainer| %>
              <% trainer_array << trainer %>
              <% unless trainer_array.count(trainer) > 1 %>
                <li><a data-toggle='modal' data-target='#consultUser<%= trainer.id %>'><img src='<%= "#{trainer.picture}" %>' alt="" class='avatar-sm'></a></li>
              <% end %>
            <% end %>
          <% end %>
          <% if trainer_array.uniq.count > 1 %>
            <li><button class='btn btn-add-user-disabled'>Trainers</button></li>
          <% else %>
            <li><button class='btn btn-add-user-disabled'>Trainer</button></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="training-info">
    <% session_number = 0 %>
    <div class="sessions-cards">
      <% @training.sessions.order(:date, :start_time).each do |session| %>
        <% session_number +=1 %>
        <% if ['super admin', 'admin', 'project manager'].include?(current_user.access_level) || session.users.include?(current_user) %>
          <div class="card-lg">
            <div class="card-footer-lg">
              <% if session.start_time && session.end_time %>
                <div><p> <%="#{session.date.strftime('%d/%m/%y')}"%> </p></div>
                <div><p><%= " #{session.start_time.strftime("%k:%M")} to #{session.end_time.strftime("%k:%M")}" %></p></div>
                <div><i class="fas fa-users"></i><p style='margin-left: 5px;'><%= session.attendee_number %></p></div>
                <% if ['super admin', 'admin', 'project manager', 'HR'].include?(current_user.access_level) %>
                  <button class="edit-fafa" data-toggle='modal' data-target='#addTrainer<%= session.id %>'><i class="fas fa-user-astronaut"></i></button>
                  <button class="edit-fafa" data-toggle='modal' data-target='#editSession<%= session.id %>'><i class="fas fa-pen"></i></button>
                  <button class='edit-fafa session_copy' id="<%= session.id %>" data-toggle='modal' data-target='#copySession<%= session.id %>'><i class="fas fa-copy"></i></button>
                <% end %>
              <% end %>
            </div>
            <div class="card-main-lg">
              <%= link_to training_session_path(session.training, session), class: 'stretched-link' do %>
                <div class="card-session-header">
                  <h3><%= session.title %></h3>
                  <div style='display:flex;align-items:center;position: absolute;right: 130px;top: -48px;'>
                    <ul id="owner-session-index">
                      <% session.users.each do |user| %>
                        <li>
                          <a class="edit-fafa" data-toggle='modal' data-target='#consultUser<%= user.id %>'><img src='<%= "#{user.picture}" %>' alt="" class='avatar-sm'></a>
                        </li>
                        <div class="modal fade" id="consultUser<%= user.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                          <div class="modal-dialog" role="document" style="border-radius: 20px">
                            <%= render 'users/consult', user: user %>
                          </div>
                        </div>
                      <% end %>
                    </ul>
                  </div>
                </div>
                <div class="mods-list">
                  <ul>
                    <% list = session.workshops %>
                    <% list.order(:position).each do |mod| %>
                      <li>
                        <%= "#{mod.title} - #{mod.duration} min" %>
                      </li>
                    <% end %>
                  </ul>
                  <h4 class='card-session-number'><%= session_number %>/<%= @training.sessions.count %> </h4>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="training-info-footer">
    <% if (['super admin', 'admin', 'training manager'].include? current_user.access_level) && (@training.mode == 'Company' || @training.mode.nil?) %>
      <a class='btn btn-edit' id='add-session-button' data-toggle='modal' data-target='#newSession'>Add a session</a>
      <% elsif (['super admin', 'admin', 'training manager'].include? current_user.access_level) && @training.mode == 'School'%>
      <%= link_to 'Add a session', new_training_session_path(@training), class: 'btn btn-edit' %>
    <% end %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editTraining" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="border-radius: 20px">
    <%= render 'edit', training: @training %>
  </div>
</div>

<div class="modal fade" id="copyTraining" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="border-radius: 20px">
    <%= render 'copy', training: @training %>
  </div>
</div>

<div class="modal fade" id="newOwner" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document" style="border-radius: 20px">
    <%= render 'training_ownerships/new', training_owner: @training_ownership %>
  </div>
</div>

<div class="modal fade" id="newForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document" style="border-radius: 20px">
    <%= render 'forms/new', form: @form %>
  </div>
</div>

<% @training.sessions.order(:date).each do |session| %>
  <div class="modal fade" id="editSession<%= session.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="border-radius: 20px">
      <%= render '/sessions/edit', session: session %>
    </div>
  </div>
  <div class="modal fade" id="addTrainer<%= session.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document" style="border-radius: 20px">
      <% @session = session %>
      <%= render '/session_trainers/new', session: @session, session_trainer: SessionTrainer.new %>
    </div>
  </div>
  <div class="modal fade" id="copySession<%= session.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="border-radius: 20px">
      <%= render 'sessions/copy', session: session %>
    </div>
  </div>
<% end %>

<div class="modal fade" id="newSession" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="border-radius: 20px">
    <%= render '/sessions/new' %>
  </div>
</div>

<% @training.sessions.each do |session| %>
  <% session.users.each do |trainer| %>
    <div class="modal fade" id="consultUser<%= trainer.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document" style="border-radius: 20px">
        <%= render 'users/consult', user: trainer, training: @training %>
      </div>
    </div>
  <% end %>
<% end %>
