<div class="container-seven">
  <div class="training-info-headers">
    <%= link_to trainings_path do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
    <% if ['super admin', 'admin', 'training manager'].include? current_user.access_level %>
      <div>
        <%= link_to new_invoiceitem_path(training_id: @training.id, client_company_id: @training.client_contact.client_company.id, type: 'Estimate'), method: :post do %>
          <button class="btn btn-edit">Créer un devis</button><% end %>
        <% if @training.end_date >= Date.today %>
          <%= link_to new_invoiceitem_path(training_id: @training.id, client_company_id: @training.client_contact.client_company.id, type: 'Invoice'), method: :post do %>
            <button class="btn btn-edit">Créer une facture</button><% end %>
        <% else %>
          <%= link_to new_invoiceitem_path(training_id: @training.id, client_company_id: @training.client_contact.client_company.id, type: 'Invoice'), method: :post do %>
            <button class="btn btn-edit-red">Créer une facture</button><% end %>
        <% end %>
        <%= link_to invoice_items_path(training_id: @training.id) do %>
          <button class="btn btn-edit">Liste Factures</button><% end %>
      </div>
    <% elsif @training.session_trainers.where(user_id: current_user.id).any? %>
      <div>
        <%= link_to new_sevener_invoice_path(training_id: @training.id, client_company_id: @training.client_contact.client_company.id, type: 'InvoiceSevener'), method: :post do %>
            <button class="btn btn-edit">Créer ma facture</button><% end %>
      </div>
    <% end %>
  </div>
  <div class="middle-info">
    <div class='middle-info-main'>
      <h3><%= @training.title %>    <a class="edit-fafa" data-toggle='modal' data-target='#editTraining'><i class="fas fa-edit"></i></a></h3>
      <h4><%="From #{@training.start_date.strftime('%d/%m/%y')} to #{@training.end_date.strftime('%d/%m/%y')}" %> - <i class="fas fa-user"> </i> <%= "#{@training.participant_number}"%> </h4>
    </div>
      <div style="display: flex;align-items: center;justify-content: space-between;">
        <ul id="owner">
          <% @training.users.each do |user| %>
          <li>
            <a class="edit-fafa" data-toggle='modal' data-target='#consultUser<%= user.id %>'><img src='<%= "#{user.picture}" %>' alt="" class='avatar-sm'></a>
          </li>
          <div class="modal fade" id="consultUser<%= user.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document" style="border-radius: 20px">
              <%= render 'users/consult', user: user %>
            </div>
          </div>
          <% end %>
        </ul>
        <% if ['super admin', 'admin', 'training manager'].include? current_user.access_level %>
          <button class='user-fafa' data-toggle='modal' data-target='#newOwner'><i class="fas fa-user-plus"></i></button>
          <button class='user-fafa' data-toggle='modal' data-target='#destroyOwner'><i class="fas fa-user-minus"></i></button>
        <% end %>
      </div>
  </div>
  <div class="training-info">
    <% session_number = 0 %>
    <div class="sessions-cards">
      <% @training.sessions.order(:date).each do |session| %>
        <% session_number +=1 %>
        <%= link_to training_session_path(session.training, session) do %>
        <div class="card-lg">
          <div class="card-main-lg">
            <div class="card-session-header">
              <h3><%= session.title %></h3>
              <h3><%= session_number %>/<%= @training.sessions.count %> <a class="edit-fafa" data-toggle='modal' data-target='#editSession<%= session.id %>'><i class="fas fa-edit"></i></a></h3>
            </div>
            <div class="mods-list">
              <ul>
                <% list = session.workshops %>
                <% list.order(:position).each do |mod| %>
                  <li>
                    <%= "#{mod.title} - #{mod.duration} min" %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="card-footer-lg">
            <% if session.start_time && session.end_time %>
              <p> <%="#{session.date.strftime('%d/%m/%y')}"%> </p><div><i class="far fa-hourglass"></i><%= " #{session.start_time.strftime("%k:%M")} to #{session.end_time.strftime("%k:%M")}" %>
            </div>
            <% end %>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="training-info-footer">
    <% if ['super admin', 'admin', 'training manager'].include? current_user.access_level %>
      <%= link_to new_training_session_path(@training) do %>
      <button class="btn btn-edit">Ajouter une session</button><% end %>
    <% end %>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editTraining" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="border-radius: 20px">
    <%= render 'edit', training: @training %>
  </div>
</div>

<div class="modal fade" id="newOwner" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="border-radius: 20px">
    <%= render 'training_ownerships/new', training_owner: @ownership %>
  </div>
</div>

<div class="modal fade" id="destroyOwner" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="border-radius: 20px">
    <%= render 'training_ownerships/destroy', training_owner: @ownership %>
  </div>
</div>

<% @training.sessions.order(:date).each do |session| %>
<div class="modal fade" id="editSession<%= session.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document" style="border-radius: 20px">
    <%= render '/sessions/edit', session: session %>
  </div>
</div>
<% end %>
