<div class="container-seven">
  <div class="training-info-headers">
    <%= link_to trainings_path, class: 'btn return-arrow' do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
    <% if ['super admin', 'admin', 'training manager'].include? current_user.access_level %>
      <div class="training-info-headers-buttons">
        <a class="btn btn-edit btn-edit-pen" data-toggle='modal' type='button' data-target='#editTraining'><i class="fas fa-pen"></i></a>
        <button class='btn btn-edit-grey btn-edit-menu dropdown-toggle' id="dropdownMenuButton" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></button>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><%= link_to 'Create an estimate',new_invoiceitem_path(training_id: @training.id, client_company_id: @training.client_contact.client_company.id, type: 'Estimate'), method: :post %></li>
          <li><%= link_to 'Create an invoice', new_invoiceitem_path(training_id: @training.id, client_company_id: @training.client_contact.client_company.id, type: 'Invoice'), method: :post %></li>
          <li><%= link_to 'Invoices List', invoice_items_path(training_id: @training.id) %></li>
          <li><%= link_to 'Participants', training_attendees_form_path(training_id: @training.id) %></li>
        </ul>
      </div>
    <% elsif @training.session_trainers.where(user_id: current_user.id).any? %>
      <div>
        <%= link_to new_sevener_invoice_path(training_id: @training.id, client_company_id: @training.client_contact.client_company.id, type: 'InvoiceSevener'), method: :post do %>
            <button class="btn btn-edit">Créer ma facture</button><% end %>
      </div>
    <% end %>
  </div>
  <div class="middle-info">
    <div class='middle-info-main'>
      <h3><%= @training.title %></h3>
      <h4><%="From #{@training.start_date.strftime('%d/%m/%y')} to #{@training.end_date.strftime('%d/%m/%y')}" %></h4>
    </div>
    <div>
      <% if @training.users.count > 1 %>
        <h4>Owners</h4>
      <% else %>
        <h4>Owner</h4>
      <% end %>
      <div style="display: table;margin: 0 auto">
        <ul id="owner">
          <% @training.users.each do |user| %>
          <li>
            <a class='edit-fafa' data-toggle='modal' data-target='#consultUser<%= user.id %>'><img src='<%= "#{user.picture}" %>' alt="" class='avatar-sm'></a>
          </li>
          <% end %>
          <% if (['super admin', 'admin', 'training manager'].include? current_user.access_level) && @training.users.count < 2 %>
            <li><button class='add-user' data-toggle='modal' data-target='#newOwner'><i class="fas fa-plus"></i></button></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="middle-info2">
    <div>
      <% trainers = 0 %>
      <% @training.sessions.each do |session| %>
        <% trainers += session.users.count %>
      <% end %>
      <% if trainers < 2 %>
        <h4>Trainer</h4>
      <% else %>
        <h4>Trainers</h4>
      <% end %>
      <div class='trainer-div'>
        <ul id="trainer">
          <% trainer_array = [] %>
          <% @training.sessions.each do |session| %>
            <% session.users.each do |trainer| %>
              <% trainer_array << trainer %>
              <% if trainer_array.uniq.count == trainer_array.count %>
                <li><a class='edit-fafa' data-toggle='modal' data-target='#consultUser<%= trainer.id %>'><img src='<%= "#{trainer.picture}" %>' alt="" class='avatar-sm'></a></li>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="training-info">
    <% session_number = 0 %>
    <div class="sessions-cards">
      <% @training.sessions.order(:date).each do |session| %>
        <% session_number +=1 %>
        <% if ['super admin', 'admin', 'project manager'].include?(current_user.access_level) || session.users.include?(current_user) %>
          <div class="card-lg">
            <div class="card-footer-lg">
              <% if session.start_time && session.end_time %>
                <p> <%="#{session.date.strftime('%d/%m/%y')}"%> </p>
                <div><p><%= " #{session.start_time.strftime("%k:%M")} to #{session.end_time.strftime("%k:%M")}" %></p></div>
                <i class="fas fa-users"> <%= session.attendee_number %></i>
                <button class="edit-fafa" data-toggle='modal' data-target='#editSession<%= session.id %>'><i class="fas fa-pen"></i></button>
              <% end %>
            </div>
              <div class="card-main-lg">
                <%= link_to training_session_path(session.training, session), class: 'stretched-link' do %>
                  <div class="card-session-header">
                    <h3><%= session.title %></h3>
                    <div style='display:flex;align-items:center;'>
                      <ul id="owner-session-index">
                        <% session.users.each do |user| %>
                          <li>
                            <a class="edit-fafa" data-toggle='modal' data-target='#consultUser<%= user.id %>'><img src='<%= "#{user.picture}" %>' alt="" class='avatar-sm'></a>
                          </li>
                          <div class="modal fade" id="consultUser<%= user.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document" style="border-radius: 20px">
                              <%= render 'users/consult', user: user %>
                            </div>
                          </div>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                  <div class="mods-list">
                    <ul>
                      <% list = session.workshops %>
                      <% list.order(:position).each do |mod| %>
                        <li>
                          <%= "#{mod.title} - #{mod.duration} min" %>
                        </li>
                      <% end %>
                    </ul>
                    <h4 class='card-session-number'><%= session_number %>/<%= @training.sessions.count %> </h4>
                  </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="training-info-footer">
    <% if ['super admin', 'admin', 'training manager'].include? current_user.access_level %>
      <a class='btn btn-edit' id='add-session-button' data-toggle='modal' data-target='#newSession'>Ajouter une session</a>
    <% end %>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editTraining" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="border-radius: 20px">
    <%= render 'edit', training: @training %>
  </div>
</div>

<div class="modal fade" id="newOwner" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="border-radius: 20px">
    <%= render 'training_ownerships/new', training_owner: @training_ownership %>
  </div>
</div>

<% @training.sessions.order(:date).each do |session| %>
<div class="modal fade" id="editSession<%= session.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="border-radius: 20px">
    <%= render '/sessions/edit', session: session %>
  </div>
</div>
<% end %>

<div class="modal fade" id="newSession" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="border-radius: 20px">
    <%= render '/sessions/new', session: @session %>
  </div>
</div>

<% @training.sessions.each do |session| %>
  <% session.users.each do |trainer| %>
    <div class="modal fade" id="consultUser<%= trainer.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document" style="border-radius: 20px">
        <%= render 'users/consult', user: trainer, training: @training %>
      </div>
    </div>
  <% end %>
<% end %>
