<div class="container-seven-large">
  <div id='page-controls'>
    <%= link_to trainings_path, class: 'btn return-arrow' do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
    <% if ['super admin', 'admin', 'training manager'].include? current_user.access_level %>
      <div class="page-controls-buttons flex-row-between-centered">
        <a class="btn btn-edit-yellow btn-icon" data-toggle='modal' type='button' data-target='#editTraining' data-toggle="tooltip" title="Edit"><i class="fas fa-pen"></i></a>
        <%= link_to remove_training_trainers_path(training_id: @training.id), class: "btn btn-edit-red btn-icon", data: { toggle: 'tooltip', confirm: 'Are you sure ?'}, title: 'Delete' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <a class='btn btn-edit-green btn-icon' data-toggle='modal' data-target='#copyTraining' data-toggle="tooltip" title="Copy"><i class="fas fa-copy"></i></a>
        <button class='btn btn-edit-grey btn-icon dropdown-toggle' id="dropdownMenuButton" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></button>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a data-toggle='modal' data-target='#addAttendees' data-toggle="tooltip" title="Add Participants">Add participants</a></li>
          <li><%= link_to 'New estimate',new_invoiceitem_path(training_id: @training.id, client_company_id: @training.client_contact.client_company.id, type: 'Estimate'), method: :post %></li>
          <li><%= link_to 'Estimates List', invoice_items_path(training_id: @training.id, type: 'Estimate') %></li>
          <li><%= link_to 'New invoice', new_invoiceitem_path(training_id: @training.id, client_company_id: @training.client_contact.client_company.id, type: 'Invoice'), method: :post %></li>
          <!-- <li><a data-toggle='modal' type='button' data-target='#newSevenerInvoice' style='cursor:pointer;'>New Sevener Invoice</a></li> -->
          <li><%= link_to 'Invoices List', invoice_items_path(training_id: @training.id, type: 'Invoice') %></li>
          <li><%= link_to 'Orders List', invoice_items_path(training_id: @training.id, type: 'Order') %></li>
          <% if @training.forms.empty? %>
            <li><a data-toggle='modal' type='button' data-target='#newForm' style='cursor:pointer;'>New form</a></li>
          <% else %>
            <li><%= link_to 'Forms list', training_forms_path(@training) %></li>
          <% end %>
        </ul>
      </div>
    <% else %>
      <div class="page-controls-buttons flex-row-between-centered">
        <a class='btn btn-edit-green btn-icon' data-toggle='modal' data-target='#reviewSevener' data-toggle="tooltip" title="Review"><i class="fas fa-copy"></i></a>
      </div>
    <% end %>
  </div>
  <div class="middle-info">
    <div class='middle-info-main'>
      <% if @training.mode == 'Company' %>
        <h3><%= @training.title %></h3>
      <% elsif @training.mode == 'School' %>
        <h3><%= @training.title %></h3>
      <% end %>
      <p><%="From #{@training.sessions.order(date: :asc).first&.date&.strftime('%d/%m/%y')} to #{@training.sessions.order(date: :asc).last&.date&.strftime('%d/%m/%y')}" %></p>
    </div>
    <div class='middle-info-user'>
      <div>
        <ul id="owner">
          <% @training.owners.each do |user| %>
            <li>
              <a data-toggle='modal' data-target='#consultUser<%= user.id %>'><img src='<%= "#{user.picture}" %>' alt="" class='avatar-sm' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'></a>
            </li>
            <div class="modal fade" id="consultUser<%= user.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
              <div class="modal-dialog" role="document" style="border-radius: 2rem">
                <%= render 'users/consult', user: user, training: @training %>
              </div>
            </div>
          <% end %>
          <% if (['super admin', 'admin', 'training manager'].include? current_user.access_level) %>
            <% if @training.users.count > 1 %>
              <li><button class='btn btn-add-user' data-toggle='modal' data-target='#newOwner'>Owners</button></li>
            <% else %>
              <li><button class='btn btn-add-user' data-toggle='modal' data-target='#newOwner'>Owner</button></li>
            <% end %>
          <% else %>
            <% if @training.users.count > 1 %>
              <li><button class='btn btn-add-user btn-add-user-disabled'>Owners</button></li>
            <% else %>
              <li><button class='btn btn-add-user btn-add-user-disabled'>Owner</button></li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div>
        <ul id="writer">
          <% @training.writers.each do |user| %>
            <li>
              <a data-toggle='modal' data-target='#consultUser<%= user.id %>'><img src='<%= "#{user.picture}" %>' alt="" class='avatar-sm' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'></a>
            </li>
            <div class="modal fade" id="consultUser<%= user.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
              <div class="modal-dialog" role="document" style="border-radius: 2rem">
                <%= render 'users/consult', user: user, training: @training %>
              </div>
            </div>
          <% end %>
          <% if (['super admin', 'admin', 'training manager'].include? current_user.access_level) %>
            <% if @training.users.count > 1 %>
              <li><button class='btn btn-add-user' data-toggle='modal' data-target='#newWriter'>Writers</button></li>
            <% else %>
              <li><button class='btn btn-add-user' data-toggle='modal' data-target='#newWriter'>Writer</button></li>
            <% end %>
          <% else %>
            <% if @training.users.count > 1 %>
              <li><button class='btn btn-add-user btn-add-user-disabled'>Writers</button></li>
            <% else %>
              <li><button class='btn btn-add-user btn-add-user-disabled'>Writer</button></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="middle-info2">
    <p id='survey-link' class='btn btn-add-user'>Link to survey : <%= @training.satisfaction_survey %></p>
    <% if ['super admin', 'admin', 'training manager'].include?(current_user.access_level) %>
      <%= simple_form_for @training, html: { class: "hidden", id: 'survey-form' } do |f| %>
        <div style="display:flex;flex-direction:row;justify-content:space-between;align-items: center; height:100%;">
          <%= f.input :satisfaction_survey, placeholder: 'Add a link to the survey', value: @training.satisfaction_survey, label: false, input_html: { style: 'width: 200px;'} %>
          <%= button_tag type: 'submit', class: 'btn btn-add-user', input_html: { style: 'height: 3.5rem' } do %>
            Update
          <% end %>
        </div>
      <% end %>
    <% end %>
    <div>
      <% trainers = 0 %>
      <% @training.sessions.each do |session| %>
        <% trainers += session.users.count %>
      <% end %>
      <div class='trainer-div'>
        <% if ['super admin', 'admin', 'training manager'].include?(current_user.access_level) %>
          <ul id="trainer">
            <% trainer_array = [] %>
            <% @training.sessions.each do |session| %>
              <% session.users.each do |trainer| %>
                <% trainer_array << trainer %>
                <% unless trainer_array.count(trainer) > 1 %>
                  <li><a data-toggle='modal' data-target='#consultUser<%= trainer.id %>' data-toggle="tooltip" title="User Infos"><img src='<%= "#{trainer.picture}" %>' alt="" class='avatar-sm' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'></a></li>
                <% end %>
              <% end %>
            <% end %>
            <% if (['super admin', 'admin', 'training manager'].include? current_user.access_level) %>
              <% if trainer_array.uniq.count > 1 %>
                <li><button class='btn btn-add-user' data-toggle='modal' data-target='#newTrainers'>Trainers</button></li>
              <% else %>
                <li><button class='btn btn-add-user' data-toggle='modal' data-target='#newTrainers'>Trainer</button></li>
              <% end %>
            <% else %>
              <% if trainer_array.uniq.count > 1 %>
                <li><button class='btn btn-add-user btn-add-user-disabled'>Trainers</button></li>
              <% else %>
                <li><button class='btn btn-add-user btn-add-user-disabled'>Trainer</button></li>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
  <div class="training-info">
    <% session_number = 0 %>
    <div class="sessions-cards">
      <% @training.sessions.order(:date, :start_time).each do |session| %>
        <% session_number +=1 %>
        <% if ['super admin', 'admin', 'project manager'].include?(current_user.access_level) || session.users.include?(current_user) %>
          <div class="card-lg">
            <div class="card-footer-lg">
              <% if session.start_time && session.end_time %>
                <div><p> <%="#{session&.date&.strftime('%d/%m/%y')}"%> </p></div>
                <div><p><%= " #{session.start_time.strftime("%k:%M")} to #{session.end_time.strftime("%k:%M")}" %></p></div>
                <div><i class="fas fa-users"></i><p style='margin-left: 0.5rem;'><%= session.attendees.count %>/<%= session.attendee_number %></p></div>
                <% if ['super admin', 'admin', 'project manager'].include?(current_user.access_level) %>
                  <button class="edit-fafa" data-toggle='modal' data-target='#addTrainer<%= session.id %>' data-toggle="tooltip" title="Add Trainer"><i class="fas fa-user-astronaut"></i></button>
                  <button class="edit-fafa" data-toggle='modal' data-target='#editSession<%= session.id %>' data-toggle="tooltip" title="Edit"><i class="fas fa-pen"></i></button>
                  <%= link_to training_copy_form_session_path(session.training, session), data: { toggle: 'tooltip'}, title: 'Copy Session' do %>
                    <button class='edit-fafa session_copy'><i class="fas fa-copy"></i></button>
                  <% end %>
                <% else %>
                  <button class="edit-fafa disabled" data-toggle="tooltip" title="Disabled"><i class="fas fa-user-astronaut"></i></button>
                  <button class="edit-fafa disabled" data-toggle="tooltip" title="Disabled"><i class="fas fa-pen"></i></button>
                  <a class='disabled' data-toggle="tooltip" title="Disabled">
                    <button class='edit-fafa session_copy disabled'><i class="fas fa-copy"></i></button>
                  </a>
                <% end %>
              <% end %>
            </div>
            <div class="card-main-lg">
              <%= link_to training_session_path(session.training, session), class: 'stretched-link' do %>
                <div class="card-session-header">
                  <h3><%= session.title %></h3>
                  <div style='display:flex;align-items:center;position: absolute;right: 160px;top: -48px;'>
                    <ul id="owner-session-index">
                      <% session.users.each do |user| %>
                        <li>
                          <a class="edit-fafa" data-toggle='modal' data-target='#consultUser<%= user.id %>'><img src='<%= "#{user.picture}" %>' alt="" class='avatar-sm' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'></a>
                        </li>
                        <div class="modal fade" id="consultUser<%= user.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                          <div class="modal-dialog" role="document" style="border-radius: 2rem">
                            <%= render 'users/consult', user: user %>
                          </div>
                        </div>
                      <% end %>
                    </ul>
                  </div>
                </div>
                <div class="mods-list">
                  <ul>
                    <% list = session.workshops %>
                    <% list.order(:position).each do |mod| %>
                      <li>
                        <%= "#{mod.title} - #{mod.duration} min" %>
                      </li>
                    <% end %>
                  </ul>
                  <h4 class='card-session-number'><%= session_number %>/<%= @training.sessions.count %> </h4>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="training-info-footer">
    <% if (['super admin', 'admin', 'training manager'].include? current_user.access_level) && (@training.mode == 'Company' || @training.mode.nil?) %>
      <a class='btn btn-edit-yellow' id='add-session-button' data-toggle='modal' data-target='#newSession'>Add a session</a>
      <% elsif (['super admin', 'admin', 'training manager'].include? current_user.access_level) && @training.mode == 'School'%>
      <%= link_to 'Add a session', new_training_session_path(@training), class: 'btn btn-edit-yellow' %>
    <% end %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editTraining" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document" style="border-radius: 2rem">
    <%= render 'edit', training: @training %>
  </div>
</div>

<div class="modal fade" id="copyTraining" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document" style="border-radius: 2rem">
    <%= render 'copy', training: @training %>
  </div>
</div>

<div class="modal fade" id="newOwner" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm" role="document" style="border-radius: 2rem">
    <%= render 'training_ownerships/new_owner', training_owner: @training_ownership %>
  </div>
</div>

<div class="modal fade" id="newWriter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm" role="document" style="border-radius: 2rem">
    <%= render 'training_ownerships/new_writer', training_owner: @training_ownership %>
  </div>
</div>

<div class="modal fade" id="newTrainers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm" role="document" style="border-radius: 2rem">
    <%= render 'session_trainers/new_trainers', training: @training %>
  </div>
</div>

<div class="modal fade" id="newForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm" role="document" style="border-radius: 2rem">
    <%= render 'forms/new', form: @form %>
  </div>
</div>

<div class="modal fade" id="newSevenerInvoice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm" role="document" style="border-radius: 2rem">
    <%# render 'invoice_items/new_sevener_invoice', form: @form %>
  </div>
</div>

<% @training.sessions.order(:date).each do |session| %>
  <div class="modal fade" id="editSession<%= session.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document" style="border-radius: 2rem">
      <%= render '/sessions/edit', session: session %>
    </div>
  </div>
  <div class="modal fade" id="addTrainer<%= session.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm" role="document" style="border-radius: 2rem">
      <% @session = session %>
      <%= render '/session_trainers/new', session: @session, session_trainer: SessionTrainer.new %>
    </div>
  </div>
<% end %>

<div class="modal fade" id="newSession" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document" style="border-radius: 2rem">
    <%= render '/sessions/new' %>
  </div>
</div>

<div class="modal fade" id="addAttendees" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document" style="border-radius: 20px">
    <%= render 'session_attendees/new_all', training: @training %>
  </div>
</div>

<% @training.sessions.each do |session| %>
  <% session.users.each do |trainer| %>
    <div class="modal fade" id="consultUser<%= trainer.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog" role="document" style="border-radius: 2rem">
        <%= render 'users/consult', user: trainer, training: @training %>
      </div>
    </div>
  <% end %>
<% end %>

<% if ['sevener+', 'sevener'].include?(current_user.access_level) %>
  <div class="modal fade" id="reviewSevener" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document" style="border-radius: 20px">
      <%= render 'invoice_items/review_sevener', training: @training, sevener: current_user %>
    </div>
  </div>
<% end %>

<% if ['super admin', 'admin', 'training manager'].include?(current_user.access_level) %>
  <script>
    survey = document.getElementById('survey-link');
    form = document.getElementById('survey-form');
    survey.addEventListener('click', (event) => {
      survey.classList.toggle('hidden');
      form.classList.toggle('hidden');
    })
  </script>
<% end %>
