<div class="container-seven">
  <div class="training-info-headers">
    <%= link_to merchandises_path, class: 'btn return-arrow' do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
  </div>
  <h3>Edit a Product</h3>
  <%= simple_form_for @merchandise do |f| %>
    <%= f.input :name %>
    <%= f.label :description %>
    <%= f.cktext_area :description %>
    <%= f.association :theme, collection: Theme.all, include_blank: false %>
    <div style=" display: flex; justify-content: space-between;">
      <%= button_tag type: 'submit', class: 'btn btn-edit-green btn-edit-disk' do %>
        <i class="fas fa-save"></i>
      <% end %>
      <%= link_to merchandise_path(@merchandise), method: :delete, data: { confirm: 'Are you sure ?'} do %>
        <button class="btn btn-edit-red btn-edit-trash">
          <i class="fas fa-trash-alt"></i>
        </button>
      <% end %>
    </div>
  <% end %>
</div>
