<div class="container-seven">
  <div class="training-info-headers">
    <%= link_to request.referer.present? ? request.referer : merchandises_path, class: 'btn return-arrow' do %><i class="fas fa-arrow-left"></i><% end %>
    <% if ['super admin', 'admin', 'training manager'].include? (current_user.access_level) %>
      <%= link_to edit_merchandise_path(@merchandise), class: 'edit-fafa btn btn-edit btn-edit-pen' do %>
        <i class="fas fa-pen"></i>
      <% end %>
    <% end %>
  </div>
  <h3><%= @merchandise.name %></h3>
  <br>
  <p><%= @merchandise.description.html_safe %></p>
  <br>
  <% if Request.where(merchandise_id: @merchandise.id, user_id: current_user.id).empty? %>
    <%= link_to "Je m'inscris !", requests_path(merchandise: @merchandise.id), method: :post, class: 'btn btn-edit-green' %>
  <% else %>
    <%= link_to "Je me désinscris !", request_path(Request.where(user_id: current_user.id).first, merchandise: @merchandise.id), method: :delete, data: { confirm: 'Etes vous certain de vouloir vous supprimer votre requête ?'}, class: 'btn btn-edit-red' %>
  <% end %>
  <% if current_user.access_level == 'HR' %>
    <p><%= "#{(Request.joins(:user).where(users: { client_company_id: current_user.client_company.id }).where(merchandise_id: @merchandise.id)).count} demande(s)" %></p>
    <a class='btn btn-edit-green' data-toggle='modal' data-target='#newBooking'>Faire une demande de formation</a>
  <% end %>
</div>

<!-- Modal -->
<div class="modal fade" id="newBooking" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="border-radius: 20px">
    <%= render 'bookings/new', merchandise: @merchandise %>
  </div>
</div>
