<% @previous = session.workshops.find_by(position: (mod.position - 1)) %>
<% total_duration = 0 %>
<% exceed = [] %>
<% mod.session.workshops.each do |mod| %>
  <% total_duration += mod.duration %>
  <% exceed << mod.position if (total_duration * 60) > (mod.session.end_time - mod.session.start_time) %>
<% end %>
<div class="card card-mods grabbable" data-item-id="<%= mod.id %>">
  <div class="card-left align-elements-in-flexbox grabbable">
    <div class="mod-time">
      <%= start.strftime("%H:%M") %>
      <div class="circle"></div>
    </div>
  </div>
  <div class="card-right grabbable">
    <div class="card-category">
      <%= link_to training_session_workshop_path(mod.session.training, mod.session, mod), class: 'grabbable' do %>
        <div style='display:flex;justify-content:space-between;width:100%;'>
          <h4><%= "#{mod.title} - (#{mod.duration} min)" %></h4>
          <div class='card-controls'>
            <a class="button" data-toggle='modal' data-target='#editWorkshop<%= mod.id %>'><button class='btn'><i class="fas fa-edit"></i></button></a>
            <%= link_to training_session_workshop_path(mod.session.training, mod.session, mod), method: :delete, data: { confirm: 'Are you sure ?'}, remote: true do %>
              <button class='btn'><i class="fas fa-trash-alt"></i></button>
            <% end %>
          </div>
        </div>
      <% end %>
      <% if @error %>
        <p class='error'>Attention au rythme</p>
      <% end %>
      <% if exceed.include?(mod.position) %>
        <p class='error'>Durée de la session dépassée</p>
      <% end %>
    </div>
    <div class="card-description grabbable">
      <ul>
        <% mod.workshop_modules.order('position ASC').compact.each do |workmod| %>
          <li>
            <%= workmod.title %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editWorkshop<%= mod.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document" style="border-radius: 20px">
    <%= render 'workshops/edit', mod: mod  %>
  </div>
</div>
