<div class="container-seven">
  <div class="training-info-headers">
    <%= link_to training_session_path(@workshop.session.training, @workshop.session, anchor: @workshop.id), class: 'btn return-arrow' do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
    <% if ['super admin', 'admin', 'training manager'].include?(current_user.access_level) %>
      <div class="training-info-headers-buttons">
        <button class="btn btn-edit btn-edit-pen" data-toggle='modal' data-target='#editMod'><i class="fas fa-pen"></i></button>
        <%= link_to training_session_workshop_path(@workshop.session.training, @workshop.session, @workshop), class: "btn btn-edit btn-edit-red btn-edit-trash", method: :delete, data: { confirm: 'Are you sure ?'} do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <% unless @workshop.title.split(' ').first == 'Pause' %>
          <%= link_to training_session_save_workshop_path(@workshop.session.training, @workshop.session), data: { confirm: 'Do you want to save this workshop in the Database ?' }, class: 'btn btn-edit-green btn-edit-disk' do %>
            <i class="fas fa-cloud-upload-alt"></i>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="middle-info-workshop">
    <div class="middle-info-main">
      <h4><%= @workshop.title %> - (<%= @workshop.duration %> min)</h4>
      <% if @workshop.theme %>
        <p><%= @workshop.theme.name %></p>
      <% end %>
    </div>
    <% unless @workshop.title.split(' ').first == 'Pause' %>
      <!-- <a class='edit-fafa' data-toggle='modal' data-target='#viewImage'><img src="<%= @workshop.description %>" alt="" style='height:15rem;'></a> -->
      <div class='theory-list-title'>
        <p>Linked Theories
          <% if ['super admin', 'admin', 'training manager'].include?(current_user.access_level) %>
            <button class='user-fafa' data-toggle='modal' data-target='#newTheoryWorkshop'><i class="fas fa-plus"></i></button>
            <button class='user-fafa' data-toggle='modal' data-target='#destroyTheoryWorkshop'><i class="fas fa-minus"></i></button>
          <% end %>
        </p>
        <div class="theory-list">
          <% i = 0 %>
          <% @workshop.theories.each do |theory| %>
            <% if i == 0 %>
              <a data-toggle='modal' data-target="#theory-<%= theory.id %>" style='cursor:pointer;'><%= theory.name %></a>
            <% else %>
              <a data-toggle='modal' data-target="#theory-<%= theory.id %>"><%= " | #{theory.name}" %></a>
            <% end %>
            <% i += 1 %>
            <div class="modal fade" id="theory-<%= theory.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog modal-lg" role="document" style="border-radius: 2rem">
                <div class="modal-content">
                  <div class="modal-header">
                    <div id="modal-title" style=" display: flex; justify-content: space-between;">
                      <h3 class="modal-title" id="myModalLabel" style='color:black;'><%= theory.name %></h3>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style='color:black;'>&times;</span></button>
                  </div>
                  <div class="modal-body modal-image" id="modalNewBookinBody" style='color:black;'>
                    <div class="theory-description-modal">
                      <%= theory.description.html_safe %>
                    </div>
                    <div class="theory-references-modal">
                      <%= theory.references.html_safe %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="container mod-container">
      </div>
      <div id='content-mods'>
        <%= render 'workshop_modules/index', mod: @workshop %>
      </div>
    <% end %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editMod" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="border-radius: 2rem">
    <%= render 'edit', mod: @workshop %>
  </div>
</div>

<div class="modal fade" id="viewImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="border-radius: 2rem">
    <img src="<%= @workshop.description %>" alt="">
  </div>
</div>

<div class="modal fade" id="newTheoryWorkshop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="border-radius: 2rem">
    <%= render 'theory_workshops/new', theory_workshop: @theory_workshop %>
  </div>
</div>

<div class="modal fade" id="destroyTheoryWorkshop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="border-radius: 2rem">
    <%= render 'theory_workshops/destroy', theory_workshop: @theory_workshop %>
  </div>
</div>
