<div class="container-seven">
  <div class="training-info-headers">
    <%= link_to training_session_path(@workshop.session.training, @workshop.session) do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
    <div>
      <button class="btn btn-edit" data-toggle='modal' data-target='#editMod'>Editer cet atelier</button>
      <%= link_to training_session_workshop_path(@workshop.session.training, @workshop.session, @workshop), method: :delete, data: { confirm: 'Are you sure ?'} do %>
        <button class="btn btn-edit">Supprimer l'atelier</button>
      <% end %>
      <% unless @workshop.title.split(' ').first == 'Pause' %>
        <%= link_to save_workshop_path, data: { confirm: 'Voulez-vous sauvegarder ce contenu ?' } do %>
          <button class="btn btn-edit">Sauvegarder cet atelier</button>
        <% end %>
        <%= link_to new_training_session_workshop_workshop_module_path(@workshop.session.training, @workshop.session, @workshop) do %>
          <button class="btn btn-edit">Ajouter un module</button>
        <% end %>
      <% end %>
    </div>
  </div>
  <% if @workshop.theme %>
    <h2><%= @workshop.theme.name %></h2>
  <% end %>
  <br>
  <h4><%= @workshop.title %> - (<%= @workshop.duration %> minutes)</h4>
  <br>
  <% unless @workshop.title.split(' ').first == 'Pause' %>
    <a class="edit-fafa" data-toggle='modal' data-target='#viewImage'><img src="<%= @workshop.description %>" alt="" style='height:150px;'></a>
    <div class="container mod-container">
    </div>
    <div id='content-mods'>
      <%= render 'workshop_modules/index', mod: @workshop %>
    </div>
  <% end %>
</div>

<!-- Modal -->
<div class="modal fade" id="editMod" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="border-radius: 20px">
    <%= render 'edit', mod: @workshop %>
  </div>
</div>

<div class="modal fade" id="viewImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="border-radius: 20px">
    <img src="<%= @workshop.description %>" alt="">
  </div>
</div>

