<div class="container-seven container-seven-viewer">
  <div class="training-info-headers">
    <%= link_to training_session_viewer_path(@workshop.session.training, @workshop.session) do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
  </div>
  <h4><%= @workshop.title %></h4>
  <div class="container mod-container">
    <p><%= @workshop.duration %> minutes</p>
  <%= @workshop.description.html_safe %>
  <p><%= @workshop.theme.name %></p>
  </div>
  <div id='modules-viewer'>
    <h4>Modules List</h4>
    <% @workshop.workshop_modules.order('position ASC').each do |mod| %>
      <div class='module-card'>
        <div>
          <p><%= link_to mod.title, training_session_workshop_workshop_module_viewer_path(@workshop.session.training, @workshop.session, @workshop, mod) %> - (<%= mod.duration %> min)</p>
        </div>
        <%= mod.instructions.html_safe %>
        <% if mod.action1 %>
          <p>Action 1 (participant) : <%= mod.action1.name %></p>
        <% end %>
        <% if mod.action2 %>
          <p>Action 2 (participant) : <%= mod.action2.name %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
