<div class="container-seven container-seven-viewer">
  <div class="training-info-headers">
    <%= link_to session_viewer_path(@workshop.session) do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
  </div>
  <h4><%= @workshop.title %></h4>
  <div class="container mod-container">
    <p><%= @workshop.duration %> minutes</p>
  <%= @workshop.description.html_safe %>
  <p><%= @workshop.theme.name %></p>
  </div>
  <div id='content-mods'>
    <h4>Modules List</h4>
    <ul>
      <% @workshop.workshop_modules.order('position ASC').each do |mod| %>
        <li><div class='module-card'>
          <div>
            <p><%= link_to mod.title, workshop_module_viewer_path(mod) %> - (<%= mod.duration %> min)</p>
          </div>
          <%= mod.instructions.html_safe %>
          <% if mod.action1 %>
            <p>Action 1 (participant) : <%= mod.action1.name %></p>
          <% end %>
          <% if mod.action2 %>
            <p>Action 2 (participant) : <%= mod.action2.name %></p>
          <% end %>
          </div></li>
      <% end %>
    </ul>
  </div>
</div>
