<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style=" display: flex; justify-content: space-between;">
      <h3 class="modal-title" id="myModalLabel"><%= @intelligence.name %></h3>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <%= simple_form_for @intelligence do |f| %>
      <%= f.input :name %>
      <%= f.input :description, as: :text, :input_html => {:rows => 10} %>
  </div>
  <div class="modal-footer">
    <div>
      <%= f.button :submit, class: 'btn btn-edit' %>
      <% end %>
      <button class="btn btn-edit">
        <%= link_to intelligence_path(intelligence), method: :delete, data: { confirm: 'Are you sure ?'} do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </button>
    </div>
  </div>

    </div>
  </div>
</div>
