<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style=" display: flex; justify-content: space-between;">
      <h3 class="modal-title" id="myModalLabel"><%= @intelligence.name %></h3>
    </div>
    <button type="button" class="btn btn-icon-close" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
  </div>
  <div class="modal-body">
    <%= simple_form_for @intelligence do |f| %>
      <%= f.input :name %>
      <%= f.input :description, as: :text, :input_html => {:rows => 10} %>
  </div>
  <div class="modal-control">
    <%= f.button :submit, 'Save', class: 'btn btn-edit-yellow', data: { toggle: 'tooltip' }, title: 'Save' %>
    <% end %>
    <%= link_to intelligence_path(intelligence), method: :delete, data: { toggle: 'tooltip', confirm: 'Are you sure ?'}, title: 'Delete' do %>
      <button class="btn btn-edit-yellow">
        <i class="fas fa-trash-alt"></i>
      </button>
    <% end %>
  </div>

    </div>
  </div>
</div>
