<div class="container-seven-large">
  <div class="training-info-headers">
    <%= link_to intelligences_path, class: 'btn return-arrow' do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
  </div>
  <h3>Add a intelligence type</h3>

  <%= simple_form_for @intelligence do |f| %>
    <%= f.input :name %>
    <%= f.input :description, :input_html => {:rows => 10} %>
    <p class="center-button"> <%= f.button :submit, 'Save', class: 'btn-edit' %> </p>
  <% end %>
</div>
