<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style=" display: flex; justify-content: space-between;">
      <h3 class="modal-title" id="myModalLabel">Copy <%= session.title %> to :</h3>
    </div>
    <button type="button" class="btn btn-icon-close" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
  </div>
  <div class="modal-body" id="modalNewBookinBody">
    <%= simple_form_for :copy, url: training_copy_session_path(session.training, session), html: {target: '_blank'}, method: 'GET' do |f| %>
      <div class="copy-form-element">
        <%= f.label :client_company_id, 'Client' %>
        <%= f.collection_select :client_company_id, ClientCompany.all.order(:name), :id, :name, options = { include_blank: true }, html_options = { class: "copy_client_company_id" } %>
      </div>
      <div class="copy-form-element">
        <%= f.label :training_id, 'Training', class: 'copy-form-hidden-label' %>
        <%= f.grouped_collection_select :training_id, ClientCompany.all, :trainings_for_copy, :name, :id, :title,  options = {}, html_options = { class: "copy_training_id"} %>
      </div>
      <div class='modal-control'>
        <%= button_tag type: 'submit', class: 'btn btn-edit-green btn-icon btn-submit', data: { toggle: 'tooltip' }, title: 'Copy' do %>
          <i class="fas fa-copy"></i>
        <% end %>
        <%= link_to training_copy_here_session_path(session.training, session), data: { toggle: 'tooltip' }, title: 'Copy here', class: 'btn btn-edit-green btn-icon' do %>
          <i class="fas fa-angle-double-down"></i>
        <% end %>
      </div>
      <script>
        reset = $('.copy_training_id').html()
        $('#btn-copy').click(function() {
          $('.copy_training_id').html(reset)
          $('.copy-form-hidden-label').hide()
          $('.copy_training_id').hide()
          trainings = $('.copy_training_id').html()
          $('.copy_client_company_id').change(function() {
            client_company = $('.copy_client_company_id'+' :selected').text()
            options = $(trainings).filter(`optgroup[label='${client_company}']`).html()
            $('.copy-form-hidden-label').show()
            if (options) {
              $('.copy_training_id').html(options)
              $('.copy_training_id').show()
              training = $('.copy_training_id'+' :selected').text()
              options1 = $(sessions).filter(`optgroup[label='${training}']`).html()
              $('.copy_session_id').html(options1)
              $('.copy_session_id').show()
            } else {
              $('.copy_training_id').empty()
              $('.copy_training_id').hide()
            }
          });
        });
        $('.btn-submit').click(function() {
          document.location.reload(true);
        });
      </script>
    <% end %>
  </div>
</div>
