<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style=" display: flex; justify-content: space-between;">
      <h3 class="modal-title" id="myModalLabel"><%= session.title %></h3>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body" id="modalNewBookinBody">
    <%= simple_form_for [session.training, session] do |f| %>
      <%= f.input :title, label: 'Titre' %>
      <div class="mod-date">
        <%= f.input :date, as: :string, input_html: { class: 'datepicker'} %>
        <%= f.input :duration, label: "Durée (heures)" %>
        <%= f.input :start_time, label: 'Heure de début', as: :string, input_html: { class: 'timepicker'} %>
        <%= f.input :end_time, label: 'Heure de fin', as: :string, input_html: { class: 'timepicker'} %>
      </div>
  </div>
  <div class="modal-footer" id="modalNewBookingFooter">
    <div>
      <%= f.button :submit, class: 'btn btn-edit' %>
        <%= link_to training_session_path(session.training, session), method: :delete, data: { confirm: 'Are you sure ?'} do %>
          <button class="btn btn-edit">
            <i class="fas fa-trash-alt"></i>
          </button>
        <% end %>
      <% end %>
    </div>
  </div>

    </div>
  </div>
</div>
