<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style=" display: flex; justify-content: space-between;">
      <h3 class="modal-title" id="myModalLabel"><%= session.title %></h3>
    </div>
    <button type="button" class="btn btn-icon-close" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
  </div>
  <div class="modal-body" id="modalNewBookinBody">
    <%= simple_form_for [session.training, session] do |f| %>
      <div class='mod-date'>
        <%= f.input :id_helper, as: :hidden, input_html: {value: session.id} %>
        <%= f.input :title, input_html: { style: 'width:31rem;' } %>
        <%= f.input :attendee_number, input_html: { min: 0, style: 'width:12rem;' }, label: 'Participants' %>
      </div>
      <div class="mod-date">
        <%= f.input :date, as: :string, input_html: { class: 'datepicker', style: 'width:11rem;'} %>
        <%# f.input :lunch_duration, as: :integer, label: 'Lunch Duration (hours)', input_html: {value: 1, style: 'width:13rem;', id: 'edit_lunch_duration'} %>
        <%= f.input :start_time, label: 'Start time', as: :time, minute_step: 15, input_html: { class: "timepicker edit_start_time", style: 'width:5rem;'}, default: Time.parse('9:00') %>
        <%= f.input :end_time, label: 'End time', as: :time, minute_step: 15, input_html: { class: 'timepicker edit_end_time', style: 'width:5rem;'}, default: Time.parse('17:00') %>
      </div>
      <div class="mod-date flex-row-end-centered">
        <%= f.input :duration, input_html: {min: 0, style: 'width:11rem;', id: 'edit_duration'}, allow_blank: false %>
      </div>
      <div class='modal-control'>
        <%= button_tag type: 'submit', class: 'btn btn-edit-green btn-icon', data: { toggle: 'tooltip' }, title: 'Save' do %>
          <i class="fas fa-save"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
