<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style=" display: flex; justify-content: space-between;">
      <h3 class="modal-title" id="myModalLabel"><%= session.title %></h3>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body" id="modalNewBookinBody">
    <%= simple_form_for [session.training, session] do |f| %>
      <div class='mod-date'>
        <%= f.input :title %>
        <%= f.input :attendee_number, input_html: { min: 0, style: 'width:120px;' }, label: 'Participants', default: 0 %>
      </div>
      <div class="mod-date">
        <%= f.input :date, as: :string, input_html: { class: 'datepicker'} %>
        <%= f.input :duration, label: "Duration (hours)", input_html: { min: 0, style: 'width:120px;' }, default: 0 %>
      </div>
      <div class='mod-date'>
        <%= f.input :start_time, label: 'Start time', as: :time, input_html: { class: 'timepicker'}, default: Time.parse('9:00') %>
        <%= f.input :end_time, label: 'End time', as: :time, input_html: { class: 'timepicker'}, default: Time.parse('17:00') %>
      </div>
      <div style=" display: flex; justify-content: space-between;">
        <%= button_tag type: 'submit', class: 'btn btn-edit-green btn-edit-disk' do %>
          <i class="fas fa-save"></i>
        <% end %>
        <%= link_to training_session_path(session.training, session), method: :delete, data: { confirm: 'Are you sure ?'} do %>
          <button class="btn btn-edit-red btn-edit-trash">
            <i class="fas fa-trash-alt"></i>
          </button>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
