<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style="display: flex; justify-content: space-between;">
      <h3 class="modal-title" id="myModalLabel">Add a session</h3>
    </div>
    <button type="button" class="btn btn-icon-close" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
  </div>
  <div class="modal-body" id="modalNewBookinBody">
    <%= simple_form_for [@training, Session.new] do |f| %>
      <div class='mod-date'>
        <%= f.input :title, input_html: { style: 'width:30rem;' } %>
        <%= f.input :attendee_number, input_html: { min: 0, style: 'width:11rem;' }, label: 'Participants', default: 0 %>
      </div>
      <div class="mod-date">
        <%= f.input :date, as: :string, input_html: { class: 'datepicker', style: 'width:11rem;'} %>
        <%= f.input :duration, label: "Duration (hours)", input_html: { min: 0, style: 'width:11rem;' }, default: 0, allow_blank: false %>
      </div>
      <div class='mod-date'>
        <%= f.input :start_time, label: 'Start time', as: :time, minute_step: 15, input_html: { class: 'timepicker', style: 'width:5rem;'}, default: Time.parse('9:00') %>
        <%= f.input :end_time, label: 'End time', as: :time, minute_step: 15, input_html: { class: 'timepicker', style: 'width:5rem;'}, default: Time.parse('17:00') %>
      </div>
      <%= f.input :address %>
      <%= f.input :room %>
      <%= f.input :image, label: 'Image link' %>
      <%= f.input :teaser, label: 'Teaser' %>
      <div style=" display: flex; justify-content: space-between;">
        <%= button_tag type: 'submit', class: 'btn btn-edit-green btn-icon' do %>
          <i class="fas fa-save"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
