<div class="container-new-form">
  <h1>Add a session</h1>

  <%= simple_form_for [@project, @session] do |f| %>
    <%= f.input :title %>
    <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.input :start_time, as: :string, required: false, input_html: {class: "timepicker"} %>
    <%= f.input :end_time, as: :string, required: false, input_html: {class: "timepicker"} %>
    <p class="center-button"> <%= f.submit class: 'btn btn-edit' %> </p>
    <p class="center-button"> <%= link_to 'Cancel', project_path(@project), class: 'btn btn-edit' %></p>
  <% end %>
</div>
