<div class="container-seven">
  <div class="training-info-headers">
    <%= link_to training_path(@training), class: 'btn return-arrow' do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
  </div>
  <h3>Add a Session in School Mode</h3>

  <%= simple_form_for [@training, @session] do |f| %>
    <div class='mod-date'>
      <%= f.input :title %>
      <%= f.input :attendee_number, input_html: { value: 0, min: 0, style: 'width:12rem;' }, label: 'Participants' %>
    </div>
    <div class="mod-date">
      <%= f.input :date, as: :string, input_html: { value: @training.start_date, class: 'datepicker'} %>
      <%= f.input :duration, label: "Duration (hours)", input_html: { value: 0, min: 0, style: 'width:12rem;' }, allow_blank: false %>
    </div>
    <div class='mod-date'>
      <%= f.input :start_time, label: 'Start time', as: :time, minute_step: 15, input_html: { class: 'timepicker' }, default: Time.parse('9:00') %>
      <%= f.input :end_time, label: 'End time', as: :time, minute_step: 15, input_html: { class: 'timepicker'}, default: Time.parse('17:00') %>
    </div>
    <%= f.label :description %>
    <%= f.cktext_area :description, input_html: { style: "width: 100%; heigth: 5rem;"} %>
    <div class="center-button">
      <%= button_tag type: 'submit', class: 'btn btn-edit-green btn-edit-disk' do %>
        <i class="fas fa-save"></i>
      <% end %>
    </div>
  <% end %>
</div>
