<div class="container-new-form">
  <h1>Ajouter une session</h1>

  <%= simple_form_for [@training, @session] do |f| %>
    <%= f.input :title, label: 'Titre' %>
    <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.input :duration, label: "Durée (heures)" %>
    <%= f.input :start_time, label: 'Heure de début', as: :time, required: false, input_html: {class: "timepicker", placeholder: 'Sat, 01 Jan 2000 09:00:00 UTC +00:00'} %>
    <%= f.input :end_time, label: 'Heure de fin', as: :time, required: false, input_html: {class: "timepicker"} %>
    <p class="center-button"> <%= f.submit class: 'btn btn-edit' %> </p>
  <% end %>
</div>
