<div class="container-new-form">
  <h1>Add a Session</h1>

  <%= simple_form_for [@training, @session] do |f| %>
    <%= f.input :title %>
    <%= f.input :attendee_number, input_html: { min: 0, value: 0 }, label: 'Number of participants' %>
    <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.input :duration, label: "Duration (hours)" %>
    <%= f.input :start_time, label: 'Start time', as: :time, required: false, input_html: {class: "timepicker"}, default: Time.parse('9:00') %>
    <%= f.input :end_time, label: 'End time', as: :time, required: false, input_html: {class: "timepicker"}, default: Time.parse('17:00') %>
    <div class="center-button">
      <%= button_tag type: 'submit', class: 'btn btn-edit-green' do %>
        <i class="fas fa-save"></i>
      <% end %>
    </div>
  <% end %>
</div>
