<div class="container-session-show">
  <div class="session-container">
    <div class="training-info-headers">
      <%= link_to training_path(@session.training) do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
      <div>
        <%= link_to training_session_path(@session.training, @session, format: :pdf) do %>
          <button class="btn btn-edit" id='export-btn'>
            Exporter <i class="fas fa-file-pdf"></i>
          </button>
        <% end %>
      </div>
    </div>
    <div class="middle-info">
      <div class="middle-info-main">
        <h3><%= @session.title %></h3>
        <div style="display: flex;align-items: center;justify-content: left;">
          <button class='edit-fafa' data-toggle='modal' data-target='#editSession'><i class="fas fa-edit"></i></button>
          <%= link_to session_viewer_path(@session) do %>
            <i class="far fa-eye"></i></a>
          <% end %>
        </div>
        <% if @session.start_time && @session.end_time %>
          <h4><%= "#{@session.date.strftime("%d/%m/%y")}" %>
            <%= "from #{@session.start_time.hour}:#{@session.start_time.min}0 to" if @session.start_time.min.to_s.length == 1 %>
            <%= "from #{@session.start_time.hour}:#{@session.start_time.min} to" if @session.start_time.min.to_s.length == 2 %>
            <%= "#{@session.end_time.hour}:#{@session.end_time.min}0" if @session.end_time.min.to_s.length == 1 %>
            <%= "#{@session.end_time.hour}:#{@session.end_time.min}" if @session.end_time.min.to_s.length == 2 %>
          </h4>
        <% end %>
      </div>
      <div style="display: flex;align-items: center;justify-content: space-between;">
        <ul id="owner">
          <% @session.users.each do |user| %>
            <li>
              <a class="edit-fafa" data-toggle='modal' data-target='#consultUser<%= user.id %>'><img src='<%= "#{user.picture}" %>' alt="" class='avatar-sm'></a>
            </li>
            <div class="modal fade" id="consultUser<%= user.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document" style="border-radius: 20px">
                <%= render 'users/consult', user: user %>
              </div>
            </div>
          <% end %>
        </ul>
          <% if (['super admin', 'admin'].include? current_user.access_level) || (@session.training.users.include? current_user) %>
            <button class='user-fafa' data-toggle='modal' data-target='#newUser'><i class="fas fa-user-plus"></i></button>
            <button class='user-fafa' data-toggle='modal' data-target='#destroyUser'><i class="fas fa-user-minus"></i></button>
          <% end %>
      </div>
    </div>
    <div id="mods" style="min-height: 70vh;">
      <%= render 'workshops/index', session: @session %>
    </div>
    <div class="comment-box">
      <div class="message-box">
        <h4>Ajouter un message</h4>
        <%= simple_form_for [@session.training, @session, @comment] do |f| %>
          <%= f.input :object, placeholder: "Objet", input_html: { style: "width: 600px; margin-right: 20px; heigth: 50px;"}, label: false %>
          <%= f.input :content, placeholder: "Message", input_html: { style: "width: 600px; margin-right: 20px; heigth: 50px;"}, label: false %>
          <div> <%= f.submit 'Publier', class: 'btn btn-edit'%> </div>
        <% end %>
      </div>
      <div class='log-box'>
        <h4>Messages</h4>
        <ul>
          <% @session.comments.each do |comment| %>
            <% if comment.object != "Log" %>
              <li class="logs-message"><%= "#{comment.object} on #{comment.created_at.strftime(("%d/%m/%Y at %H:%M"))} by #{comment.user.firstname}" %>
                <br>
                <%= "#{comment.content}" %>
              </li>
              <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="log-box">
      <h4>Log Records</h4>
      <ul>
        <% @session.comments.each do |comment| %>
          <% if comment.object == "Log" %>
            <li class="logs-message"><%= "#{comment.content} - #{comment.created_at.strftime(("%d/%m/%Y - %H:%M"))}" %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <% if ['super admin', 'admin', 'training manager'].include? current_user.access_level %>
    <div class="nav-side-menu-container">
      <div class="nav-side-menu">
        <div class="brand">Workshops</div>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
        <div class="menu-list">
          <% status = !params[:search].nil? %>
          <%= simple_form_for :search, url: training_session_path(@session.training, @session), method: 'GET' do |f| %>
            <%= f.input :title, placeholder: 'Search', label: false %>
          <% end %>
          <% if status %>
            <ul id='myUL'>
              <% (Content.where("lower(title) LIKE :query", query: "%#{params[:search][:title].downcase}%") + (Content.joins(:content_modules).where("lower(content_modules.title) LIKE :query", query:"%#{params[:search][:title].downcase}%"))).each do |content| %>
                <%= link_to training_session_workshops_path(@session.training, @session, content_id: content.id), method: :post, remote: true do %>
                  <li>+ <%= content.title %></li>
                <% end %>
              <% end %>
            </ul>
          <% else %>
            <ul id='myUL'>
              <% Theme.walk_tree do |theme, level| %>
                <% if theme.children.empty? && theme.level == 0 && !['Ice breaker', 'Présentation', 'Conclusion'].include?(theme.name) %>
                  <li><span class="caret"><%= theme.name %></span>
                    <ul class="nested">
                      <% theme.contents.each do |content| %>
                        <%= link_to training_session_workshops_path(@session.training, @session, content_id: content.id), method: :post, remote: true do %>
                          <li>+ <%= content.title %></li>
                        <% end %>
                      <% end %>
                    </ul>
                  </li>
                <% elsif theme.level == 0 && theme.children != [] %>
                  <li><span class="caret"><%= theme.name %></span>
                    <ul class="nested">
                      <% theme.children.each do |subtheme| %>
                        <li><span class="caret"><%= subtheme.name %></span>
                          <ul class="nested">
                            <% subtheme.contents.each do |content| %>
                              <%= link_to training_session_workshops_path(@session.training, @session, content_id: content.id), method: :post, remote: true do %>
                                <li>+ <%= content.title %></li>
                              <% end %>
                            <% end %>
                          </ul>
                        </li>
                      <% end %>
                    </ul>
                  </li>
                <% end %>
              <% end %>
              <% pause = Content.where(title: 'Pause') %>
              <% pausedej = Content.where(title: 'Pause Déjeuner') %>
              <%= link_to training_session_workshops_path(@session.training, @session, content_id: pause.first.id), method: :post, remote: true do %>
                <li>Pause</li>
              <% end %>
              <%= link_to training_session_workshops_path(@session.training, @session, content_id: pausedej.first.id), method: :post, remote: true do %>
                <li>Pause Déjeuner</li>
              <% end %>
            </ul>
            <br>
            <ul id='myUL'>
              <% @themes.each do |theme| %>
                <% if ['Ice breaker', 'Présentation', 'Conclusion'].include?(theme.name) %>
                  <li><span class="caret"><%= theme.name %></span>
                    <ul class="nested">
                      <% theme.contents.each do |content| %>
                        <%= link_to training_session_workshops_path(@session.training, @session, content_id: content.id), method: :post, remote: true do %>
                          <li>+ <%= content.title %></li>
                        <% end %>
                      <% end %>
                    </ul>
                  </li>
                <% end %>
              <% end %>
            </ul>
          <% end %>
        </div>
        <script src="/javascript/plugins/tree.js" type="text/javascript"></script>
      </div>
    </div>
  <% end %>
</div>


<!-- Modals -->
<div class="modal fade" id="editSession" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document" style="border-radius: 20px">
    <%= render 'edit', session: @session %>
  </div>
</div>

<div class="modal fade" id="newUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="border-radius: 20px">
    <%= render 'session_trainers/new', session: @session, session_trainer: @session_trainer %>
  </div>
</div>

<div class="modal fade" id="destroyUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="border-radius: 20px">
    <%= render 'session_trainers/destroy', session: @session, session_trainer: @session_trainer %>
  </div>
</div>
