<%= wicked_pdf_image_tag 'logo.png', id: "pdf-logo" %>
<div class="container">
  <h1 class="title-pdf"><%= @session.training.title %></h1>
  <div class='session-details-list-pdf'>
    <h3 class="session-details-pdf"><%= @session.title %></h3>
    <p class="session-details-pdf"><%= @session.date.strftime("%d/%m/%y") %> de <%= @session.start_time.strftime("%H:%M") %> à <%= @session.end_time.strftime("%H:%M") %></p>
    <p class="session-details-pdf">Client: <%= @session.training.client_contact.client_company.name %></p>
  </div>
  <br>
    <% @session.workshops.each do |mod| %>
    <h3 class="content-details-pdf"><%= mod.title %> (<em><%= mod.duration %> min</em>)</h3>
    <br>
    <p class="content-description-pdf"><%= mod.description %></p>
    <br>
    <% end %>
</div>
