<%= wicked_pdf_image_tag 'logo.png', id: "pdf-logo" %>
<div class="container">
  <h1 class="title-pdf"><%= @session.training.title %></h1>
  <div class='session-details-list-pdf'>
    <h3 class="session-details-pdf"><%= @session.title %></h3>
    <div>
      <p class="session-details-pdf"><%= @session&.date&.strftime("%d/%m/%y") %> de <%= @session.start_time.strftime("%H:%M") %> à <%= @session.end_time.strftime("%H:%M") %></p>
      <p class="session-details-pdf">Client: <%= @session.training.client_contact.client_company.name %></p>
      <p class="session-details-pdf">Questionnaire: <%= @session.training.satisfaction_survey %></p>
    </div>
  </div>
  <br>
  <% time = @session.start_time %>
  <% @session.workshops.each do |workshop| %>
  <h3 class="content-details-pdf"><%= time.strftime("%H:%M") %> - <%= workshop.title %> (<em><%= workshop.duration %> min</em>)</h3>
  <br>
  <% if workshop.title.start_with?('Pause') %>
    <% time += workshop.duration*60 %>
  <% end %>
  <% workshop.workshop_modules.order('position ASC').each do |mod| %>
    <div class="module-card-pdf">
      <h4 style='margin-top: 0;'><%= time.strftime("%H:%M") %> - <%= mod.title %> - <%= mod.duration %> min</h4>
      <% time += mod.duration*60 %>
      <%= mod.instructions.html_safe %>
      <% unless mod.logistics.empty? %>
        <p class='logistics-pdf'>Logistique: <%= mod.logistics.html_safe %></p>
      <% end %>
      <% unless mod.action1.nil? %>
        <p id='action-pdf'>Action: <%= mod.action1.name %></p>
      <% end %>
      <% unless mod.action2.nil? %>
        <p id='action-pdf'>Action: <%= mod.action2.name %></p>
      <% end %>
      <% unless mod.comments.empty? %>
        <p id='comments-pdf'>Commentaires: <%= mod.comments %></p>
      <% end %>
    </div>
  <% end %>
  <br>
  <% end %>
</div>
