<%= wicked_pdf_image_tag 'logo.png', id: "pdf-logo" %>
<div class="container">
  <h1 class="title-pdf"><%= @session.training.title %></h1>
  <div class='session-details-list-pdf'>
    <h3 class="session-details-pdf"><%= @session.title %></h3>
    <p class="session-details-pdf"><%= @session.date.strftime("%d/%m/%y") %> de <%= @session.start_time.strftime("%H:%M") %> à <%= @session.end_time.strftime("%H:%M") %></p>
    <p class="session-details-pdf">Client: <%= @session.training.client_contact.client_company.name %></p>
  </div>
  <br>
    <% @session.workshops.each do |workshop| %>
    <h3 class="content-details-pdf"><%= workshop.title %> (<em><%= workshop.duration %> min</em>)</h3>
    <br>
    <% workshop.workshop_modules.each do |mod| %>
      <div class="module-card-pdf">
        <h4><%= mod.title %> - <%= mod.duration %></h4>
        <%= mod.instructions %>
        <p class='logistics-pdf'>Logistique: <%= mod.logistics %></p>
        <p id='action-pdf'>Action: <%= mod.action1.name %></p>
        <% unless mod.action2.nil? %>
          <p id='action-pdf'>Action: <%= mod.action2.name %></p>
        <% end %>
        <p id='comments-pdf'>Commentaires: <%= mod.comments %></p>
      </div>
    <% end %>
    <br>
    <% end %>
</div>
