<div class="container-session-show">
  <div class="session-container">
    <div class="project-info-headers">
      <%= link_to project_path(@session.project) do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
      <div>
        <%= link_to project_session_path(@session.project, @session, format: :pdf) do %>
          <button class="btn btn-edit" id='export-btn'>
            Export as <i class="fas fa-file-pdf"></i>
          </button>
        <% end %>
      </div>
    </div>
    <div class="middle-info">
      <div class="middle-info-main">
        <h3><%= @session.title %></h3>
        <button class='edit-fafa' data-toggle='modal' data-target='#editSession'><i class="fas fa-edit"></i></button>
        <h4><%= @session.date.strftime("%A %e %B %Y") %>
          <%= "from #{@session.start_time.hour}:#{@session.start_time.min}0 to" if @session.start_time.min.to_s.length == 1 %>
          <%= "from #{@session.start_time.hour}:#{@session.start_time.min} to" if @session.start_time.min.to_s.length == 2 %>
          <%= "#{@session.end_time.hour}:#{@session.end_time.min}0" if @session.start_time.min.to_s.length == 1 %>
          <%= "#{@session.end_time.hour}:#{@session.end_time.min}" if @session.start_time.min.to_s.length == 2 %>
        </h4>
      </div>
      <div style="display: flex;align-items: center;justify-content: space-between;">
        <ul id="owner">
          <% @session.users.each do |user| %>
            <li>
              <a class="edit-fafa" data-toggle='modal' data-target='#consultUser<%= user.id %>'><img src='<%= "#{user.picture}" %>' alt="" class='avatar-sm'></a>
            </li>
            <div class="modal fade" id="consultUser<%= user.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document" style="border-radius: 20px">
                <%= render 'users/consult', user: user %>
              </div>
            </div>
          <% end %>
        </ul>
          <% if (['super admin', 'admin'].include? current_user.access_level) || (@session.project.users.include? current_user) %>
            <button class='user-fafa' data-toggle='modal' data-target='#newUser'><i class="fas fa-user-plus"></i></button>
          <% end %>
      </div>
    </div>
    <div id="mods" style="min-height: 70vh;">
      <%= render 'content_modules/index', session: @session %>
    </div>
    <div class="comment-box">
      <div class="message-box">
        <h4>Add a message</h4>
        <%= simple_form_for [@session.project, @session, @comment] do |f| %>
          <%= f.input :object, placeholder: "Objet", input_html: { style: "width: 600px; margin-right: 20px; heigth: 50px;"}, label: false %>
          <%= f.input :content, placeholder: "Message", input_html: { style: "width: 600px; margin-right: 20px; heigth: 50px;"}, label: false %>
          <div> <%= f.submit class: 'btn btn-edit'%> </div>
        <% end %>
      </div>
      <div class='log-box'>
        <h4>Messages</h4>
        <ul>
          <% @session.comments.each do |comment| %>
            <% if comment.object != "Log" %>
              <li class="logs-message"><%= "#{comment.object} on #{comment.created_at.strftime(("%d/%m/%Y at %H:%M"))} by #{comment.user.name}" %>
                <br>
                <%= "#{comment.content}" %>
              </li>
              <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="log-box">
      <h4>Log Records</h4>
      <ul>
        <% @session.comments.each do |comment| %>
          <% if comment.object == "Log" %>
            <li class="logs-message"><%= "#{comment.content} - #{comment.created_at.strftime(("%d/%m/%Y - %H:%M"))}" %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="nav-side-menu-container">
    <div class="nav-side-menu">
      <div class="brand">Content Manager</div>
      <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
      <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
          <li id='click-to-add'><p><em><--Click to add--></em></p></li>
          <% @chapter.uniq.each do |chapter| %>
            <li data-toggle="collapse" data-target="#<%= chapter.name %>" class="collapsed">
              <a><%= chapter.name %><span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="<%= chapter.name %>">
              <% @contents.where(chapter: chapter).each do |content| %>
                <li class="content-chapter"><%= link_to "+ #{content.title}", project_session_content_modules_path(@session.project, @session, content_id: content.id), method: :post, remote: true %></li>
              <% end %>
            </ul>
          <% end %>
        </ul>
       </div>
    </div>
  </div>
</div>


<!-- Modals -->
<div class="modal fade" id="editSession" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document" style="border-radius: 20px">
    <%= render 'edit', session: @session %>
  </div>
</div>

<div class="modal fade" id="newUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="border-radius: 20px">
    <%= render 'session_trainers/new', session: @session, session_trainer: @session_trainer %>
  </div>
</div>


