<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style=" display: flex; justify-content: space-between;">
      <h3 class="modal-title" id="myModalLabel"><%= @content.title %></h3>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <%= simple_form_for @content do |f| %>
    <%= f.input :title %>
    <%= f.input :format %>
    <%= f.input :duration, input_html: { min: '0' } %>
    <%= f.input :description, input_html: { class: 'editor'} %>
    <%= f.input :logistic %>
    <%= f.input :chapter, collection: ["Leadership", "Gestion d'équipe", "Communication", "Business Development", "Gestion de Projet", "Intelligence Economique", "Team Building"] %>
    <script>
      ClassicEditor
              .create( document.querySelector( '.editor' ), {
                toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote' ],
                heading: {
                  options: [
                      { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                      { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                      { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' }
                  ]
                }
              } )
              .then( editor => {
                                        console.log( editor );
                                } )
              .catch( error => {
                      console.error( error );
              } );
    </script>
  </div>
  <div class="modal-footer">
    <div>
      <%= f.button :submit, class: 'btn btn-edit' %>
      <% end %>
      <%= link_to content_path(content), method: :delete, data: { confirm: 'Are you sure ?'} do %>
          <button class="btn btn-edit">
            <i class="fas fa-trash-alt"></i>
          </button>
        <% end %>
    </div>
  </div>
</div>
