<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style=" display: flex; justify-content: space-between;">
      <h3 class="modal-title" id="myModalLabel"><%= @content.title %></h3>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body" id="modalNewBookinBody">
    <%= simple_form_for @content do |f| %>
      <%= f.input :title %>
      <%= f.input :duration, input_html: { min: '0' }, label: 'Duration (min)' %>
      <%= f.input :description, label: 'Image intro (url)', input_html: { style: 'width: 100%;'} %>
      <%= f.association :theme, collection: Theme.all, selected: @content.theme_id %>
      <div style=" display: flex; justify-content: space-between;">
        <%= button_tag type: 'submit', class: 'btn btn-edit-green btn-edit-disk' do %>
          <i class="fas fa-save"></i>
        <% end %>
        <%= link_to content_path(@content), method: :delete, data: { confirm: 'Etes vous certain(e) de vouloir supprimer cette Action ?'} do %>
          <button class="btn btn-edit-red btn-edit-trash">
            <i class="fas fa-trash-alt"></i>
          </button>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
