<div class="container-seven">
  <div class='flex-title'>
    <h2>Liste des contenus</h2>
    <% if ['super admin', 'admin', 'training manager'].include? current_user.access_level %>
      <%= link_to new_content_path do %>
        <i class="fas fa-plus"></i>
      <% end %>
    <% end %>
  </div>
  <ul id='myUL'>
    <% Theme.walk_tree do |theme, level| %>
      <% if theme.children.empty? && theme.level == 0 && !['Ice breaker', 'Présentation', 'Conclusion'].include?(theme.name) %>
        <li><span class="caret"><%= theme.name %></span>
          <ul class="nested">
            <% theme.contents.each do |content| %>
              <li><%= link_to content.title, content_path(content) %></li>
            <% end %>
          </ul>
        </li>
      <% elsif theme.level == 0 && theme.children != [] %>
        <li><span class="caret"><%= theme.name %></span>
          <ul class="nested">
            <% theme.children.each do |subtheme| %>
              <li><span class="caret"><%= subtheme.name %></span>
                <ul class="nested">
                  <% subtheme.contents.each do |content| %>
                    <li><%= link_to content.title, content_path(content) %></li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    <% end %>
  </ul>
  <br>
  <ul id='myUL'>
    <% @themes.each do |theme| %>
      <% if ['Ice breaker', 'Présentation', 'Conclusion'].include?(theme.name) %>
        <li><span class="caret"><%= theme.name %></span>
          <ul class="nested">
            <% theme.contents.each do |content| %>
              <li><%= link_to content.title, content_path(content) %></li>
            <% end %>
          </ul>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
<script src="/javascript/plugins/tree.js" type="text/javascript"></script>
