<div class="container-seven container-seven-centered">
  <div>
    <div class='flex-title'>
      <h3>Workshops List</h3>
      <% if ['super admin', 'admin', 'training manager'].include? current_user.access_level %>
        <%= link_to new_content_path do %>
          <button class="btn btn-edit">New workshop</button>
        <% end %>
      <% end %>
    </div>
    <div id='myUL'>
      <% Theme.walk_tree do |theme, level| %>
        <% if theme.children.empty? && theme.level == 0 && !['Ice breaker', 'Présentation', 'Conclusion'].include?(theme.name) %>
          <div class="myUL-li-theme"><span class="caret"><%= theme.name %></span>
            <div class="nested">
              <% theme.contents.each do |content| %>
                <div class="myUL-li-content">
                  <%= link_to content_path(content) do %>
                    <span class="myUL-li-content-first"><strong><%= content.title %></strong></span>
                    <% if !content.theories.nil? %>
                      <div class="myUL-li-content-second">
                        <% content.theories.order('name ASC').each do |theory| %>
                          <span>
                            <%= theory.name %>
                          </span>
                        <% end %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        <% elsif theme.level == 0 && theme.children != [] %>
          <div><span class="caret"><%= theme.name %></span>
            <div class="nested">
              <% theme.children.each do |subtheme| %>
                <div><span class="caret"><%= subtheme.name %></span>
                  <div class="nested">
                    <% subtheme.contents.each do |content| %>
                      <div><%= link_to content.title, content_path(content) %></div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <br>
    <div id='myUL'>
      <% @themes.each do |theme| %>
        <% if ['Ice breaker', 'Présentation', 'Conclusion'].include?(theme.name) %>
          <div class="myUL-li-theme"><span class="caret"><%= theme.name %></span>
            <div class="nested">
              <% theme.contents.each do |content| %>
                <div class="myUL-li-content">
                  <%= link_to content_path(content) do %>
                    <span class="myUL-li-content-first"><strong><%= content.title %></strong></span>
                    <% if !content.theories.nil? %>
                      <span class="myUL-li-content-second">
                        <% content.theories.order('name ASC').each do |theory| %>
                          <%= theory.name %>
                        <% end %>
                      </span>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<script src="/javascript/plugins/tree.js" type="text/javascript"></script>
<script>
  active = document.querySelector('.theme-active');
  themes = document.getElementsByClassName('myUL-li-theme');
  for (let i = 0; i < themes.length; i++) {
    themes[i].addEventListener('click', (event) => {
      console.log("test");
      for (let j = 0; j < themes.length; j++) {
        if (themes[j] != themes[i]) {
          themes[j].classList.toggle('hidden');
        }
      }
    })
  }
</script>
