<div class="container-seven">
  <div class="training-info-headers">
    <div>
      <%= link_to new_content_path do %>
      <button class="btn btn-edit">Nouveau Contenu</button>
      <% end %>
    </div>
  </div>
  <ul id='myUL'>
    <% Theme.walk_tree do |theme, level| %>
      <% if theme.children.empty? && theme.level == 0 %>
        <li><span class="caret"><%= theme.name %></span>
          <ul class="nested">
            <% theme.contents.each do |content| %>
              <li><%= link_to content.title, content_path(content) %></li>
            <% end %>
          </ul>
        </li>
      <% elsif theme.level == 0 && theme.children != [] %>
        <li><span class="caret"><%= theme.name %></span>
          <ul class="nested">
            <% theme.children.each do |subtheme| %>
              <li><span class="caret"><%= subtheme.name %></span>
                <ul class="nested">
                  <% subtheme.contents.each do |content| %>
                    <li><%= link_to content.title, content_path(content) %></li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
<script src="/javascript/plugins/tree.js" type="text/javascript"></script>
