<div class="container-seven">
  <h2>Ajouter un contenu</h2>

  <%= simple_form_for @content do |f| %>
    <%= f.input :title %>
    <%= f.input :format %>
    <%= f.input :duration, input_html: { min: '0' } %>
    <%= f.input :description, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' }, class: 'editor' }%>
    <%= f.input :logistic %>
    <%= f.association :chapter, collection: Chapter.order('name ASC') %>
    <%# f.input :intel1, label: 'Intelligence 1', collection: Intelligence.all.each { |intel| intel.name } %>
    <%# f.input :intel2, label: 'Intelligence 2', collection: Intelligence.all.each { |intel| intel.name } %>
    <%= f.input :intel1_id, collection: Intelligence.all %>
    <%= f.input :intel2_id, collection: Intelligence.all %>
     <script>
      ClassicEditor
              .create( document.querySelector( '.editor' ), {
                // toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote' ],
                // heading: {
                //   options: [
                //       { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                //       { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                //       { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' }
                //   ]
                // }
              } )
              .then( editor => {
                                        console.log( editor );
                                } )
              .catch( error => {
                      console.error( error );
              } );
    </script>
    <p class="center-button"> <%= f.submit class: 'btn-edit' %> </p>
  <% end %>
</div>
