<div class="container">
  <h1>Ajouter un contenu</h1>

  <%= simple_form_for @content do |f| %>
    <%= f.input :title %>
    <%= f.input :format %>
    <%= f.input :duration, input_html: { min: '0' } %>
    <%= f.input :description, :input_html => {:rows => 10} %>
    <%= f.input :logistic %>
    <%= f.input :chapter, collection: ["Leadership", "Gestion d'équipe", "Communication", "Business Development", "Gestion de Projet", "Intelligence Economique", "Team Building"] %>
    <%= f.input :intel1, label: 'Intelligence 1', collection: Intelligence.all.each { |intel| intel.name } %>
    <%= f.input :intel2, label: 'Intelligence 2', collection: Intelligence.all.each { |intel| intel.name } %>
    <p class="center-button"> <%= f.submit class: 'btn-edit' %> </p>
  <% end %>
</div>
