<div class="container-seven">
  <h2>Ajouter un contenu</h2>

  <%= simple_form_for @content do |f| %>
    <%= f.input :title %>
    <%= f.input :duration, input_html: { min: '0' } %>
    <%= f.input :description, input_html: { class: 'editor' }%>
    <%= f.association :theme, collection: Theme.order('name ASC') %>
     <script>
      ClassicEditor
              .create( document.querySelector( '.editor' ), {
                // toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote' ],
                // heading: {
                //   options: [
                //       { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                //       { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                //       { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' }
                //   ]
                // }
              } )
              .then( editor => {
                                        console.log( editor );
                                } )
              .catch( error => {
                      console.error( error );
              } );
    </script>
    <p class="center-button"> <%= f.submit class: 'btn btn-edit' %> </p>
  <% end %>
</div>
