<div class="container-seven-large">
  <div id='page-controls'>
    <%= link_to contents_path, class: 'btn return-arrow' do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
  </div>
  <h3>Add a new Workshop</h3>

  <%= simple_form_for @content do |f| %>
    <%= f.input :title %>
    <%= f.association :theme, collection: Theme.order('name ASC'), include_blank: false, allow_blank: false %>
    <div class="center-button">
      <%= button_tag type: 'submit', class: 'btn btn-edit-green btn-icon' do %>
        <i class="fas fa-save"></i>
      <% end %>
    </div>
  <% end %>
</div>
