<div class="container-seven">
  <h2>Ajouter un contenu</h2>

  <%= simple_form_for @content do |f| %>
    <%= f.input :title %>
    <%= f.input :format %>
    <%= f.input :duration, input_html: { min: '0' } %>
    <%= f.input :description, as: :ckeditor%>
    <%= f.input :logistic %>
    <%= f.association :chapter, collection: Chapter.order('name ASC') %>
    <%# f.input :intel1, label: 'Intelligence 1', collection: Intelligence.all.each { |intel| intel.name } %>
    <%# f.input :intel2, label: 'Intelligence 2', collection: Intelligence.all.each { |intel| intel.name } %>
    <%= f.input :intel1_id, collection: Intelligence.all %>
    <%= f.input :intel2_id, collection: Intelligence.all %>
    <p class="center-button"> <%= f.submit class: 'btn-edit' %> </p>
  <% end %>
</div>
