<div class="container-seven">
  <%= link_to contents_path do %><i class="fas fa-arrow-left"></i><% end %>
  <h2><%= @content.title %></h2>
  <div class="show-control-links">
    <% if ['super admin', 'admin', 'training manager'].include? current_user.access_level %>
      <!-- <a class="edit-fafa" data-toggle='modal' data-target='#editContent'><i class="fas fa-edit"></i></a> -->
      <%= link_to edit_content_path do %>
        <i class="fas fa-edit"></i>
      <% end %>
    <% end %>
  </div>
  <p><%= @content.format %></p>
  <p><%= @content.duration %></p>
  <%= @content.description.html_safe %>
  <p><%= @content.logistic %></p>
  <p><%= @content.chapter %></p>
</div>

