
  <h4>Liste des modules</h4>
  <%= link_to new_content_content_module_path(@content) do %>
    <i class="fas fa-plus"></i>
  <% end %>
  <% @content.content_modules.order('position ASC').each do |mod| %>
    <div class='module-card'>
      <div class="module-card-infos">
      <h5><%= link_to mod.title, content_content_module_path(@content, mod) %></h5>
      <%= mod.instructions.html_safe %>
      <% if mod.logistics %>
        <div class='content-logistics'>Logistique : <%= mod.logistics.html_safe %></div>
      <% end %>
      <% if !mod.action1.nil? && !mod.action2.nil? %>
        <p class='content-actions'>Action 1 : <%= mod.action1.name %></p>
        <p class='content-actions'>Action 2 : <%= mod.action2.name %></p>
      <% elsif !mod.action1.nil? %>
        <p class='content-actions'>Action : <%= mod.action1.name %></p>
      <% elsif !mod.action2.nil? %>
        <p class='content-actions'>Action : <%= mod.action2.name %></p>
      <% end %>
      </div>
      <div class="module-card-controls">
        <p><%= mod.duration %> min</p>
        <div style='display:flex;flex-direction:column;'>
          <% if mod.position == 1 %>
            <a href=""><i class="fas fa-arrow-up" style='color:grey;cursor:default;'></i></a>
          <% else %>
            <%= link_to move_up_content_module_path(mod), remote: true do %>
              <i class="fas fa-arrow-up"></i>
            <% end %>
          <% end %>
          <% if mod.position ==  @content.content_modules.count %>
            <a href=""><i class="fas fa-arrow-down" style='color:grey;cursor:default;'></i></a>
          <% else %>
            <%= link_to move_down_content_module_path(mod), remote: true do %>
              <i class="fas fa-arrow-down"></i>
            <% end %>
          <% end %>
        </div>
        <%= link_to edit_content_content_module_path(@content, mod) do %>
          <i class="fas fa-edit"></i>
        <% end %>
        <%= link_to content_content_module_path(@content, mod), method: :delete, data: { confirm: 'Are you sure ?'} do %>
          <i class="fas fa-trash"></i>
        <% end %>
      </div>
    </div>
  <% end %>

