<% @error = false %>
<% @previous = session.content_modules.find_by(position: (mod.position - 1)) %>
<% @error = true if ((@previous != nil) && ((mod.duration + @previous.duration) > 45) && (mod.format == @previous.format)) %>
<% total_duration = 0 %>
<% exceed = [] %>
<% mod.session.content_modules.each do |mod| %>
  <% total_duration += mod.duration %>
  <% exceed << mod.position if (total_duration * 60) > (mod.session.end_time - mod.session.start_time) %>
<% end %>
  <div class="card card-mods grabbable" data-item-id="<%= mod.id %>">
    <div class="card-left align-elements-in-flexbox grabbable">
      <div class="mod-time">
        <%= start.strftime("%H:%M") %>
        <div class="circle"></div>
      </div>
    </div>
    <div class="card-right grabbable">
      <div class="card-category">
        <%= link_to project_session_content_module_path(mod.session.project, mod.session, mod), class: 'grabbable' do %>
          <h4><%= "#{mod.title} - (#{mod.duration} min) - #{mod.format}" %></h4>
        <% end %>
        <% if @error %>
          <p class='error'>Attention au rythme</p>
        <% end %>
        <% if exceed.include?(mod.position) %>
          <p class='error'>Durée de la session dépassée</p>
        <% end %>
      </div>
      <div class="card-description grabbable">
        <h5><%= "#{mod.description.split('.').first(2).join('.')}." %></h5>
      </div>
    </div>
</div>

