<div class="container-seven">
  <h2>Editer un module</h2>

  <%= simple_form_for [@content, @content_module], local: true do |f| %>
    <%= f.input :title, label: 'Titre' %>
    <%= f.label :instructions %>
    <%= f.rich_text_area :instructions %>
    <%= f.input :duration, label: 'Durée (min)' %>
    <%= f.input :url1 %>
    <%= f.input :url2 %>
    <%= f.input :image1 %>
    <%= f.input :image2 %>
    <%= f.label :logistics %>
    <%= f.rich_text_area :logistics %>
    <%= f.input :action1_id, collection: Action.all, allow_blank: false, label: 'Action participant 1' %>
    <%= f.input :action2_id, collection: Action.all, label: 'Action participant 2' %>
    <%= f.input :comments, input_html: { style: 'width:100%;' }, label: 'Commentaires' %>
    <p class="center-button"> <%= f.button :submit, 'Sauvegarder', class: 'btn btn-edit' %> </p>
  <% end %>
</div>
