<div class="container-seven">
  <h2>Editer un module</h2>

  <%= simple_form_for [@content, @content_module] do |f| %>
    <%= f.input :title, label: 'Titre' %>
    <%= f.input :instructions, input_html: { class: 'editor' } %>
    <%= f.input :duration, label: 'Durée (min)' %>
    <%= f.input :url1 %>
    <%= f.input :url2 %>
    <%= f.input :image1 %>
    <%= f.input :image2 %>
    <%= f.input :logistics, input_html: { class: 'editor2', style: 'width:100%;' } %>
    <%= f.input :action1_id, collection: Action.all, allow_blank: false, label: 'Action participant 1' %>
    <%= f.input :action2_id, collection: Action.all, label: 'Action participant 2' %>
    <%= f.input :comments, input_html: { style: 'width:100%;' }, label: 'Commentaires' %>
    <script>
      ClassicEditor
              .create( document.querySelector( '.editor' ), {
              } )
              .then( editor => {
                                        console.log( editor );
                                } )
              .catch( error => {
                      console.error( error );
              } );
    </script>
    <script>
      ClassicEditor
              .create( document.querySelector( '.editor2' ), {
              } )
              .then( editor => {
                                        console.log( editor );
                                } )
              .catch( error => {
                      console.error( error );
              } );
    </script>
    <p class="center-button"> <%= f.button :submit, 'Sauvegarder', class: 'btn btn-edit' %> </p>
  <% end %>
</div>
