<div class="container-seven">
  <h3>Add a module</h3>

  <%= simple_form_for [@content, @content_module] do |f| %>
    <%= f.input :title %>
    <%= f.cktext_area :instructions %>
    <%= f.input :duration, label: 'Duration (min)' %>
    <%= f.input :url1 %>
    <%= f.input :url2 %>
    <%= f.input :image1 %>
    <%= f.input :image2 %>
    <%= f.cktext_area :logistics %>
    <%= f.input :action1_id, collection: Action.all, label: 'Action 1' %>
    <%= f.input :action2_id, collection: Action.all, label: 'Action 2' %>
    <%= f.input :comments, input_html: { style: 'width:100%;' } %>
    <div class="center-button">
      <%= button_tag type: 'submit', class: 'btn btn-edit-green btn-edit-disk' do %>
        <i class="fas fa-save"></i>
      <% end %>
    </div>
  <% end %>
</div>
