<div class="container-seven">
  <div class="training-info-headers">
    <%= link_to trainings_path(tab: 'bookings'), class: 'btn return-arrow' do %><i class="fas fa-arrow-left"></i><% end %>
  </div>
  <h3><%= @booking.merchandise.name %></h3>
  <p><%= "Période souhaitée: Du #{@booking.start_date.strftime('%d/%m/%y')} au #{@booking.end_date.strftime('%d/%m/%y')}" %></p>
  <p><%= "Collaborateurs à former: #{@booking.attendee_number}" %></p>
  <br>
  <p><%= @booking.merchandise.description.html_safe %></p>
  <br>
  <% if @booking.user == current_user %>
    <%= link_to "Annuler cette réservation", booking_path(@booking), method: :delete, data: { confirm: 'Etes vous certain de vouloir annuler cette réservation ?'}, class: 'btn btn-edit-red' %>
  <% elsif ['super admin', 'admin', 'training manager'].include?(current_user.access_level) %>
    <% if @booking.completed %>
      <p class="btn">Booking transformed !</p>
    <% else %>
      <%= link_to 'Transformer cette réservation', transform_booking_path(@booking), class: 'btn btn-edit-green' %>
    <% end %>
  <% end %>
</div>
