<div class="container-seven container-seven-centered">
    <div>
    <div id='client-company-controls'>
      <h2>Actions List</h2>
      <% if ['super admin', 'admin', 'training manager'].include? current_user.access_level %>
        <%= link_to new_action_path do %>
          <button class="btn btn-edit">New Action</button>
        <% end %>
      <% end %>
    </div>
    <ul class='client-company-list'>
    <% @actions.each do |action| %>
      <li>
        <%= link_to action_path(action) do %>
          <div class="client-company-card">
            <div class="action-infos">
              <p><%= action.name %></p>
              <p><%= action.intelligence.name %></p>
            </div>
            <a class="edit-fafa" data-toggle='modal' data-target='#editAction<%= action.id %>'><i class="fas fa-edit"></i></a>
          </div>
        <% end %>
      </li>
      <!-- Modal -->
      <div class="modal fade" id="editAction<%= action.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document" style="border-radius: 20px">
          <%= render 'edit', action: action %>
        </div>
      </div>
    <% end %>
    </ul>
  </div>
</div>
