<div class="container-seven container-seven-centered">
  <div id='client-company-index'>
    <div id='client-company-controls'>
      <h3>Actions List</h3>
      <div id="client_company_buttons">
        <%= simple_form_for :search, url: theories_path, method: 'GET' do |f| %>
          <%= f.input :name, placeholder: 'Search', label: false %>
        <% end %>
        <% if ['super admin', 'admin', 'training manager'].include? current_user.access_level %>
          <%= link_to new_action_path do %>
            <button class="btn btn-edit">New Action</button>
          <% end %>
        <% end %>
      </div>
    </div>
    <ul class='action-list'>
    <% @actions.each do |action| %>
      <li>
        <%= link_to action_path(action) do %>
          <div class="action-card">
            <div class="action-infos">
              <p><%= action.name %></p>
              <% if action.intelligence1 %>
                <p><%= action.intelligence1.name %></p>
              <% end %>
              <% if action.intelligence2 %>
                <p><%= action.intelligence2.name %></p>
              <% end %>
              <p><%= action.description %></p>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
</div>
