<div class="container-seven container-seven-centered">
  <div id='page-index'>
    <div id='page-controls'>
      <h1>Actions List</h1>
      <div id="page-buttons">
        <%= simple_form_for :search, url: actions_path, method: 'GET' do |f| %>
          <%= f.input :name, placeholder: 'Search', label: false %>
          <% if params[:search] %>
            <%= link_to actions_path, class: 'action-search-close' do %>
              <i class="far fa-times-circle"></i>
            <% end %>
          <% end %>
        <% end %>
        <% if ['super admin', 'admin', 'training manager'].include? current_user.access_level %>
          <%= link_to new_action_path do %>
            <button class="btn btn-edit">New Action</button>
          <% end %>
        <% end %>
      </div>
    </div>
    <ul class='action-list'>
    <% @actions.each do |action| %>
      <li>
        <%= link_to action_path(action) do %>
          <div class="index-card-large">
            <div class="action-infos">
              <p><%= action.name %></p>
              <div>
                <% if action.intelligence1 %>
                  <p><%= action.intelligence1.name %></p>
                <% end %>
                <% if action.intelligence2 %>
                  <p><%= action.intelligence2.name %></p>
                <% end %>
              </div>
              <p><%= action.description %></p>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
</div>
