<div class="container-seven">
  <h2>Ajouter une action</h2>
  <%= simple_form_for @action, as: :act do |f| %>
    <%= f.input :name %>
    <%= f.input :description, :input_html => {:rows => 5, style: 'width:100%;'} %>
    <%= f.association :intelligence, collection: Intelligence.all, include_blank: false %>
    <p class="center-button"> <%= f.submit "Créer l'action", class: 'btn btn-edit' %> </p>
  <% end %>
</div>
