<div class="container-seven">
  <div class="training-info-headers">
    <%= link_to actions_path, class: 'btn return-arrow' do %><i class="fas fa-arrow-left"></i><% end %>
    <a class="edit-fafa btn btn-edit btn-edit-pen" data-toggle='modal' data-target='#editAction'><i class="fas fa-pen"></i></a>
  </div>
  <h3><%= @action.name %></h3>
  <br>
  <p>Description : <%= @action.description %></p>
  <p><%= @action.intelligence.name %></p>
</div>

<!-- Modal -->
  <div class="modal fade" id="editAction" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="border-radius: 20px">
      <%= render 'edit', action: @action %>
    </div>
  </div>
