<div class="container-seven">
  <%= link_to actions_path do %><i class="fas fa-arrow-left"></i><% end %>
  <h3><%= @action.name %> <a class="edit-fafa" data-toggle='modal' data-target='#editAction'><i class="fas fa-pen"></i></a></h3>

  <p><%= @action.description %></p>
  <p><%= @action.intelligence.name %></p>
</div>

<!-- Modal -->
  <div class="modal fade" id="editAction" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="border-radius: 20px">
      <%= render 'edit', action: @action %>
    </div>
  </div>
