<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <div>
      <img src='<%= user.picture %>' alt="" class='client-company-logo-show'>
    </div>
    <p>Lastname: <strong><%=  user.lastname %></strong></p>
    <p>Firstname: <strong><%=  user.firstname %></strong></p>
    <p>Email: <%= user.email %></p>
    <p>Access Level: <%= user.access_level.capitalize %></p>
    <p>Description: <%= user.description %></p>
    <p>Rating: <%= user.rating %></p>
    <p>LinkedIn: <%= link_to user.linkedin do %><i class="fab fa-linkedin-in"></i><% end %></p>
  </div>
</div>

