<div class="modal-content">
  <div class="modal-body">
    <div style='text-align: center;margin-bottom: 10px;'>
      <img src='<%= user.picture %>' alt="" class='client-company-logo-show'>
      <p>Lastname: <strong><%=  user.lastname %></strong></p>
      <p>Firstname: <strong><%=  user.firstname %></strong></p>
      <p>Email: <%= user.email %></p>
      <p>Access Level: <%= user.access_level.capitalize %></p>
      <p>Description: <%= user.description %></p>
      <p>Rating: <%= user.rating %></p>
      <p>LinkedIn: <%= link_to user.linkedin do %><i class="fab fa-linkedin-in"></i><% end %></p>
    </div>
    <div style='text-align: center;'>
      <% if params[:controller] == 'trainings' && @training.users.include?(user) %>
        <%= link_to 'Remove from owners', training_training_ownership_path(@training, TrainingOwnership.find_by(training_id: @training.id, user_id: user.id), user_id: user.id), method: :delete, class: 'btn' %>

      <% end %>
    </div>
  </div>
</div>

