<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style=" display: flex; justify-content: space-between;">
    </div>
    <button type="button" class="btn btn-icon-close" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
  </div>
  <div class="modal-body">
    <div style='text-align: center;margin-bottom: 1rem;'>
      <img src='<%= user.picture %>' alt="" class='client-company-logo-show' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
      <p>Lastname: <strong><%=  user.lastname %></strong></p>
      <p>Firstname: <strong><%=  user.firstname %></strong></p>
      <p>Email: <%= user.email %></p>
    </div>
    <div style='text-align: center;'>
      <% training = @training if @training %>
      <% if params[:controller] == 'trainings' && training.owners.include?(user) %>
        <%= link_to 'Remove from owners', training_training_ownership_path(training, TrainingOwnership.find_by(training_id: training.id, user_id: user.id), user_id: user.id), method: :delete, class: 'btn' %>
      <% elsif params[:controller] == 'trainings' && training.writers.include?(user) %>
        <%= link_to 'Remove from writers', training_training_ownership_path(training, TrainingOwnership.find_by(training_id: training.id, user_id: user.id), user_id: user.id), method: :delete, class: 'btn' %>
      <% elsif params[:controller] == 'sessions' %>
        <%= link_to 'Remove from trainers', training_session_session_trainer_path(@session.training, @session, SessionTrainer.find_by(session_id: @session.id, user_id: user.id), user_id: user.id), method: :delete, class: 'btn' %>
      <% end %>
    </div>
  </div>
</div>

