<div class="container-seven-large container-seven-large-centered">
  <div id='page-index'>
    <div id="page-controls">
      <h1>Users list</h1>
      <div id="page-buttons">
        <%= simple_form_for :search, url: users_path, method: 'GET' do |f| %>
          <%= f.input :name, placeholder: 'Search', label: false %>
          <% if params[:search] %>
            <%= link_to users_path, class: 'user-search-close' do %>
              <i class="far fa-times-circle"></i>
            <% end %>
          <% end %>
        <% end %>
        <% if ['super admin', 'admin', 'HR'].include? current_user.access_level %>
          <%= link_to new_user_path do %>
            <button class="btn btn-edit-yellow">New User</button>
          <% end %>
        <% end %>
      </div>
    </div>
    <ul class="client-contact-list">
      <% @users.each do |user| %>
        <li>
          <%= link_to user_path(user) do %>
            <div class="index-card-large index-card-small">
              <img class='client-company-logo-index' src='<%= "#{user.picture}" %>' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
              <div class="client-company-type-address">
                <p><%= "#{user.lastname.upcase} #{user.firstname}" %></p>
                <div>
                  <p><%= user.email %></p>
                  <p><%= user.access_level.capitalize %></p>
                </div>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
