<div class="container-seven-large container-seven-large-centered">
  <div id='page-index'>
    <div id="page-controls">
      <h1>Users list</h1>
      <div id="page-buttons">
        <%= form_with url: users_path, local: true, method: 'GET' do |f| %>
          <%= f.text_field :search, placeholder: 'Search', label: false, data: {behavior: 'autocomplete'} %>
          <% if params[:search] %>
            <%= link_to users_path, class: 'user-search-close' do %>
              <i class="far fa-times-circle"></i>
            <% end %>
          <% end %>
        <% end %>
        <%= link_to new_user_path do %>
          <button class="btn btn-edit-yellow">New User</button>
        <% end %>
      </div>
    </div>
    <ul class="client-contact-list">
      <% if params[:search].present? %>
        <h3>Search</h3>
        <% @users.each do |user| %>
          <li>
            <%= link_to user_path(user) do %>
              <div class="index-card-large index-card-small">
                <img class='client-company-logo-index' src='<%= "#{user.picture}" %>' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
                <div class="client-company-type-address">
                  <p><%= "#{user.lastname.upcase} #{user.firstname}" %></p>
                  <div>
                    <p><%= user.email %></p>
                    <p><%= user.access_level.capitalize %></p>
                  </div>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
      <% else %>
        <% @users.each do |user| %>
          <li>
            <%= link_to user_path(user) do %>
              <div class="index-card-large index-card-small">
                <img class='client-company-logo-index' src='<%= "#{user.picture}" %>' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
                <div class="client-company-type-address">
                  <p><%= "#{user.lastname.upcase} #{user.firstname}" %></p>
                  <div>
                    <p><%= user.email %></p>
                    <p><%= user.access_level.capitalize %></p>
                  </div>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<script>
   $input = $("[data-behavior='autocomplete']");

  var options = {
    listLocation: "users",
    getValue: 'name',
    url: function(phrase) {
      return "/users_search.json?search=" + phrase
    },
    list: {
      onChooseEvent: function() {
        var url = $input.getSelectedItemData().url;
        window.location.href = url;
      }
    }
  }

    $input.easyAutocomplete(options);
</script>
