<div class="container-seven">
  <h2>Add a user</h2>

  <%= simple_form_for @user do |f| %>
    <%= f.input :firstname %>
    <%= f.input :lastname %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :linkedin %>
    <%= f.input :picture, label: 'Photo URL' %>
    <%= f.input :description, :input_html => { :rows => 5 , :style => 'width: 100%'} %>
    <%= f.input :access_level, collection: ['super admin', 'admin', 'training manager', 'sevener'], include_blank: false %>
    <%= f.input :rating, input_html: { min: '0', max: '5' }  %>
    <p class="center-button"> <%= f.button :submit, 'Save', class: 'btn btn-edit' %> </p>
  <% end %>
</div>
