<div class="container-seven">
  <div class="training-info-headers">
    <%= link_to users_path, class: 'btn return-arrow' do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
  </div>
  <h3>Add a user</h3>

  <%= simple_form_for @user do |f| %>
    <%= f.input :firstname %>
    <%= f.input :lastname %>
    <%= f.input :email %>
    <%= f.input :access_level, collection: ['super admin', 'admin', 'training manager', 'sevener', 'HR', 'employee'], include_blank: false %>
    <% if current_user.access_level == 'HR' %>
      <%= f.association :client_company, collection: ClientCompany.where(id: current_user.client_company.id), include_blank: false; %>
    <% else %>
      <%= f.association :client_company, collection: ClientCompany.order('name ASC') %>
    <% end %>
    <%= f.input :password %>
    <%= f.input :linkedin %>
    <%= f.input :picture, label: 'Photo URL' %>
    <%= f.input :description, :input_html => { :rows => 5 , :style => 'width: 100%'} %>
    <%= f.input :rating, input_html: { min: '0', max: '5' }  %>
    <div class="center-button">
      <%= button_tag type: 'submit', class: 'btn btn-edit-green btn-edit-disk' do %>
        <i class="fas fa-save"></i>
      <% end %>
    </div>
  <% end %>
</div>
