<div class="left-navbar left-navbar-builder left-navbar-active">
  <div class="dropdown">
    <div class="left-navbar-top">
      <% if user_signed_in? %>
        <img src='<%= "#{current_user.picture}" %>' class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
      <% end %>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <% if user_signed_in? %>
          <li><%= link_to "Profile", user_path(current_user) %></li>
        <% end %>
        <li>
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        </li>
      </ul>
      <% if ['super admin'].include? current_user.access_level %>
        <%= link_to merchandises_path, class: 'left-navbar-toggle' do %>
        <% end %>
      <% end %>
      <!-- <script>
        $(document).ready(function(){
          $('.left-navbar-toggle').click(function(){
            $('.left-navbar-toggle').toggleClass('booklet-active')
            $('.left-navbar-builder').toggleClass('left-navbar-active')
          })
        })
      </script> -->
    </div>
  </div>
  <div class="left-navbar-middle">
    <% if user_signed_in? %>
      <%= link_to trainings_path, style: 'color: white;', class: 'left-buttons' do %>
        <div class="left-menu-list">
          <i class="fas fa-tasks"></i> <div class="left-menu-title"><h4>Trainings</h4></div>
        </div>
      <% end %>
      <% if ['super admin', 'admin', 'training manager'].include? current_user.access_level %>
        <%= link_to contents_path, style: 'color: white;', class: 'left-buttons' do %>
          <div class="left-menu-list">
            <i class="fas fa-toolbox"></i> <div class="left-menu-title"><h4>Workshops</h4></div>
          </div>
        <% end %>
        <%= link_to client_companies_path, style: 'color: white;', class: 'left-buttons' do %>
          <div class="left-menu-list">
            <i class="far fa-copyright"></i> <div class="left-menu-title"><h4>Customers</h4></div>
          </div>
        <% end %>
      <% end %>
      <% if ['super admin', 'admin', 'training manager', 'HR'].include? current_user.access_level %>
        <%= link_to users_path, style: 'color: white;', class: 'left-buttons' do %>
          <div class="left-menu-list">
            <i class="fas fa-user-tie"></i> <div class="left-menu-title"><h4>Users</h4></div>
          </div>
        <% end %>
      <% end %>
      <% if ['super admin', 'admin', 'training manager'].include? current_user.access_level %>
        <%= link_to actions_path, style: 'color: white;', class: 'left-buttons' do %>
          <div class="left-menu-list">
            <i class="fas fa-running"></i> <div class="left-menu-title"><h4>Actions</h4></div>
          </div>
        <% end %>
        <%= link_to theories_path, style: 'color: white;', class: 'left-buttons' do %>
          <div class="left-menu-list">
            <i class="fas fa-book"></i> <div class="left-menu-title"><h4>Library</h4></div>
          </div>
        <% end %>
        <%= link_to report_path, style: 'color: white;', class: 'left-buttons' do %>
          <div class="left-menu-list">
            <i class="fas fa-chart-bar"></i> <div class="left-menu-title"><h4>Reports</h4></div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="left-navbar-bottom">
    <%= link_to root_path, class: "left-navbar-logo" do %>
      <%= image_tag "logo-seven-navbar.png" %>
    <% end %>
  </div>
</div>
