<div class="container-seven-form">
  <div id='attendee-form-logo'>
    <%= image_tag "SEVENLOGO_SQUARE2.png" %>
    <img src="<%= @training.client_contact.client_company.logo %>" alt="" >
  </div>
  <div id='attendee-form'>
    <% status = !params[:search].nil? %>
    <div id="attendee-form-title">
      <h3>Formulaire d'inscription</h3>
      <h4><%= @training.title %></h4>
    </div>
    <%= simple_form_for :search, url: training_attendees_form_path(@training), method: 'GET' do |f| %>
      <% if status && !Attendee.where(email: params[:search][:email]).empty? %>
        <% attendee = Attendee.where(email: params[:search][:email]).first if params[:search] %>
        <div style='display:flex;justify-content:space-around;'>
          <%= f.input :firstname, label: 'Prénom', input_html: { value: attendee.firstname}, disabled: true, required: false %>
          <%= f.input :lastname, label: 'Nom', input_html: { value: attendee.lastname}, disabled: true, required: false %>
        </div>
        <div style='display:flex;justify-content:space-around;'>
          <%= f.input :employee_id, label: 'N°WWID', input_html: { value: attendee.employee_id }, disabled: true, required: false %>
          <%= f.input :email, input_html: { value: attendee.email }, disabled: true, required: false %>
        </div>
      <% elsif status && Attendee.where(email: params[:search][:email]).empty? %>
        <% controller.redirect_to new_attendee_path(training_id: @training.id, email: params[:search][:email]) %>
      <% else %>
        <%= f.input :email, label: 'Adresse email' %>
        <p class="center-button"> <%= f.submit 'Connexion', class: 'btn btn-edit' %> </p>
      <% end %>
    <% end %>
  </div>
  <% if !@sessions.nil? && params[:search] && !Attendee.where(email: params[:search][:email]).empty? %>
    <div class='container-seven-form'>
      <h3><strong>Formations à venir</strong></h3>
      <% @sessions.order('date ASC').each do |session| %>
        <div class="session-form-card center-button">
          <div class="session-form-card-left">
            <img src="<%= session.image %>" alt="" style='height:100%;width:100%;object-fit:cover;'>
          </div>
          <div class="session-form-card-right">
            <div>
              <h3><strong><%= session.title %></strong></h3>
              <h5><%= session.date.strftime('%d/%m/%y') %> de <%= session.start_time.strftime('%H:%M') %> à <%= session.end_time.strftime('%H:%M') %> <br> <%= session.room %> </h5>
            </div>
              <p class='session-teaser'><%= session.teaser %></p>
            <% if (session.attendees.count >= session.attendee_number) && session.attendees.where(email: params[:search][:email]).empty? %>
              <div class="session-form-control">
                <% if session.title == 'NÉGOCIATION : DÉCOUVRIR LES TECHNIQUES DES FORCES SPÉCIALES' %>
                  <p>Session complète <br> Ouverture d’une seconde session prochainement</p>
                <% else %>
                  <p>Plus de places pour cette session</p>
                <% end %>
              </div>
            <% elsif (params[:search] && session.attendees.where(email: params[:search][:email]).empty?) %>
              <div class='session-form-control'>
                <p>Cliquez pour vous inscrire</p>
                <%= link_to "S'inscrire", training_session_session_attendees_path(@training, session, session_id: session.id, attendee_id: @attendee.id), method: :post, class: 'btn btn-edit-green btn-edit-disk' %>
              </div>
            <% else %>
              <div class='session-form-control'>
                <p>Vous êtes déjà inscrit à cette session</p>
                <%= link_to "Se désinscrire", training_session_session_attendee_path(@training, session, @session_attendee, session_id: session.id, attendee_id: @attendee.id), method: :delete, data: { confirm: "Vous êtes sur le point de vous désinscrire de la session #{session.title}. Continer ?"}, class: 'btn btn-edit-red btn-edit-trash' %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <div id="form-import">
    <% if user_signed_in? && (['super admin', 'admin', 'training manager'].include? current_user.access_level) %>
      <%= form_tag import_attendees_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag 'Import CSV' %>
      <% end %>
    <% end %>
  </div>
</div>
