<div class="container-seven-form">
  <h3>Première formation SEVEN ?<br>Merci d'entrer les informations suivantes</h3>
    <%= simple_form_for @attendee do |f| %>
      <div class="form-div">
        <span class='form-label'>Prénom</span>
        <%= f.input :firstname, label: false %>
      </div>
      <div class="form-div">
        <span class='form-label'>Nom</span>
        <%= f.input :lastname, label: false %>
      </div>
      <div class="form-div">
        <span class='form-label'>N°WWID</span>
        <%= f.input :employee_id, label: false %>
      </div>
      <div class="form-div" id='form-div-mail'>
        <span class='form-label'>Adresse email</span>
        <%= f.input :email, label: false, input_html: { value: params[:email] ? params[:email].downcase : '' } %>
        <%= invisible_captcha :subtitle, :attendee %>
        <%= f.hidden_field :training_id, value: params[:training_id] %>
        <%= f.hidden_field :form_id, value: params[:form_id] %>
      </div>
      <div class="center-button">
        <%= f.button :submit, "S'enregistrer", class: 'btn btn-edit' %>
      </div>
    <% end %>
</div>
<script>
  const field = document.querySelectorAll('.form-div');
  field.forEach(function(div){
    let span = div.querySelector('.form-label');
    let input = div.getElementsByTagName('input')[0];
     if (input.value !== '') {
      span.classList.add('form-label-active')
    }
    div.addEventListener('focusin', (event) => {
      input.focus();
      span.classList.add('form-label-active')
    })
    span.addEventListener('click', (event) => {
      input.focus();
      span.classList.add('form-label-active')
    });
    div.addEventListener('focusout', (event) => {
      if (input.value === '') {
        span.classList.remove('form-label-active')
      }
    });
  })
</script>
