<div class="container-seven-large-form">
  <div id='attendee-form-logo'>
    <%= image_tag "SEVENLOGO_SQUARE2.png" %>
    <img src="https://media.glassdoor.com/sqll/365366/kea-and-partners-squarelogo-1466439693008.png" alt="" >
  </div>
  <div id="attendee-form-title">
    <h3>Première formation SEVEN ?</h3>
    <h3>Merci d'entrer les informations suivantes</h3>
  </div>
    <%= simple_form_for @attendee, url: create_kea_partners_attendee_path(redirect: "#{request.base_url}#{session[:my_previous_url]}"), method: :post do |f| %>
      <div class="form-div">
        <span class='form-label'>Prénom</span>
        <%= f.input :firstname, label: false %>
      </div>
      <div class="form-div">
        <span class='form-label'>Nom</span>
        <%= f.input :lastname, label: false %>
      </div>
      <div class="form-div" id='form-div-mail'>
        <span class='form-label'>Adresse email</span>
        <%= f.input :email, label: false, input_html: { value: params[:email] ? params[:email].downcase : '' } %>
        <%= invisible_captcha :subtitle, :attendee %>
        <%= f.hidden_field :training_id, value: params[:training_id] %>
        <%= f.hidden_field :form_id, value: params[:form_id] %>
      </div>
      <div class="center-button">
        <%= f.button :submit, "S'enregistrer", class: 'btn btn-edit-yellow' %>
      </div>
    <% end %>
</div>
<script>
  const field = document.querySelectorAll('.form-div');
  field.forEach(function(div){
    let span = div.querySelector('.form-label');
    let input = div.getElementsByTagName('input')[0];
     if (input.value !== '') {
      span.classList.add('form-label-active')
    }
    div.addEventListener('focusin', (event) => {
      input.focus();
      span.classList.add('form-label-active')
    })
    span.addEventListener('click', (event) => {
      input.focus();
      span.classList.add('form-label-active')
    });
    div.addEventListener('focusout', (event) => {
      if (input.value === '') {
        span.classList.remove('form-label-active')
      }
    });
  })
</script>
