<div class="container-seven-large">
  <div id="page-controls">
    <h1>Billing</h1>
    <div id="page-buttons">
      <% sevener = Sevener.all.select{|x| if x['Builder_id'].present?; x['Builder_id'] == current_user.id; end} %>
      <% if sevener.present? && [sevener["Attestation sur l'honneur"],sevener['CV (sans coordonnées)'],sevener['CNI'],sevener['Carte vitale'],sevener['RIB']].all?{|x| x.present?} %>
        <p>Kit Sevener Complete</p>
      <% else %>
        <p>Kit Sevener Incomplete</p>
      <% end %>
    </div>
  </div>
  <div id='billing-index'>
    <% to_pay = [] %>
    <% paid = [] %>
    <% Training.select{|x| x.trainers.include?(current_user)}.each do |training| %>
      <% intervention = OverviewNumbersSevener.all.select{|x| x['Training_id'] == training.id && x['User_id'] == current_user.id}.first %>
      <% if intervention['Total Due (excl. VAT)'].to_f - intervention['Total Paid'].to_f <= 0 %>
        <% paid << training %>
      <% else %>
        <% to_pay << training %>
      <% end %>
    <% end %>
    <div class='billing-index-category'>
      <h4>Pending bills</h4>
      <% if to_pay.empty? %>
        <div class="billing-card">
          <div class="billing-card-title">
            <p>No training in this category</p>
          </div>
        </div>
      <% end %>
      <% to_pay.each do |training| %>
        <% invoices = OverviewInvoiceSevener.all.select{|x| x['User_id'] == [current_user.id] && x['Training_id'] == [training.id]} %>
        <% intervention = OverviewNumbersSevener.all.select{|x| x['Training_id'] == training.id && x['User_id'] == current_user.id}.first %>
        <div class="billing-card">
          <div class="billing-card-title flex-row-between-centered">
            <div class='flex-row-between-centered'>
              <% if invoices.count != 0 %>
                <a class='btn-link'><i class="fas fa-angle-down"></i></a>
              <% else %>
                <a class='btn-link'><i class="fas fa-angle-down" style='color: rgba(0,0,0,0);'></i></a>
              <% end %>
              <% if training.end_time < Date.today %>
                <p><strong>Training : Completed</strong> - <%= training.title %></p>
              <% else %>
                <p><strong>Training : Ongoing</strong> - <%= training.title %></p>
              <% end %>
            </div>
            <div class="flex-row-between-centered">
              <p>Invoices : <%= invoices.count %></p>
              <% total_due = intervention['Total Due (excl. VAT)'].to_f - intervention['Total Paid'].to_f %>
              <p>Total paid : <%= intervention['Total Paid'].to_f %>€</p>
              <p>Total due : <%= total_due %>€</p>
              <% unless total_due == 0 %>
                <% if training.end_time < Date.today %>
                  <%= link_to invoice_form_path(training), class: 'btn btn-edit-green btn-icon', data: {toggle:'tooltip'}, title: 'Submit an invoice' do %>
                    <i class="fas fa-file-invoice-dollar"></i>
                  <% end %>
                <% else %>
                  <a class='btn btn-edit-grey btn-icon disabled'>
                    <i data-toggle='tooltip' title='You may only send invoices for completed trainings.' class="fas fa-file-invoice-dollar"></i>
                  </a>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="content-index-nested collapse">
            <% total = 0 %>
            <% invoices.each do |invoice| %>
              <div class="billing-invoice-index flex-row-between-centered">
                <p class="content-index-card-title"><strong>Invoice n°<%= invoice['Invoice number'] %></strong></p>
                <% total += invoice['Amount'].to_f %>
                <% if total > total_due %>
                  <p>Amount : <%= invoice['Amount'] %>€ <span style='color:red;'>Error <i data-toggle='tooltip' title='The total bill is greater than the total due.' class="fas fa-question-circle"></i></span></p>
                <% else %>
                  <p>Amount : <%= invoice['Amount'] %>€</p>
                <% end %>
                <% if invoice['Status'] == 'Paid' %>
                  <i class="far fa-check-circle" data-toggle='tooltip' title='Paid'></i>
                <% else %>
                  <i class="fas fa-hourglass-half" data-toggle='tooltip' title='Pending'></i>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class='billing-index-category'>
      <h4>Paid bills</h4>
      <% if paid.empty? %>
        <div class="billing-card">
          <div class="billing-card-title">
            <p>No training in this category</p>
          </div>
        </div>
      <% end %>
      <% paid.each do |training| %>
        <% invoices = OverviewInvoiceSevener.all.select{|x| x['User_id'] == [current_user.id] && x['Training_id'] == [training.id]} %>
        <% intervention = OverviewNumbersSevener.all.select{|x| x['Training_id'] == training.id && x['User_id'] == current_user.id}.first %>
        <div class="billing-card">
          <div class="billing-card-title flex-row-between-centered">
            <div class='flex-row-between-centered'>
              <% if invoices.count != 0 %>
                <a class='btn-link'><i class="fas fa-angle-down"></i></a>
              <% else %>
                <a class='btn-link'><i class="fas fa-angle-down" style='color: rgba(0,0,0,0);'></i></a>
              <% end %>
              <p><%= training.title %></p>
            </div>
            <div class="flex-row-between-centered">
              <p>Invoices : <%= invoices.count %></p>
              <% total_due = intervention['Total Due (excl. VAT)'].to_f - intervention['Total Paid'].to_f %>
              <p>Total due : <%= total_due %>€</p>
              <% unless total_due == 0 %>
                <%= link_to invoice_form_path(training), class: 'btn btn-edit-green btn-icon', data: {toggle:'tooltip'}, title: 'Submit an invoice' do %>
                  <i class="fas fa-file-invoice-dollar"></i>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="content-index-nested collapse">
            <% invoices.each do |invoice| %>
              <div class="billing-invoice-index flex-row-between-centered">
                <p class="content-index-card-title"><strong>Invoice n°<%= invoice['Invoice number'] %></strong></p>
                <p><%= invoice['Amount'] %>€</p>
                <% if invoice['Status'] == 'Paid' %>
                  <p style='color:#79d70f;'><i class="far fa-check-circle" data-toggle='tooltip' title='Paid'></i> Paid</p>
                <% else %>
                  <p style='color:#fb7813;'><i class="fas fa-hourglass-half" data-toggle='tooltip' title='Pending'> Pending</i></p>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  const allCarets = document.querySelectorAll('.btn-link');
  allCarets.forEach(element => {
    element.addEventListener('click', event => {
      element.querySelector('.fas').classList.toggle('rotated');
    })
  })
</script>
<script>
  $('.btn-link').on('click', function(){
    if($(this).parent().parent().parent().children('.collapse').hasClass('show')) {
      $(this).parent().parent().parent().children('.collapse').collapse('hide');
    } else {
      $(this).parent().parent().parent().children('.collapse').collapse('show');
    }
  });
</script>
