<div class="container-seven-large" style="background-color: white">
  <div id="page-controls">
    <h1>Seveners</h1>
    <div id="page-buttons">
      <% if (['super admin', 'admin', 'training manager'].include? current_user.access_level) %>
        <a data-toggle='modal' type='button' data-target='#filterSevener' class="btn btn-edit-yellow">
          Filter
        </a>
      <% end %>
    </div>
  </div>
  <div id="sevener_total_training_hours" style='max-width: 25rem;'>
    <% if params[:filter] && params[:filter][:user].present? %>
      <p>Hours of Training</p>
      <div class="flex-row-between-centered">
        <p>Last 30 days : </p>
        <p><%= Session.joins(:session_trainers).where(session_trainers: {user_id: params[:filter][:user]}).where('date < ?', Date.today).where('date > ?', Date.today - 30.days).uniq.map(&:duration).sum %> h</p>
      </div>
      <div class="flex-row-between-centered">
        <p>This year : </p>
        <p><%= Session.joins(:session_trainers).where(session_trainers: {user_id: params[:filter][:user]}).where('date < ?', Date.today).where('date > ?', Date.today.beginning_of_year).uniq.map(&:duration).sum %> h</p>
      </div>
      <div class="flex-row-between-centered">
        <p>Total : </p>
        <p><%= Session.joins(:session_trainers).where(session_trainers: {user_id: params[:filter][:user]}).where('date < ?', Date.today).uniq.map(&:duration).sum %> h</p>
      </div>
    <% end %>
  </div>
  <div>
    <p>Coming Sessions</p>
    <% params[:filter].present? ? coming = Session.joins(:session_trainers).where(session_trainers: {user_id: params[:filter][:user]}).where('date >= ?', Date.today) : coming = Session.joins(:session_trainers).where(session_trainers: {user_id: current_user.id}).where('date >= ?', Date.today) %>
    <% coming.each do |session| %>
      <div class="invoice-card">
        <p><%= session.training.title %></p>
        <p><%= session.duration %> h</p>
        <p><%= session.date.strftime('%d/%m/%Y') %></p>
      </div>
    <% end %>
  </div>
  <div>
    <p>Completed Sessions</p>
    <% params[:filter].present? ? completed = Session.joins(:session_trainers).where(session_trainers: {user_id: params[:filter][:user]}).where('date < ?', Date.today) : completed = Session.joins(:session_trainers).where(session_trainers: {user_id: current_user.id}).where('date < ?', Date.today) %>
    <% completed.each do |session| %>
      <div class="invoice-card">
        <p><%= session.training.title %></p>
        <p><%= session.duration %> h</p>
        <p><%= session.date.strftime('%d/%m/%Y') %></p>
      </div>
    <% end %>
  </div>
  <div>
    <p>Invoices status</p>
    <% params[:filter].present? ? invoices = InvoiceSevenerAirtable.all(filter: '{Mail (from Seveners)} = "#{User.find(params[:filter][:user].email)}"') : invoices = InvoiceSevenerAirtable.all.select{|x| x['Mail (from Seveners)'] == [current_user.email]} %>
    <% invoices.each do |invoice| %>
      <div class="invoice-card">
        <p><%= Training.find_by(refid: invoice['Training Refid']).title %></p>
        <p><%= invoice['Invoice_id'] %></p>
        <p><%= invoice['Date'] %></p>
        <% if invoice['Paid'].nil? %>
          <p>Pending</p>
        <% else %>
          <p>Paid</p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<!-- Modals -->
<div class="modal fade" id="filterSevener" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm" role="document" style="border-radius: 20px">
    <%= render 'filter_sevener' %>
  </div>
</div>
<!--  -->
