<h1>Pages#home</h1>

<ul>
  <li><%= link_to "User List", users_path %></li>
  <li><%= link_to "Project List", projects_path %></li>
  <li><%= link_to "Intel List", intelligences_path %></li>
  <li><%= link_to "Content List", contents_path %></li>
  <li><%= link_to "Client Companies List", client_companies_path %></li>
  <li><%= link_to "Client Contacts List", client_contacts_path %></li>
</ul>
