<%# if params[:auth_token] != @client_company.auth_token %>
<% if params[:auth_token] == "846CD88B4B" || (params[:attendee].present? && params[:attendee][:auth_token] == "846CD88B4B") %>
  <div class="container-seven-large-form">
    <div id='attendee-form-logo'>
      <%= image_tag "SEVENLOGO_SQUARE2.png" %>
      <img src="https://media.glassdoor.com/companyupdate/w600/1519/intel-corporation-companyupdate-1599247060524.jpg" alt="" >
    </div>
  <% if !user_signed_in? %>
    <%= simple_form_for :attendee, class:"sign-in-form", url: intel_form_path, method: 'GET' do |f| %>
      <%# attendee = IntelAttendee.all.filter("{Email} = '#{params[:attendee][:email]}'") %>
      <% if @attendee.present? %>

      <% elsif params[:attendee].present? && !@attendee.present? %>
        <% controller.redirect_to intel_new_attendee_path(email: params[:attendee][:email], auth_token: params[:attendee][:auth_token]) %>
      <% else %>
        <div id="attendee-form-title">
          <h3>Merci de vous identifier</h3>
        </div>
        <div class="email-form">
          <%= f.input :email, label: 'Adresse email' %>
          <%= f.hidden_field :auth_token, :value => params[:auth_token] %>
          <p class="center-button"> <%= f.submit 'Connexion', class: 'btn btn-edit-yellow' %> </p>
        </div>
      <% end %>
    <% end %>


    <% if @attendee.present? %>
      <div class="info-container">
        <div class="conference">
          <div class="conference-title">
            <h3>CONFÉRENCE BIEN SE CONNAÎTRE ET GÉRER SON TEMPS</h3>
            <h4>avec Audrey Rossat<br>24 mars de 09:30 - 10:30</h4>
          </div>
          <div class="conference-content">
            <div class="conference-image">
              <%= image_tag 'motobike'%>
            </div>
            <div class="conference-text">
              <p>Sportive de haut niveau depuis plus de 10 ans en moto tout terrain, Audrey se dirige maintenant vers le rallye. Forte d’une grande expérience en enduro elle a réalisé une bonne performance au rallye du Maroc en 2019 et validé grâce à cela sa participation pour le Dakar 2021 !!</p>
              <p>Première française depuis plus de 15 ans à s’engager sur cette épreuve mythique.</p>
              <ul>
                <li><b>Les résultats les plus parlant de mon palmarès :</b></li>
                <li>10 sélections en équipe de France ( pilote la plus sélectionnée)</li>
                <li>4 fois championne du monde par équipe</li>
                <li>Plusieurs podium au championnat du monde</li>
                <li>3 ème du championnat du monde en individuel</li>
                <li>Championne d’Europe</li>
                <li>Multiple championne de France</li>
                <li>Finisher au rallye du Maroc , 1 ère féminine en enduro cup</li>
                <li>Deux saisons sur le trophée Andros , course sur glace.</li>
              </ul>
            </div>
          </div>
          <div class="centered-item">
            <div class="wrap">
              <div>
                <label class="toggleButton toggleButton1" id='toggle1'>
                  <input type="checkbox" class='checkbox1'>
                  <div>
                      <svg viewBox="0 0 44 44">
                          <path d="M14,24 L21,31 L39.7428882,11.5937758 C35.2809627,6.53125861 30.0333333,4 24,4 C12.95,4 4,12.95 4,24 C4,35.05 12.95,44 24,44 C35.05,44 44,35.05 44,24 C44,19.3 42.5809627,15.1645919 39.7428882,11.5937758" transform="translate(-2.000000, -2.000000)"></path>
                      </svg>
                  </div>
              </label>
              </div>
              <div class="parent">
                <div class="text">JE SOUHAITE M'INSCRIRE</div>
              </div>
            </div>
          </div>
        </div>
        <div class="conference">
          <div class="conference-title">
            <h3>CULTIVER SON INTELLIGENCE ÉMOTIONNELLE ET GÉRER SES PRIORITÉS</h3>
          </div>
          <div class="conference-content">
            <div class="conference-image">
              <%= image_tag 'windmill'%>
            </div>
            <div class="conference-text">
              <p><i>"On ne voit jamais ce qu’on a fait, toujours ce qu’il reste à faire." – Marie Curie</i></p>
              <p>Chaque personne développe une intelligence propre en fonction de ses expériences individuelles.</p>
              <p>Dans cet atelier de connaissance de soi et de développement personnel, les participant appréhenderont les différentes facettes de leur personnalité afin de mieux maîtriser leur gestion du temps et des priorités.</p>
              <ul class="conference-times">
                <li><b>Formation collective :</b></li>
                <li>Session 1: le 24 mars de 10h30 à 12h30.</li>
                <li>Session 2: 25 mars de 09h30 à 12h30.<li>
                <br>
                <li><b>Coaching individuel :</b></li>
                <li>26 mars, 30 minutes à définir avec le formateur.</li>
              </ul>
            </div>
          </div>
          <div class="centered-item">
            <div class="wrap">
              <div>
                <label class="toggleButton toggleButton2" id='toggle2'>
                  <input type="checkbox" class='checkbox2'>
                  <div>
                      <svg viewBox="0 0 44 44">
                          <path d="M14,24 L21,31 L39.7428882,11.5937758 C35.2809627,6.53125861 30.0333333,4 24,4 C12.95,4 4,12.95 4,24 C4,35.05 12.95,44 24,44 C35.05,44 44,35.05 44,24 C44,19.3 42.5809627,15.1645919 39.7428882,11.5937758" transform="translate(-2.000000, -2.000000)"></path>
                      </svg>
                  </div>
              </label>
              </div>
              <div class="parent">
                <div class="text">JE SOUHAITE M'INSCRIRE</div>
              </div>
            </div>
          </div>
          <div class="centered-item">
            <%= simple_form_for :subscription, url: intel_subscription_path, method: 'GET' do |f| %>
              <div class="hidden">
                <% if @attendee['Events']&.include?('recx4QlAxuGX1oKSv') %>
                  <%= f.input :event1, as: :boolean, input_html:{checked: true} %>
                <% else %>
                  <%= f.input :event1, as: :boolean %>
                <% end %>
                <% if @attendee['Events']&.include?('recTtCEak1ME1Nd8j') %>
                  <%= f.input :event2, as: :boolean, input_html:{checked: true} %>
                <% else %>
                  <%= f.input :event2, as: :boolean %>
                <% end %>
                <%= f.hidden_field :attendee, :value => @attendee.id %>
                <%= f.hidden_field :auth_token, :value => params[:auth_token] %>
              </div>
              <p class="center-button"> <%= f.submit 'Soumettre', class: 'btn btn-edit-yellow' %> </p>
            <% end %>
          </div>
        </div>
    <% end %>
  <% end %>
<% else %>
  <div id="warning-message">
    <h1>Access restricted</h1>
  </div>
<% end %>

<script>
  if ($("#subscription_event1").is(":checked")) {
    $('#toggle1').click();
  }
  if ($("#subscription_event2").is(":checked")) {
    $('#toggle2').click();
  }
</script>

<script>
  button1 = document.querySelector('#toggle1');
  event1 = document.getElementById('subscription_event1');
  button2 = document.querySelector('#toggle2');
  event2 = document.getElementById('subscription_event2');
  isClicked = false;

  button1.addEventListener('click', event => {
    if(!isClicked){
      isClicked = true;
      event1.click();
      setTimeout(function(){
        isClicked = false;
      },10);
    }


  })

  button2.addEventListener('click', event => {
    if(!isClicked){
      isClicked = true;
      event2.click();
      setTimeout(function(){
        isClicked = false;
      },10);
    }
  })
</script>
