<% training = Training.find_by(refid: '2020-0157') %>
<% sessions = training.sessions.sort_by{|x|x.id} %>
<% if params[:auth_token] == training.client_company.auth_token || params[:auth_token] == ClientCompany.find_by(name: 'SEVEN').auth_token || (params[:search].present? && params[:search][:auth_token]) %>
  <div class="container-seven-large-form">
    <div id='attendee-form-logo'>
      <%= image_tag "SEVENLOGO_SQUARE2.png" %>
      <img src="https://media.glassdoor.com/sqll/365366/kea-and-partners-squarelogo-1466439693008.png" alt="" >
    </div>
    <% training = Training.find_by(refid: '2020-0157') %>
    <% sessions = training.sessions.sort_by{|x|x.id} %>
    <% if params[:search].present? %>
      <% attendee = Attendee.find_by(email: params[:search][:email]) %>
    <% end %>
    <div id='attendee-form'>
      <% status = !params[:search].nil? %>
      <div id="attendee-form-title">
        <h1 style='line-height:1.3;'>Formulaire d’inscription aux formations SEVEN</h1>
        <br>
        <h2 style='color: #FFC451;'><strong></strong></h2>
      </div>
      <% if !user_signed_in? %>
        <%= simple_form_for :search, url: kea_partners_m_path, method: 'GET' do |f| %>
          <% if status && !Attendee.where(email: params[:search][:email]).empty? %>
            <% attendee = Attendee.where(email: params[:search][:email]).first if params[:search] %>
            <% if params[:modify].nil? && (SessionAttendee.where(session_id: training.sessions.ids, attendee_id: attendee.id)&.present? || AttendeeInterest.where(attendee_id: attendee.id, session_id: training.sessions.ids))&.present? %>
              <%controller.redirect_to kea_partners_thanks_path(search: {email: attendee.email}) %>
            <% end %>
            <div class='flex-column-between-centered'>
              <%# f.input :firstname, label: 'Prénom', input_html: { value: attendee.firstname, style: 'width:30rem;'}, disabled: true, required: false %>
              <%# f.input :lastname, label: 'Nom', input_html: { value: attendee.lastname, style: 'width:30rem;'}, disabled: true, required: false %>
              <%= f.input :email, input_html: { value: attendee.email, style: 'width:30rem;' }, disabled: true, required: false %>
            </div>
          <% elsif status && Attendee.where(email: params[:search][:email]).empty? %>
            <% controller.redirect_to new_kea_partners_attendee_path(training_id: training.id, email: params[:search][:email]) %>
          <% else %>
            <p>Veuillez entrer votre adresse email pour continuer</p>
            <br>
            <%= f.input :email, label: 'Adresse email' %>
            <%= f.hidden_field :auth_token, :value => params[:auth_token] %>
            <p class="center-button"> <%= f.submit 'Connexion', class: 'btn btn-edit-yellow' %> </p>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <% if status && !Attendee.where(email: params[:search][:email]).empty? %>
      <h4 style='margin:5rem 0 0 0;'>Bienvenue ! Merci de sélectionner les modules de formations qui vous intéressent. A très bientôt, L’équipe Seven</h4>
    <% end %>
    <% if (params[:search] && !Attendee.where(email: params[:search][:email]).empty?) || user_signed_in? %>
      <div class='container-seven-large-form'>
        <div class="session-form-card-special center-button">
          <div class="session-form-card-left-special">
            <%= image_tag "kea_6.jpg", style: 'height:100%;width:100%;object-fit:cover;' %>
          </div>
          <div class="session-form-card-right-special">
            <div class="session-form-card-title">
              <h4>Communiquer efficacement et motiver ses équipes</h4>
            </div>
            <p class='session-teaser'>Pitcher devant un client ou des collaborateurs nécessite une bonne maîtrise de son sujet ainsi qu'une bonne lecture des différents profils qui composent l'auditoire.
              <br><br>
              Dans cet atelier les participants définiront leur profil de communiquant et travailleront sur leurs propres leviers de motivations.
            </p>
            <div class="session-form-control flex-column-between-left">
              <%= simple_form_for :create_attendees, url: test_session_attendee_path(attendee_id: attendee.id), method: 'GET' do |f| %>
                <div class="flex-column-between-left">
                  <% sessions1_all = training.sessions.where(title: "Communiquer efficacement et motiver ses équipes").order(:date) %>
                  <% sessions1 = sessions1_all[1..-1].reject{|s| s.attendee_number - s.attendees.count <= 0} %>
                  <% if SessionAttendee.where(attendee_id: attendee.id, session_id: sessions1.first(2).map(&:id))&.first&.session_id&.to_s.present? %>
                    <% checked = SessionAttendee.where(attendee_id: attendee.id, session_id: sessions1.first(2).map(&:id))&.first&.session_id&.to_s %>
                  <% elsif AttendeeInterest.where(attendee_id: attendee.id, session_id: sessions1_all[0].id).present? %>
                    <% checked = 'Interested' %>
                  <% else %>
                    <% checked = 'Not interested' %>
                  <% end %>
                  <p class='session-teaser'>Indiquez votre choix pour la date de la formation :</p>
                  <% selection = [] %>
                  <% other_options = [['Je suis interessé mais pas disponible à ces dates', 'Interested'], ['Je ne souhaite pas participer à cet atelier', 'Not interested']] %>
                  <% sessions1.first(2).each do |x| %>
                    <% el = ["Le #{x.date.strftime('%d/%m/%Y')} : #{x.start_time.strftime('%Hh%M')}-#{x.end_time.strftime('%Hh%M')} (#{x.attendee_number-x.attendees.count} places disponibles)", x.id] %>
                    <% selection << el %>
                  <% end %>
                  <%= f.collection_radio_buttons :choice1, (selection + other_options),:last, :first, checked: checked do |b| %>
                    <div class="flex-row-between-centered radio"kea_partners>
                      <p class='form_radio_label'>
                        <label class="radio_container"><%= b.text %>
                          <%= b.radio_button %>
                          <span class="checkmark"></span>
                        </label>
                      </p>
                    </div>
                  <% end %>
                </div>
            </div>
          </div>
        </div>
        <div class="session-form-card-special center-button">
          <div class="session-form-card-left-special">
            <%= image_tag "kea_4.png", style: 'height:100%;width:100%;object-fit:cover;' %>
          </div>
          <div class="session-form-card-right-special">
            <div class="session-form-card-title">
              <h4>Préparer une négociation</h4>
            </div>
            <p class='session-teaser'>Dans cet atelier les participants seront amenés à jouer une simulation de négociation en un contre un. Afin d'identifier les rouages qui sous-tendent toute négociation.
              <br><br>
              Ils découvriront ensuite une méthodologie en 10 points, simple et efficace pour préparer leurs futures négociations.
            </p>
            <div class="session-form-control flex-column-between-left">
                <div class="flex-column-between-left">
                  <% sessions2_all = training.sessions.where(title: "Préparer une négociation").order(:date) %>
                  <% sessions2 = sessions2_all.reject{|s| s.attendee_number - s.attendees.count <= 0} %>
                  <% if SessionAttendee.where(attendee_id: attendee.id, session_id: sessions2.first(2).map(&:id))&.first&.session_id&.to_s.present? %>
                    <% checked = SessionAttendee.where(attendee_id: attendee.id, session_id: sessions2.first(2).map(&:id))&.first&.session_id&.to_s %>
                  <% elsif AttendeeInterest.where(attendee_id: attendee.id, session_id: sessions2_all[0].id).present? %>
                    <% checked = 'Interested' %>
                  <% else %>
                    <% checked = 'Not interested' %>
                  <% end %>
                  <p class='session-teaser'>Indiquez votre choix pour la date de la formation :</p>
                  <% selection = [] %>
                  <% other_options = [['Je suis interessé mais pas disponible à ces dates', 'Interested'], ['Je ne souhaite pas participer à cet atelier', 'Not interested']] %>
                  <% sessions2.first(2).each do |x| %>
                    <% el = ["Le #{x.date.strftime('%d/%m/%Y')} : #{x.start_time.strftime('%Hh%M')}-#{x.end_time.strftime('%Hh%M')} (#{x.attendee_number-x.attendees.count} places disponibles)", x.id] %>
                    <% selection << el %>
                  <% end %>
                  <%= f.collection_radio_buttons :choice2, (selection + other_options),:last, :first, checked: checked do |b| %>
                    <div class="flex-row-between-centered radio"kea_partners>
                      <p class='form_radio_label'>
                        <label class="radio_container"><%= b.text %>
                          <%= b.radio_button %>
                          <span class="checkmark"></span>
                        </label>
                      </p>
                    </div>
                  <% end %>
                </div>
            </div>
          </div>
        </div>
                <%= hidden_field_tag(:attendee_id, attendee.id) %>
                <%= hidden_field_tag(:sessions_ids, {choice1: sessions1.first(2).map(&:id), choice2: sessions2.first(2).map(&:id)}) %>
                <div class="flex-row-end-centered" style='margin: 3rem 0;'>
                  <%= f.submit 'Valider', class: 'btn btn-edit-yellow-large btn-submit btn-submit-disabled' %>
                </div>
              <% end %>
      </div>
    <% end %>
  </div>

  <script>
    button = document.querySelector('.btn-submit');
    button.disabled = true;
    var radio = document.querySelectorAll(".checkmark");
    radio.forEach(function(item){
      item.addEventListener('click', (event) => {
        button.disabled = false;
        button.classList.remove('btn-submit-disabled');
      })
    })
  </script>
<% else %>
  <div class="container-seven-large-form">
    <div id='attendee-form-logo'>
      <h3>You are not allowed to access this page.</h3>
    </div>
  </div>
<% end %>
