<div class="container-seven-large-form">
  <div id='attendee-form-logo'>
    <%= image_tag "SEVENLOGO_SQUARE2.png" %>
    <img src="https://media.glassdoor.com/sqll/365366/kea-and-partners-squarelogo-1466439693008.png" alt="" >
  </div>
  <% training = Training.find_by(refid: '20-0088') %>
  <% sessions = training.sessions.sort_by{|x|x.id} %>
  <div id='attendee-form'>
    <% status = !params[:search].nil? %>
    <div id="attendee-form-title">
      <h1>Formations SEVEN : Inscription</h1>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non consectetur dolor. Donec viverra id libero nec finibus. Aliquam condimentum nec ante tristique euismod.</p>
    </div>
    <% if !user_signed_in? %>
      <%= simple_form_for :search, url: kea_partners_c_path, method: 'GET' do |f| %>
        <% if status && !Attendee.where(email: params[:search][:email]).empty? %>
          <% attendee = Attendee.where(email: params[:search][:email]).first if params[:search] %>
          <div style='display:flex;justify-content:space-around;'>
            <%= f.input :firstname, label: 'Prénom', input_html: { value: attendee.firstname}, disabled: true, required: false %>
            <%= f.input :lastname, label: 'Nom', input_html: { value: attendee.lastname}, disabled: true, required: false %>
          </div>
          <div style='display:flex;justify-content:space-around;'>
            <%= f.input :email, input_html: { value: attendee.email }, disabled: true, required: false %>
          </div>
        <% elsif status && Attendee.where(email: params[:search][:email]).empty? %>
          <% controller.redirect_to new_kea_partners_attendee_path(training_id: training.id, email: params[:search][:email]) %>
        <% else %>
          <%= f.input :email, label: 'Adresse email' %>
          <p class="center-button"> <%= f.submit 'Connexion', class: 'btn btn-edit-yellow' %> </p>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <% if params[:search].present? %>
    <% attendee = Attendee.find_by(email: params[:search][:email]) %>
  <% end %>
  <% if (params[:search] && !Attendee.where(email: params[:search][:email]).empty?) || user_signed_in? %>
    <div class='container-seven-large-form'>
      <div class="session-form-card-special center-button">
        <div class="session-form-card-left-special">
          <%= image_tag "kea_1.jpg", style: 'height:100%;width:100%;object-fit:cover;' %>
        </div>
        <div class="session-form-card-right-special">
          <div class="session-form-card-title">
            <h4>5 WAYS TO CONTROL YOUR TIME</h4>
          </div>
          <p class='session-teaser'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non consectetur dolor. Donec viverra id libero nec finibus. Aliquam condimentum nec ante tristique euismod.<br><br>Quisque turpis tellus, tristique vitae felis ut, tristique posuere augue. Sed eget nunc at lacus lacinia consectetur ac et arcu. Suspendisse non cursus elit, ut eleifend quam.
          </p>
          <div class="session-form-control flex-column-between-left">
            <%= simple_form_for :create_attendees, url: test_session_attendee_path(attendee_id: attendee.id), method: 'GET' do |f| %>
              <div class="flex-column-between-left">
                <% if SessionAttendee.where(attendee_id: attendee.id, session_id: [sessions[0].id, sessions[1].id])&.first&.session_id&.to_s.present? %>
                  <% checked = SessionAttendee.where(attendee_id: attendee.id, session_id: [sessions[0].id, sessions[1].id])&.first&.session_id&.to_s %>
                <% elsif AttendeeInterest.where(attendee_id: attendee.id, session_id: sessions[0].id).present? %>
                  <% checked = 'Interested' %>
                <% else %>
                  <% checked = 'Not interested' %>
                <% end %>
                <%= f.collection_radio_buttons :choice1, [["Le 04 Juin 2020 : 9h-12h (#{sessions[0].attendee_number-sessions[0].attendees.count} places disponibles)", sessions[0].id] ,["Le 10 Juin 2020 : 9h-12h (#{sessions[1].attendee_number-sessions[1].attendees.count} places disponibles)" , sessions[1].id], ['Je suis interessé mais pas disponible à ces dates', 'Interested'], ['Je ne souhaite pas participer à cet atelier', 'Not interested']],:last, :first, checked: checked do |b| %>
                  <div class="flex-row-between-centered radio"kea_partners>
                    <p class='form_radio_label'>
                      <label class="radio_container"><%= b.text %>
                        <%= b.radio_button %>
                        <span class="checkmark"></span>
                      </label>
                    </p>
                  </div>
                <% end %>
              </div>
          </div>
        </div>
      </div>
      <div class="session-form-card-special center-button">
        <div class="session-form-card-left-special">
          <%= image_tag "kea_2.png", style: 'height:100%;width:100%;object-fit:cover;' %>
        </div>
        <div class="session-form-card-right-special">
          <div class="session-form-card-title">
            <h4>LEARNING DESIGN THINKING - LEAD CREATIVE CHANGE IN YOUR ORGANIZATION</h4>
          </div>
          <p class='session-teaser'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non consectetur dolor. Donec viverra id libero nec finibus. Aliquam condimentum nec ante tristique euismod.<br><br>Quisque turpis tellus, tristique vitae felis ut, tristique posuere augue. Sed eget nunc at lacus lacinia consectetur ac et arcu. Suspendisse non cursus elit, ut eleifend quam.
          </p>
          <div class="session-form-control flex-column-between-left">
            <div class="flex-column-between-left">
              <% if SessionAttendee.where(attendee_id: attendee.id, session_id: [sessions[2].id, sessions[3].id])&.first&.session_id&.to_s.present? %>
                <% checked = SessionAttendee.where(attendee_id: attendee.id, session_id: [sessions[2].id, sessions[3].id])&.first&.session_id&.to_s %>
              <% elsif AttendeeInterest.where(attendee_id: attendee.id, session_id: sessions[2].id).present? %>
                <% checked = 'Interested' %>
              <% else %>
                <% checked = 'Not interested' %>
              <% end %>
              <%= f.collection_radio_buttons :choice2, [["Le 04 Juin 2020 : 14h-17h (#{sessions[2].attendee_number-sessions[2].attendees.count} places disponibles)", sessions[2].id] ,["Le 10 Juin 2020 : 9h-12h (#{sessions[3].attendee_number-sessions[3].attendees.count} places disponibles)", sessions[3].id], ['Je suis interessé mais pas disponible à ces dates', 'Interested'], ['Je ne souhaite pas participer à cet atelier', 'Not interested']],:last, :first, checked: checked do |b| %>
                <div class="flex-row-between-centered radio">
                  <p class='form_radio_label'>
                    <label class="radio_container"><%= b.text %>
                      <%= b.radio_button %>
                      <span class="checkmark"></span>
                    </label>
                  </p>
                </div>
              <% end %>
              <%= hidden_field_tag(:attendee_id, attendee.id) %>
              <%= hidden_field_tag(:sessions_ids, {'choice1'=> [sessions[0].id,sessions[1].id], 'choice2'=> [sessions[2].id,sessions[3].id]}) %>
            </div>
          </div>
        </div>
      </div>
          <div class="flex-row-end-centered" style='margin: 3rem 0;'>
            <%= f.submit 'Valider', class: 'btn btn-edit-yellow-large btn-submit btn-submit-disabled' %>
          </div>
        <% end %>
    </div>
  <% end %>
</div>

<script>
  button = document.querySelector('.btn-submit');
  button.disabled = true;
  var radio = document.querySelectorAll(".checkmark");
  radio.forEach(function(item){
    item.addEventListener('click', (event) => {
      button.disabled = false;
      button.classList.remove('btn-submit-disabled');
    })
  })
</script>
