<div class="container-seven-large-form">
  <div id='attendee-form-logo'>
    <%= image_tag "SEVENLOGO_SQUARE2.png" %>
    <img src="https://media.glassdoor.com/sqll/365366/kea-and-partners-squarelogo-1466439693008.png" alt="" >
  </div>
  <% training = Training.find_by(refid: '20-0003') %>
  <% sessions = training.sessions.sort_by{|x|x.id} %>
  <div id='attendee-form'>
    <% status = !params[:search].nil? %>
    <div id="attendee-form-title">
      <h1>Formulaire d'inscription</h1>
      <h2 style='color: #FFC451;'><strong></strong></h2>
    </div>
    <% if !user_signed_in? %>
      <%= simple_form_for :search, url: kea_partners_d_path, method: 'GET' do |f| %>
        <% if status && !Attendee.where(email: params[:search][:email]).empty? %>
          <% attendee = Attendee.where(email: params[:search][:email]).first if params[:search] %>
          <div style='display:flex;justify-content:space-around;'>
            <%= f.input :firstname, label: 'Prénom', input_html: { value: attendee.firstname}, disabled: true, required: false %>
            <%= f.input :lastname, label: 'Nom', input_html: { value: attendee.lastname}, disabled: true, required: false %>
          </div>
          <div style='display:flex;justify-content:space-around;'>
            <%= f.input :email, input_html: { value: attendee.email }, disabled: true, required: false %>
          </div>
        <% elsif status && Attendee.where(email: params[:search][:email]).empty? %>
          <% controller.redirect_to new_kea_partners_attendee_path(training_id: training.id, email: params[:search][:email]) %>
        <% else %>
          <%= f.input :email, label: 'Adresse email' %>
          <p class="center-button"> <%= f.submit 'Connexion', class: 'btn btn-edit-yellow' %> </p>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <% if params[:search].present? %>
    <% attendee = Attendee.find_by(email: params[:search][:email]) %>
  <% end %>
  <%= render 'kea_partners_d_partial', training: training, sessions: sessions, attendee: attendee %>
</div>
