<div id="overlord-navbar" class='flex-row-between-centered'>
  <%= image_tag 'LOGO-LEARN-02.png', class: 'overlord-logo' %>
  <a href="">Review</a>
</div>
<div class="overlord-container flex-row-between-centered">
  <div class="overlord-presentation">
    <h4>Présentation</h4>
    <p>Traduction de H. Rackham (1914)
      <br><br>
        "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"</p>
  </div>
  <div class="overlord-contact-form">
    <form action="https://getsimpleform.com/messages?form_api_token=b9caaa8cd3564bb6363c2bba6c1ab16f" method="POST" id="contact-form">
      <div class="form-group">
        <textarea name="message" id="form-message" cols="30" rows="10" placeholder="Votre message" class='form-control'></textarea>
      </div>
      <div class="form-group flex-row-between-centered">
        <input type="text" name="lastname" id='form-lastname' placeholder="Nom" class='form-control'>
        <input type="text" name="firstname" id='form-firstname' placeholder="Prénom" class='form-control'>
      </div>
      <div class="form-group flex-row-between-centered">
        <input type="email" name="email" id='form-email' placeholder="Adresse email" class='form-control'>
        <input type="text" name="company" id='form-email' placeholder="Société" class='form-control'>
      </div>
      <button type="submit" class="btn contact-button">Soumettre</button>
    </form>
  </div>
</div>
<div class="overlord-clients flex-row-between-centered">
  <%= image_tag 'intel.svg', class: 'overlord-client-logo' %>
  <%= image_tag 'microsoft.png', class: 'overlord-client-logo' %>
  <%= image_tag 'pwc.png', class: 'overlord-client-logo' %>
  <%= image_tag 'deliveroo.jpg', class: 'overlord-client-logo' %>
  <%= image_tag 'bhv.jpg', class: 'overlord-client-logo' %>
  <%= image_tag 'extia.jpeg', class: 'overlord-client-logo' %>
</div>
