<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style=" display: flex; justify-content: space-between;">
      <h3 class="modal-title" id="myModalLabel"><%= @client_contact.name %></h3>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <%= simple_form_for @client_contact do |f| %>
          <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :title %>
    <%= f.input :role_description, :input_html => { :rows => 5 , :style => 'width: 100%'} %>
    <%= f.input :client_company_id, collection: ClientCompany.all.order(:name) %>
  </div>
  <div class="modal-footer">
    <div>
      <%= f.button :submit, class: 'btn btn-edit' %>
      <% end %>
      <%= link_to client_contact_path(@client_contact), method: :delete, data: { confirm: 'Are you sure ?'} do %>
          <button class="btn btn-edit">
            <i class="fas fa-trash-alt"></i>
          </button>
        <% end %>
    </div>
  </div>

    </div>
  </div>
</div>
