<div class="container-seven">
  <h2>Contacts List</h2>
  <ul class="client-contact-list">
    <% @client_contacts.each do |contact| %>
      <li>
        <%= link_to client_contact_path(contact) do %>
          <div class="client-contact-card user-contact-card">
            <img class='client-company-logo-index' src='<%= "#{contact.client_company.logo}" %>'>
            <div>
              <p><%= contact.name %></p>
              <div>
                <p><%= contact.title %></p>
                <p><%= contact.email %></p>
              </div>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
