<div class="container-seven">
  <h2>Client contacts List</h2>
  <ul class="client-contact-list">
    <% if ['super admin', 'admin', 'training manager'].include? current_user.access_level %>
      <li>
        <%= link_to new_client_contact_path do %>
          <div class="client-company-card">
            <img class='client-company-logo-index' src='https://www.pecora.com/wp-content/uploads/2015/11/new.png'>
            <div>
              <p>Add a new client contact</p>
              <p></p>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
    <% @client_contacts.each do |contact| %>
      <li>
        <%= link_to client_contact_path(contact) do %>
          <div class="client-contact-card user-contact-card">
            <img class='client-company-logo-index' src='<%= "#{contact.client_company.logo}" %>'>
            <div>
              <p><%= contact.name %></p>
              <div>
                <p><%= contact.title %></p>
                <p><%= contact.email %></p>
              </div>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
