<div class="container-seven">
  <div class="training-info-headers">
    <%= link_to client_company_path(@client_company), class: 'btn return-arrow' do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
  </div>
  <h3>Add a client contact</h3>

  <%= simple_form_for [@client_company, @client_contact] do |f| %>
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :title %>
    <%= f.input :role_description, :input_html => { :rows => 5 , :style => 'width: 100%'} %>
    <p class="center-button"> <%= f.button :submit, 'Save', class: 'btn btn-edit' %> </p>
  <% end %>
</div>
