<div class="container-seven-large">
  <div id='page-controls'>
    <%= link_to client_company_path(@client_company), class: 'btn return-arrow' do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
  </div>
  <h3>Add a client contact</h3>

  <%= simple_form_for [@client_company, @client_contact] do |f| %>
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :title %>
    <%= f.input :role_description, :input_html => { :rows => 5 , :style => 'width: 100%'} %>
    <%= f.input :billing_contact %>
    <div style='display:flex;justify-content:space-between;'>
      <%= f.input :billing_address, placeholder: 'ex: 5 rue Moret' %>
      <%= f.input :billing_zipcode, placeholder: 'ex: 75011', input_html: { maxlength: 5 } %>
      <%= f.input :billing_city, placeholder: 'ex: Paris' %>
    </div>
    <p class="center-button"> <%= f.button :submit, 'Save', class: 'btn btn-edit-yellow' %> </p>
  <% end %>
</div>
