<div class="container-seven">
  <h2>Ajouter un contact client</h2>

  <%= simple_form_for [@client_company, @client_contact] do |f| %>
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :title %>
    <%= f.input :role_description, :input_html => { :rows => 5 , :style => 'width: 100%'} %>
    <p class="center-button"> <%= f.button :submit, 'Sauvegarder', class: 'btn btn-edit' %> </p>
  <% end %>
</div>
