<div class="container-seven">
  <%= link_to client_company_path(@client_contact.client_company), class: 'return-arrow' do %><i class="fas fa-arrow-left"></i><% end %>
  <div class="centered-card-show">
    <div class="index-card-large-show">
      <div>
        <img src='<%= @client_contact.client_company.logo %>' alt="" class='client-company-logo-show'>
        <div>
          <div class="show-control-links">
            <% if ['super admin', 'admin', 'training manager'].include? current_user.access_level %>
              <button class="edit-fafa btn btn-edit btn-edit-pen" data-toggle='modal' data-target='#editClientContact'><i class="fas fa-pen"></i></button>
            <% end %>
          </div>
        </div>
      </div>
      <p>Company/School: <%= @client_contact.client_company.name %></p>
      <p>Name: <%=  @client_contact.name %></p>
      <p>Email: <%= @client_contact.email %></p>
      <p>Position: <%= @client_contact.title %></p>
      <p>Description: <%= @client_contact.role_description %></p>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editClientContact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document" style="border-radius: 2rem">
    <%= render 'edit', client_contact: @client_contact %>
  </div>
</div>
