<div class="row" style="background-color: white; margin-right: 15px;">
  <% result_term = [] %>
  <% projects.each do |project| %>
    <% if project.end_date < Date.today %>
      <div class="col-xs-12 col-md-4" style="display: flex; justify-content: center;">
        <%= link_to project_path(project) do %>
        <div class="card" id="card-index">
          <div class="card-main">
            <div class='client-logo' style="background-image: url(<%= project.client_contact.client_company.logo %>); background-size: 50px 50px; background-repeat: no-repeat;"></div>
            <h5><%= project.title %></h5>
            <% result_term << project %>
            <div class="card-infos">
              <div class='card-infos-elements'><i class="fas fa-user"></i><%= " #{project.participant_number} people" %></div>
              <div class='card-infos-elements'><i class="far fa-calendar-alt"></i><%= " From #{project.start_date.strftime('%d/%m/%y')} to #{project.end_date.strftime('%d/%m/%y')}" %>
              </div>
            </div>
          </div>
          <div class="card-footer">
              <h5>Check details</h5>
            </ul>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
    <% if result_term.empty? %>
      <div class="col-xs-12 col-md-4" style="display: flex; justify-content: center;">
        <div class="card">
          <div class="card-main">
            <%= "Empty" %>
          </div>
          <div class="card-footer"></div>
        </div>
      </div>
    <% end %>
</div>
