<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style=" display: flex; justify-content: space-between;">
      <h3 class="modal-title" id="myModalLabel"><%= line.description %></h3>
    </div>
    <button type="button" class="btn btn-icon-close" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
  </div>
  <div class="modal-body" id="modalNewBookinBody">
    <%= simple_form_for line do |f| %>
      <%= f.input :description %>
      <% unless line.quantity.nil? %>
        <%= f.input :quantity, input_html: { min: 0 } %>
        <%= f.input :net_amount %>
        <%= f.input :tax_amount %>
      <% end %>
      <div class='modal-control'>
        <%= button_tag type: 'submit', class: 'btn btn-edit-green btn-icon', data: { toggle: 'tooltip' }, title: 'Save' do %>
          <i class="fas fa-save"></i>
        <% end %>
        <%= link_to invoice_line_path(line), method: :delete, data: { confirm: 'Are you sure ?', toggle: 'tooltip' }, title: 'Delete' do %>
          <button class="btn btn-edit-red btn-icon">
            <i class="fas fa-trash-alt"></i>
          </button>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
