<div>
  <% invoice_item.invoice_lines.order('position ASC').each do |line| %>
    <% if line.comments == 'chapter' %>
      <div style='position:relative;'>
        <div class="invoice-desc-line-controls">
          <% if line.position == 1 %>
            <a><i class="fas fa-caret-up" style='color:grey;cursor:default;'></i></a>
          <% else %>
            <%= link_to move_up_invoice_line_path(line), remote: true do %>
              <i class="fas fa-caret-up"></i>
            <% end %>
          <% end %>
          <% if line.position == invoice_item.invoice_lines.count %>
            <a><i class="fas fa-caret-down" style='color:grey;cursor:default;'></i></a>
          <% else %>
            <%= link_to move_down_invoice_line_path(line), remote: true do %>
              <i class="fas fa-caret-down"></i>
            <% end %>
          <% end %>
        </div>
        <a class="edit-fafa" data-toggle='modal' data-target='#editLine<%= line.id %>'>
          <div class="invoice-desc-line-chapter" style='height:4rem;background-color:#3AA2AC;'>
            <p><strong><%= line.description %></strong></p>
          </div>
        </a>
      </div>
    <% else %>
      <div style='position:relative;'>
        <div class="invoice-desc-line-controls">
          <% if line.position == 1 %>
            <a><i class="fas fa-caret-up" style='color:grey;cursor:default;'></i></a>
          <% else %>
            <%= link_to move_up_invoice_line_path(line), remote: true do %>
              <i class="fas fa-caret-up"></i>
            <% end %>
          <% end %>
          <% if line.position == invoice_item.invoice_lines.count %>
            <a><i class="fas fa-caret-down" style='color:grey;cursor:default;'></i></a>
          <% else %>
            <%= link_to move_down_invoice_line_path(line), remote: true do %>
              <i class="fas fa-caret-down"></i>
            <% end %>
          <% end %>
        </div>
        <a class="edit-fafa" data-toggle='modal' data-target='#editLine<%= line.id %>'>
          <div  class="invoice-desc-line">
            <p><strong><%= line.description %></strong></p>
              <div>
                <% if line.product.present? %>
                  <p><%= line.quantity %></p>
                  <p><%= number_with_precision(line.net_amount, precision: 2) %></p>
                  <p><%= number_with_precision(line.net_amount * line.quantity, precision: 2) %></p>
                  <p><%= "#{line.tax_amount}%" %></p>
                <% end %>
              </div>
          </div>
        </a>
        <div class="invoice-line-comments">
        <% if line.comments.nil? || line.comments.empty? %>
          <%= link_to 'Ajouter un commentaire', edit_invoice_line_path(line) %>
        <% else %>
          <%= link_to line.comments.html_safe, edit_invoice_line_path(line) %>
        <% end %>
          <!-- Modals -->
          <% unless line.id.nil? %>
            <div class="modal fade" id="editLine<%= line.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog modal-lg" role="document" style="border-radius: 2rem">
                <%= render 'invoice_lines/edit', line: line %>
              </div>
            </div>
          <% end %>
          <!-- Modals -->
        </div>
      </div>
    <% end %>
  <% end %>
</div>
