<div class="container-seven-large">
  <div id='page-controls'>
    <%= link_to theories_path, class: 'btn return-arrow' do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
  </div>
  <h3>Edit <%= @theory.name %></h3>

  <%= simple_form_for @theory do |f| %>
    <%= f.input :name %>
    <%# f.label :description %>
    <%# f.cktext_area :description %>
    <label class="string" style='margin: 1rem 0;'>Description</label>
    <%= f.trix_editor :description %>
    <%# f.label :references %>
    <%# f.cktext_area :references %>
    <label class="string" style='margin: 1rem 0;'>References</label>
    <%# f.cktext_area :instructions %>
    <%= f.trix_editor :references %>
    <div class='modal-control'>
      <%= button_tag type: 'submit', class: 'btn btn-edit-green btn-icon', data: { toggle: 'tooltip' }, title: 'Save' do %>
        <i class="fas fa-save"></i>
      <% end %>
      <%= link_to theory_path(@theory), method: :delete, data: { confirm: 'Are you sure ?', toggle: 'tooltip' }, title: 'Delete' do %>
        <button class="btn btn-edit-red btn-icon">
          <i class="fas fa-trash-alt"></i>
        </button>
      <% end %>
    </div>
  <% end %>
</div>
