<div class="container-seven">
  <h2>Edit <%= @theory.name %></h2>

  <%= simple_form_for @theory do |f| %>
    <%= f.input :name %>
    <%= f.input :description, input_html: { class: 'editor' } %>
    <%= f.input :links, input_html: { style: 'width: 100%;' }, label: 'External links' %>
    <%= f.input :references, input_html: { class: 'editor2' } %>
    <script>
      ClassicEditor
              .create( document.querySelector( '.editor' ), {
              } )
              .then( editor => {
                                        console.log( editor );
                                } )
              .catch( error => {
                      console.error( error );
              } );
    </script>
    <script>
      ClassicEditor
              .create( document.querySelector( '.editor2' ), {
              } )
              .then( editor => {
                                        console.log( editor );
                                } )
              .catch( error => {
                      console.error( error );
              } );
    </script>
    <div style=" display: flex; justify-content: space-between;">
      <%= button_tag type: 'submit', class: 'btn btn-edit-green btn-edit-disk' do %>
        <i class="fas fa-save"></i>
      <% end %>
      <%= link_to theory_path(@theory), method: :delete, data: { confirm: 'Are you sure ?'} do %>
        <button class="btn btn-edit-red btn-edit-trash">
          <i class="fas fa-trash-alt"></i>
        </button>
      <% end %>
    </div>
  <% end %>
</div>
