<div class="container-seven-large container-seven-large-centered">
  <div id='page-index'>
    <div id="page-controls">
      <h1>Theories List</h1>
      <div id="page-buttons">
        <%= simple_form_for :search, url: theories_path, method: 'GET' do |f| %>
          <% if params[:search] %>
            <%= f.input :name, placeholder: params[:search][:name], label: false %>
            <%= link_to theories_path, class: 'search-close' do %>
              <i class="far fa-times-circle"></i>
            <% end %>
          <% else %>
            <%= f.input :name, placeholder: 'Search', label: false %>
          <% end %>
        <% end %>
        <%= link_to new_theory_path do %>
          <button class="btn btn-edit-yellow">New Theory</button>
        <% end %>
      </div>
    </div>
    <ul class='theory-list'>
      <% @theories.each do |theory| %>
        <li>
          <%= link_to theory_path(theory) do %>
            <div class="index-card-large">
              <div class="index-card-large-infos">
                <p style='color:black;'><%= theory.name %></p>
                <div class="theory-contents">
                  <% theory.contents.order(:title).each do |content| %>
                    <p><%= content.title %></p>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
         </li>
      <% end %>
    </ul>
  </div>
</div>
