<div class="container-seven container-seven-centered">
  <div id='client-company-index'>
    <div id="client-company-controls">
      <h3>Theories List</h3>
      <div id="client-company-buttons">
        <%= simple_form_for :search, url: theories_path, method: 'GET' do |f| %>
          <%= f.input :name, placeholder: 'Search', label: false %>
          <% if params[:search] %>
            <%= link_to theories_path, class: 'theory-search-close' do %>
              <i class="far fa-times-circle"></i>
            <% end %>
          <% end %>
        <% end %>
        <% if ['super admin', 'admin', 'training manager'].include? current_user.access_level %>
          <%= link_to new_theory_path do %>
            <button class="btn btn-edit">New Theory</button>
          <% end %>
        <% end %>
      </div>
    </div>
    <ul class='theory-list'>
      <% @theories.each do |theory| %>
        <li>
          <%= link_to theory_path(theory) do %>
            <div class="theory-card">
              <div class="theory-card-infos">
                <p style='color:black;'><%= theory.name %></p>
                <div class="theory-contents">
                  <% theory.contents.order(:title).each do |content| %>
                    <p><%= content.title %></p>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
         </li>
      <% end %>
    </ul>
  </div>
</div>
