<div class="container-seven-large">
  <div id='page-controls'>
    <%= link_to theories_path, class: 'btn return-arrow' do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
  </div>
  <h3>Add a Theory</h3>

  <%= simple_form_for @theory do |f| %>
    <%= f.input :name %>
    <%= f.label :description %>
    <%= f.cktext_area :description %>
    <%= f.label :references %>
    <%= f.cktext_area :references %>
    <div class="center-button">
      <%= button_tag type: 'submit', class: 'btn btn-edit-green btn-icon' do %>
        <i class="fas fa-save"></i>
      <% end %>
    </div>
  <% end %>
</div>
