<div class="container-seven">
  <%= link_to theories_path do %><i class="fas fa-arrow-left"></i><% end %>
  <h2><%= @theory.name %></h2>

  <p><%= @theory.description.html_safe %></p>
  <p><%= @theory.links %></p>
  <p class='theory-show-references'><%= @theory.references.html_safe unless @theory.references.nil? %></p>
</div>
