
  <h4>Liste des modules</h4>
  <%= link_to new_training_session_workshop_workshop_module_path(@workshop.session.training, @workshop.session, @workshop) do %>
    <i class="fas fa-plus"></i>
  <% end %>
  <% @workshop.workshop_modules.order('position ASC').each do |mod| %>
    <div class='module-card'>
      <div class="module-card-infos">
      <h5><%= link_to mod.title, training_session_workshop_workshop_module_path(@workshop.session.training, @workshop.session, @workshop, mod) %></h5>
      <%= mod.instructions.html_safe %>
      <% if mod.logistics %>
        <div class='content-logistics'><%= mod.logistics.html_safe %></div>
      <% end %>
      <% unless mod.action2.nil? %>
          <p class='content-actions'>Action 1 : <%= mod.action1.name %></p>
          <p class='content-actions'>Action 2 : <%= mod.action2.name %></p>
        <% else %>
          <p class='content-actions'>Action : <%= mod.action1.name %></p>
        <% end %>
      </div>
      <div class="module-card-controls">
        <p><%= mod.duration %> min</p>
        <% unless mod.user.nil? %>
          <a class="edit-fafa" data-toggle='modal' data-target='#consultUser<%= mod.user.id %>'><img src='<%= "#{mod.user.picture}" %>' alt="" class='avatar'></a>
        <% end %>
        <% if mod.position == 1 %>
          <a href=""><i class="fas fa-arrow-up" style='color:grey;cursor:default;'></i></a>
        <% else %>
          <%= link_to move_up_workshop_module_path(mod), remote: true do %>
            <i class="fas fa-arrow-up"></i>
          <% end %>
        <% end %>
        <% if mod.position ==  @workshop.workshop_modules.count %>
          <a href=""><i class="fas fa-arrow-down" style='color:grey;cursor:default;'></i></a>
        <% else %>
          <%= link_to move_down_workshop_module_path(mod), remote: true do %>
            <i class="fas fa-arrow-down"></i>
          <% end %>
        <% end %>
        <%= link_to edit_training_session_workshop_workshop_module_path(@workshop.session.training, @workshop.session, @workshop, mod) do %>
          <i class="fas fa-edit"></i>
        <% end %>
        <%= link_to training_session_workshop_workshop_module_path(@workshop.session.training, @workshop.session, @workshop, mod), method: :delete, data: { confirm: 'Are you sure ?'} do %>
          <i class="fas fa-trash"></i>
        <% end %>
      </div>
    </div>
    <!-- Modals -->
    <% unless mod.user.nil? %>
      <div class="modal fade" id="consultUser<%= mod.user.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="border-radius: 20px">
          <%= render 'users/consult', user: mod.user %>
        </div>
      </div>
    <% end %>
  <% end %>

