<div class="container-seven-large">
  <div id='page-controls'>
    <%= link_to training_session_workshop_path(@workshop_module.workshop.session.training, @workshop_module.workshop.session, @workshop_module.workshop), class: 'btn return-arrow' do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
  </div>
  <div class="container-new-form">
    <h3 id='copy_title'>Copy "<%= @workshop_module.title %>" to:</h3>

    <%= simple_form_for :copy, url: training_session_workshop_copy_workshop_module_path(@workshop_module.workshop.session.training, @workshop_module.workshop.session, @workshop_module.workshop, @workshop_module), html: {target: '_blank'}, method: 'GET' do |f| %>
      <div class="copy-form-element">
        <%= f.label :client_company_id, 'Client' %>
        <%= f.collection_select :client_company_id, ClientCompany.all.order(:name), :id, :name, options = { include_blank: true }, html_options = { class: "copy_client_company_id" } %>
      </div>
      <div class="copy-form-element">
        <%= f.label :training_id, 'Training', class: 'copy-form-hidden-label' %>
        <%= f.grouped_collection_select :training_id, ClientCompany.all.order(:name), :trainings_for_copy, :name, :id, :title, options = {}, html_options = { class: "copy_training_id" } %>
      </div>
      <div class="copy-form-element">
        <%= f.label :session_id, 'Session', class: 'copy-form-hidden-label' %>
        <%= f.grouped_collection_select :session_id, Training.all.order(title: :asc), :sessions, :title_for_copy, :id, :title_date, options = {}, html_options = { class: "copy_session_id" } %>
      </div>
      <div class="copy-form-element">
        <%= f.label :workshop_id, 'Workshop', class: 'copy-form-hidden-label' %>
        <%= f.grouped_collection_select :workshop_id, Session.all, :workshops, :title_date, :id, :title, options = {}, html_options = { class: "copy_workshop_id" } %>
      </div>
      <div style='display:flex;justify-content:center;margin-top:2rem;'>
        <%= f.input :rename, placeholder: @workshop_module.title, label: 'Rename' %>
      </div>
      <div class='modal-control'>
        <%= button_tag type: 'submit', class: 'btn btn-edit-green btn-icon btn-submit', data: { toggle: 'tooltip' }, title: 'Copy' do %>
          <i class="fas fa-copy"></i>
        <% end %>
      </div>
      <script>
        $('.copy-form-hidden-label').hide()
        $('.copy_training_id').hide()
        $('.copy_session_id').hide()
        $('.copy_workshop_id').hide()
        trainings = $('.copy_training_id').html()
        sessions = $('.copy_session_id').html()
        workshops = $('.copy_workshop_id').html()
        $('.copy_client_company_id').change(function() {
          client_company = $('.copy_client_company_id'+' :selected').text()
          options = $(trainings).filter(`optgroup[label='${client_company}']`).html()
          $('.copy-form-hidden-label').show()
          if (options) {
            $('.copy_training_id').html(options)
            $('.copy_training_id').show()
            training = $('.copy_training_id'+' :selected').text()
            options1 = $(sessions).filter(`optgroup[label='${training}']`).html()
            $('.copy_session_id').html(options1)
            $('.copy_session_id').show()
            session = $('.copy_session_id'+' :selected').text()
            options2 = $(workshops).filter(`optgroup[label='${session}']`).html()
            $('.copy_workshop_id').html(options2)
            $('.copy_workshop_id').show()
          } else {
            $('.copy_training_id').empty()
            $('.copy_training_id').hide()
          }
        });
        $('.copy_training_id').change(function() {
          training = $('.copy_training_id'+' :selected').text()
          options1 = $(sessions).filter(`optgroup[label='${training}']`).html()
          if (options1) {
            $('.copy_session_id').html(options1)
            $('.copy_session_id').show()
            session = $('.copy_session_id'+' :selected').text()
            options2 = $(workshops).filter(`optgroup[label='${session}']`).html()
            $('.copy_workshop_id').html(options2)
            $('.copy_workshop_id').show()
          } else {
            $('.copy_session_id').empty()
            $('.copy_session_id').hide()
          }
        });
        $('.copy_session_id').change(function() {
          session = $('.copy_session_id'+' :selected').text()
          options2 = $(workshops).filter(`optgroup[label='${session}']`).html()
          if (options2) {
            $('.copy_workshop_id').html(options2)
            $('.copy_workshop_id').show()
          } else {
            $('.copy_workshop_id').empty()
            $('.copy_workshop_id').hide()
          }
        });
        $('.btn-submit').click(function() {
          window.history.back();
        });
      </script>
    <% end %>
  </div>
</div>
