<div class="container-seven">
  <div class="training-info-headers">
    <%= link_to training_session_workshop_path(@workshop.session.training, @workshop.session, @workshop), class: 'btn return-arrow' do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
  </div>
  <h3>Edit a module</h3>
  <%= simple_form_for [@workshop.session.training, @workshop.session, @workshop, @workshop_module] do |f| %>
    <%= f.input :title %>
    <% if @users.present? %>
      <%= f.association :user, label: 'Speaker', collection: @users, label_method: lambda { |user| "#{user.firstname} #{user.lastname}" }, allow_blank: true %>
    <% end %>
    <%= f.label :instructions %>
    <%= f.cktext_area :instructions %>
    <%= f.input :duration, label: 'Duration (min)' %>
    <%= f.label :logistics %>
    <%= f.cktext_area :logistics %>
    <%= f.input :action1_id, collection: Action.all, allow_blank: false, label: 'Action 1' %>
    <%= f.input :action2_id, collection: Action.all, allow_blank: true, label: 'Action 2' %>
    <%= f.input :comments, input_html: { style: 'width:100%;' } %>
    <div class="center-button">
      <%= button_tag type: 'submit', class: 'btn btn-edit-green btn-edit-disk' do %>
        <i class="fas fa-save"></i>
      <% end %>
    </div>
  <% end %>
</div>
