<div class="container-seven-large">
  <div id='page-controls'>
    <div class="workshop-title">
      <%= link_to training_session_workshop_path(@workshop.session.training, @workshop.session, @workshop), class: 'btn return-arrow' do %><i class="fas fa-arrow-left"></i><% end %>
       <div class="workshop-title-details">
        <h4><%= @workshop.title %> - <i class="fas fa-stopwatch fa-1x"></i> <%= @workshop.duration %> min</h4>
          <% if @workshop.theme %>
            <p><%= @workshop.theme.name %></p>
          <% end %>
      </div>
    </div>
  </div>
  <div class="add-module">
    <h3>Add a module</h3>

    <%= simple_form_for [@workshop.session.training, @workshop.session, @workshop, @workshop_module] do |f| %>
      <%= f.input :title %>
      <div class="text-box" style="margin: 20px 0px">
        <label class="string" style='margin: 1rem 0;'>Instructions</label>
        <%# f.cktext_area :instructions %>
        <%= f.trix_editor :instructions %>
      </div>
      <label class="string" style='margin: 1rem 0;'>Logistics</label>
      <%= f.input :logistics, label: false, input_html: { style: 'width:100%;' }, placeholder: 'Bring printed out sheet of instructions. Hand out to each individual.' %>
      <div class="duration-buttons">
        <label class="string">Duration<abbr title="required">*</abbr></label>
        <%= f.input :duration, label: false, legend_tag: false, collection: ["05 Mins", "10 Mins", "15 Mins", "20 Mins", "25 Mins", "30 Mins", "35 Mins", "40 Mins", "45 Mins", "50 Mins", "55 Mins", "60 Mins" ], as: :check_boxes %>
      </div>
      <div class="action-checkboxes">
        <label class="string">Actions (max 2)</label>
        <%= f.input :action1_id, label: false, legend_tag: false, collection: Action.all, label:'Actions (Max 2)', as: :check_boxes %>
      </div>
      <div class="center-button" style='margin-bottom: 3rem;'>
        <%= button_tag type: 'submit', class: 'btn btn-edit-green' do %>
          <div class= "save-button">
            <p>SAVE<i class="fas fa-save"></i></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<script>
  $('input[name="workshop_module[duration][]"]').on('change', function() {
    $('input[name="workshop_module[duration][]"]').not(this).prop('checked', false);
  });

  var $cs=$('input[name="workshop_module[action1_id][]"]');
    if ($cs.length > 1) {
      $('input[name="workshop_module[action1_id][]"] input:checkbox:not(:checked)').attr("disabled", true);
      $('input[name="workshop_module[action1_id][]"] input:checkbox:not(:checked)').parent().css("color", "gray");
    }
  $('input[name="workshop_module[action1_id][]"]').change(function () {
    console.log('test2');
    var $cs=$('input[name="workshop_module[action1_id][]"]:checked');
    if ($cs.length > 1) {
      $('input[name="workshop_module[action1_id][]"]:not(:checked)').attr("disabled", true);
      $('input[name="workshop_module[action1_id][]"]:not(:checked)').parent().css("color", "gray");
    }
    else{
      $('input[name="workshop_module[action1_id][]"]').attr("disabled", false);
      $('input[name="workshop_module[action1_id][]"]').parent().css("color", "black");
    }
  });
</script>
