<div class="container-seven">
  <div class="training-info-headers">
    <%= link_to training_session_workshop_path(@workshop_module.workshop.session.training, @workshop_module.workshop.session, @workshop_module.workshop), class: 'return-arrow' do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
  </div>
  <div class="middle-info-workshop">
    <h3><%= @workshop_module.title %> - <%= @workshop_module.duration %> minutes</h3>
    <br>
    <p><%= @workshop_module.instructions.html_safe %></p>
    <% if @workshop_module.comments && @workshop_module.comments != "" %>
      <p>Comments : <%= @workshop_module.comments %></p>
    <% end %>
    <div class='content-logistics'><p class='logistics-label'>Logistics : </p><div><%= @workshop_module.logistics.html_safe %></div></div>
    <% if @workshop_module.action1 %>
      <p class='content-actions'>Participant Action 1 : <%= @workshop_module.action1.name %></p>
    <% end %>
    <% if @workshop_module.action2 %>
      <p class='content-actions'>Participant Action 2 : <%= @workshop_module.action2.name %></p>
    <% end %>
  </div>
</div>
