<div class="container-seven">
  <div class="training-info-headers">
    <%= link_to training_session_workshop_path(@workshop_module.workshop.session.training, @workshop_module.workshop.session, @workshop_module.workshop), class: 'return-arrow' do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
  </div>
  <div class="middle-info-workshop">
    <h3><%= @workshop_module.title %> - <%= @workshop_module.duration %> minutes</h3>
    <br>
    <p><%= @workshop_module.instructions.html_safe %></p>
    <div class='content-logistics'><p class='logistics-label'>Logistics : </p><div><%= @workshop_module.logistics.html_safe %></div></div>
    <p><%= @workshop_module.url1 %></p>
    <p><%= @workshop_module.url2 %></p>
    <p class='content-actions'>Action 1 (participant) : <%= @workshop_module.action1.name %></p>
    <% unless @workshop_module.action2.nil? %>
      <p class='content-actions'>Action 2 (participant) : <%= @workshop_module.action2.name %></p>
    <% end %>
    <p>Comments : <%= @workshop_module.comments %></p>
  </div>
</div>
