<div class="container-seven-large">
  <div id='page-controls'>
    <%= link_to training_session_workshop_path(@workshop_module.workshop.session.training, @workshop_module.workshop.session, @workshop_module.workshop), class: 'return-arrow' do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
    <% if ['super admin', 'admin', 'training manager'].include?(current_user.access_level) %>
      <a data-toggle='modal' data-target='#copyWorkshopModule<%= @workshop_module.id %>'><button class='btn return-arrow'><i class="fas fa-copy"></i></button></a>
    <% end %>
              <!-- Modal -->
  <div class="modal fade" id="copyWorkshopModule<%= @workshop_module.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="border-radius: 2rem">
      <%= render 'workshop_modules/copy', mod: @workshop_module %>
    </div>
  </div>
  <!-- End Modal -->
  </div>
  <div class="middle-info-workshop">
    <h3><%= @workshop_module.title %> - <%= @workshop_module.duration %> minutes</h3>
    <br>
    <p><%= @workshop_module.instructions.html_safe %></p>
    <% if @workshop_module.comments && @workshop_module.comments != "" %>
      <p>Comments : <%= @workshop_module.comments %></p>
    <% end %>
    <div class='content-logistics'><p class='logistics-label'>Logistics : </p><div><%= @workshop_module.logistics.html_safe %></div></div>
    <% if @workshop_module.action1 %>
      <p class='content-actions'>Participant Action 1 : <%= @workshop_module.action1.name %></p>
    <% end %>
    <% if @workshop_module.action2 %>
      <p class='content-actions'>Participant Action 2 : <%= @workshop_module.action2.name %></p>
    <% end %>
  </div>
</div>
