<div class="container-seven-large container-seven-large-viewer">
  <%= link_to training_session_workshop_viewer_path(@workshop_module.workshop.session.training, @workshop_module.workshop.session, @workshop_module.workshop) do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
  <h1><%= @workshop_module.title %></h1>

  <p><%= @workshop_module.instructions.html_safe %></p>
  <p><%= @workshop_module.duration %> minutes</p>
  <p><%= @workshop_module.logistics %></p>
 <% if @workshop_module.action1 %>
      <p>Action: <%= @workshop_module.action1.name %></p>
    <% end %>
    <% if @workshop_module.action2 %>
      <p>Action: <%= @workshop_module.action2.name %></p>
    <% end %>
  <p><%= @workshop_module.comments %></p>
</div>
