<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style=" display: flex; justify-content: space-between;">
      <h3 class="modal-title" id="myModalLabel"><%= @invoice_item.uuid %></h3>
    </div>
    <button type="button" class="btn btn-icon-close" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
  </div>
  <div class="modal-body">
    <%= simple_form_for :edit_client, url: edit_client_invoice_item_path(@invoice_item), method: 'GET' do |f| %>
      <%= f.label :client_company_id, 'OPCO' %>
      <%= f.collection_select :client_company_id, ClientCompany.where(client_company_type: 'OPCO').order(:name), :id, :name, options = { include_blank: true } %>
      <div style=" display: flex; justify-content: space-between; margin-top: 1rem">
        <%= button_tag type: 'submit', class: 'btn btn-edit-green btn-icon' do %>
          <i class="fas fa-save"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
