<ul style='list-style: none;'>
  <% @invoice_items.where(type: params[:type]).each do |item| %>
    <li>
      <%= link_to invoice_item_path(item) do %>
        <div class="client-company-card invoice-card">
          <div class='item-id'>
            <p><%= item.training.title %></p>
            <p><%= item.uuid %></p>
          </div>
          <div class='item-status' style='width: 50%;display:flex; justify-content: space-between;'>
            <p><%= number_with_precision(item.total_amount, precision: 2) %>€</p>
            <%= render 'status', item: item %>
          </div>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
