<ul style='list-style: none;'>
  <% @invoice_items.where(type: params[:type]).each do |item| %>
    <li>
      <%= link_to invoice_item_path(item), class: 'invoice-card-link' do %>
        <div class="invoice-card">
          <div class='item-id'>
            <p><%= item.uuid %></p>
            <% if item.training.present? %>
              <p data-toggle="tooltip" title="<%= item.training.title %>"><%= item.training.title %></p>
            <% else %>
              <p><%= item.invoice_lines.first&.description %></p>
            <% end %>
          </div>
          <a class='invoice-card-link' data-toggle='modal' type='button' data-target='#editSending<%= item.id %>' style='cursor:pointer;'>
            <div class="item-id">
              <p>Sending date</p>
              <% if item.sending_date.present? %>
                <p><%= item.sending_date&.strftime('%d/%m/%y') %></p>
              <% end %>
            </div>
          </a>
          <!-- MODAL -->
          <div class="modal fade" id="editSending<%= item.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document" style="border-radius: 2rem">
              <%= render 'edit_sending', item: item %>
            </div>
          </div>
          <!--  -->
          <a class='invoice-card-link' data-toggle='modal' type='button' data-target='#editDunning<%= item.id %>' style='cursor:pointer;'>
            <div class="item-id">
              <p>Dunning date</p>
              <% if item.dunning_date.present? %>
                <p><%= item.dunning_date&.strftime('%d/%m/%y') %></p>
              <% end %>
            </div>
          </a>
          <!-- MODAL -->
          <div class="modal fade" id="editDunning<%= item.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document" style="border-radius: 2rem">
              <%= render 'edit_dunning', item: item %>
            </div>
          </div>
          <!--  -->
          <a class='invoice-card-link' data-toggle='modal' type='button' data-target='#editPayment<%= item.id %>' style='cursor:pointer;'>
            <div class="item-id">
              <p>Payment date</p>
              <% if item.payment_date.present? %>
                <p><%= item.payment_date&.strftime('%d/%m/%y') %></p>
              <% end %>
            </div>
          </a>
          <!-- MODAL -->
          <div class="modal fade" id="editPayment<%= item.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document" style="border-radius: 2rem">
              <%= render 'edit_payment', item: item %>
            </div>
          </div>
          <!--  -->
          <div class='item-status' style='width: 25%;display:flex; justify-content: space-between;'>
            <p><%= number_with_precision(item.total_amount, precision: 2) %>€</p>
            <% if item.payment_date.present? %>
              <p>Paid</p>
            <% elsif item.dunning_date.present? %>
              <p>Reminded</p>
            <% elsif item.sending_date.present? %>
              <p>Send</p>
            <% end %>
          </div>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>

