<!DOCTYPE html>
<html>
  <body id='header-body-pdf'>
    <div class="invoice-header-pdf">
      <% unless @invoice_item.type == 'InvoiceSevener' %>
        <%= wicked_pdf_image_tag 'logo.png', id: "pdf-logo" %>
        <div class='invoice-company'>
          <p>SEVEN</p>
          <p>5, rue Moret</p>
          <p>75011 Paris</p>
          <p>FRANCE</p>
          <p>contact@byseven.co</p>
        </div>
      <% else %>
        <div class='invoice-company'>
          <h3 style="color:black;"><%= @invoice_item.user.firstname %> <%= @invoice_item.user.lastname %></h3>
          <p><%= @invoice_item.user.address %></p>
          <p><%= @invoice_item.user.email %></p>
          <p>SIRET : <%= @invoice_item.user.siret %></p>
        </div>
      <% end %>
      <div class="invoice-header-number-pdf">
        <% if @invoice_item.type == 'Invoice' && @invoice_item.total_amount < 0 %>
          <h1>Avoir</h1>
        <% elsif @invoice_item.type == 'Invoice' || @invoice_item.type == 'InvoiceSevener' %>
          <h1>Facture</h1>
        <% else %>
          <h1>Devis</h1>
        <% end %>
        <p>n° <%= @invoice_item.uuid %></p>
        <p>Du <%= @invoice_item.created_at.strftime('%d/%m/%Y') %></p>
        <p>Etablie en Euro</p>
      </div>
    </div>
    <div class="invoice-client">
      <% unless @invoice_item.type == 'InvoiceSevener' %>
        <div>
          <p><%= @invoice_item.client_company.name %></p>
          <p><%= @invoice_item.client_company.address %></p>
          <p><%= @invoice_item.client_company.zipcode %> <%= @invoice_item.client_company.city %></p>
        </div>
      <% else %>
        <div>
          <p>SEVEN SAS</p>
          <p>5, rue Moret 75011 Paris</p>
        </div>
      <% end %>
    </div>
  </body>
</html>
