<div class="container-seven-large">
  <div class="report-main">
    <div id="page-controls">
      <h1>Reports</h1>
      <div id="page-buttons">
        <%= link_to 'Invoices', invoice_items_path(type: 'Invoice'), class: 'btn btn-edit-green' %>
        <%= link_to 'Estimates', invoice_items_path(type: 'Estimate'), class: 'btn btn-edit-red' %>
        <button class='btn btn-edit-grey btn-icon dropdown-toggle' id="dropdownMenuButton" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></button>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><%= link_to 'Upload to Drive', upload_to_sheet_path, method: :post %></li>
        </ul>
      </div>
    </div>
    <%= simple_form_for :year, url: report_path, method: :get do |f| %>
      <%= f.select :date, Date.today.year-5 .. Date.today.year, selected: Date.today.year %>
      <%= button_tag 'Filter', type: 'submit', class: 'btn btn-edit-green', data: { toggle: 'tooltip' }, title: 'Save' %>
    <% end %>
    <p>Billed this year: <%= number_with_precision(@invoice_items.where("created_at > ? AND created_at < ?", Time.now.beginning_of_year, Time.now.end_of_year).map(&:gross_revenue).sum, precision: 2) %>€</p>
    <p>Billed this month: <%= number_with_precision(@invoice_items.where("created_at > ? AND created_at < ?", Time.now.beginning_of_month, Time.now.end_of_month).map(&:gross_revenue).sum, precision: 2) %>€</p>
    <p>Unpaid this year: <%= number_with_precision(@invoice_items.where("created_at > ? AND created_at < ?", Time.now.beginning_of_year, Time.now.end_of_year).where(payment_date: nil).map(&:gross_revenue).sum, precision: 2) %>€</p>
    <br>
    <div>
      <div id="report_monthly_hour_search">

      </div>
      <div id="report_monthly_hours">
        <p>Hours of Training this month: <%= Session.where("date > ? AND date < ?", Time.now.beginning_of_month, Time.now.end_of_month).map(&:duration).sum %>h</p>
      </div>
    </div>
    <div>
      <div id="report_weekly_hours">
        <% hours_count = 0 %>
        <% Session.where("date > ? AND date < ?", Time.now.beginning_of_week, Time.now.end_of_week).each do |session| %>
          <% hours_count += session.duration * session.session_trainers.count if session.session_trainers.count >= 1 %>
          <% hours_count += session.duration if session.session_trainers.count == 0 %>
        <% end %>
        <p>Hours of Training this week: <%= hours_count %>h</p>
      </div>
    </div>
  </div>
  <div class="flex-column-between-left">
    <%= link_to 'Numbers Activity', numbers_activity_path %>
    <%# link_to 'Test - Ne pas cliquer SVP', redirect_docusign_path %>
    <%# link_to 'Airtable - Import Users', airtable_import_users_path %>
    <%# link_to 'Airtable - Import Clients', airtable_import_clients_path %>
    <%# link_to 'Airtable - Import Trainings', airtable_import_trainings_path %>
  </div>
</div>
