<!DOCTYPE html>
<html style='padding-top: 100px;'>
  <head>
    <% if params.key?('debug').present? %>
      <%= stylesheet_link_tag 'pdf' %>
    <% else %>
      <%= wicked_pdf_stylesheet_link_tag 'pdf' %>
    <% end %>
  </head>
  <body class='invoice-body-pdf' >
    <div class="wrapper-pdf">
      <div class="invoice-desc-headline-pdf">
        <p class='invoice-desc-headline-description-pdf'>Désignation</p>
        <div class='invoice-desc-line-data-pdf'>
          <p class='invoice-desc-line-quantity'>Qté</p>
          <p class='invoice-desc-line-puht'>PU HT</p>
          <p class='invoice-desc-line-pretaxamount'>Montant HT</p>
          <p>%TVA</p>
        </div>
      </div>
      <% @invoice_item.invoice_lines.order('position ASC').each do |line| %>
        <% if line.comments == 'chapter' %>
          <div class="invoice-desc-line-chapter-pdf">
            <p class='invoice-desc-line-description-pdf'><%= line.description %></p>
          </div>
        <% else %>
          <div class="invoice-desc-line-pdf">
            <p class='invoice-desc-line-description-pdf'><%= line.description %></p>
            <div class='invoice-desc-line-data-pdf'>
              <% if line.quantity %>
                <p><%= line.quantity %></p>
                <p><%= number_with_precision(line.net_amount, precision: 2) %></p>
                <p class='invoice-desc-line-data-pretaxamount'><%= number_with_precision(line.net_amount * line.quantity, precision: 2) %></p>
                <p><%= number_with_precision(line.tax_amount, precision: 2) %></p>
              <% end %>
            </div>
          </div>
          <div style='padding-left:20px;margin: 10px 0;'>
            <% unless line.comments.nil? || line.comments.empty? %>
              <%= line.comments.html_safe %>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <% if @invoice_item.client_company.client_company_type == 'School' %>
        <br>
        <p>TVA non applicable, art. 293 B du CGI</p>
      <% end %>
      <div class="invoice-total-pdf">
        <div class=invoice-total-due-date-pdf>
          <div>
            <p>Echéance(s)</p>
            <p><%= @invoice_item.created_at.strftime('%d/%m/%Y') %></p>
          </div>
          <div>
            <p>Montant</p>
            <% total_net = [] %>
            <% total_ht = [] %>
            <% total_tva = [] %>
            <% @invoice_item.invoice_lines.each do |line| %>
              <% if line.quantity %>
                <% total_ht << line.net_amount*line.quantity %>
                <% total_tva << line.net_amount*line.quantity*line.tax_amount/100 %>
                <% total_net << line.net_amount*line.quantity * (1 + (line.tax_amount / 100)) %>
              <% end %>
            <% end %>
            <% @invoice_item.tax_amount = total_tva.sum %>
            <% @invoice_item.total_amount = total_net.sum %>
            <% @invoice_item.save %>
            <p><%= number_with_precision(@invoice_item.total_amount, precision: 2) %></p>
          </div>
        </div>
        <div class="invoice-total-details-pdf">
          <div>
            <p>Total HT Net</p>
            <p>Total TVA</p>
            <p style='border-bottom: 2px solid black;'>Total TTC</p>
            <p>Net à payer en EUR</p>
          </div>
          <div style='text-align:right;'>
            <p><%= number_with_precision(total_ht.sum, precision: 2) %></p>
            <p><%= number_with_precision(@invoice_item.tax_amount, precision: 2) %></p>
            <p style='border-bottom: 2px solid black;'><%= number_with_precision(@invoice_item.total_amount, precision: 2) %></p>
            <p><%= number_with_precision(@invoice_item.total_amount, precision: 2) %></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
