<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style=" display: flex; justify-content: space-between;">
      <h3 class="modal-title" id="myModalLabel"><%= @client_company.name %></h3>
    </div>
    <button type="button" class="btn btn-icon-close" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
  </div>
  <div class="modal-body">
    <%= simple_form_for @client_company do |f| %>
      <%= f.input :name %>
      <div style='display:flex;justify-content:space-between;'>
        <%= f.input :address, placeholder: 'ex: 5 rue Moret' %>
        <%= f.input :zipcode, input_html: { maxlength: 5 } %>
        <%= f.input :city, placeholder: 'ex: Paris', input_html: {style: 'width:15rem;'} %>
      </div>
      <div style='display:flex;justify-content:space-between;'>
        <%= f.input :client_company_type, label: "Type", collection: ["Company", "School", "OPCO"], include_blank: false, input_html: {style: 'width:10rem;'} %>
        <%= f.input :opco_id, label: "OPCO", collection: ClientCompany.where(client_company_type: 'OPCO'), include_blank: true, input_html: {style: 'width:26rem;'} %>
      </div>
      <%= f.input :description, :input_html => {:rows => 5} %>
      <%= f.input :logo, label: 'Logo URL' %>
      <div class='modal-control'>
        <%= button_tag type: 'submit', data: { toggle: 'tooltip' }, title: 'Save', class: 'btn btn-edit-green btn-icon' do %>
          <i class="fas fa-save"></i>
        <% end %>
        <%= link_to client_company_path(@client_company), method: :delete, data: { toggle: 'tooltip', confirm: 'Are you sure ?'}, title: 'Delete' do %>
          <button class="btn btn-edit-red btn-icon">
            <i class="fas fa-trash-alt"></i>
          </button>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<script>
  type = document.getElementById('client_company_client_company_type');
  opco = document.querySelector('.client_company_opco_id');
  price = document.getElementById('client_company_unit_price');
  type.addEventListener('change', (event) => {
    if (type.value == 'Company') {
      opco.classList.remove('hidden');
      price.setAttribute('value', 2400);

    } else {
      opco.classList.add('hidden');
      price.setAttribute('value', 0);
    }
  });
</script>
