<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style=" display: flex; justify-content: space-between;">
      <h3 class="modal-title" id="myModalLabel"><%= @client_company.name %></h3>
    </div>
    <button type="button" class="btn btn-edit-cross" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
  </div>
  <div class="modal-body">
    <%= simple_form_for @client_company do |f| %>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :client_company_type, label: "Type", collection: ["Company", "School"], include_blank: false %>
      <%= f.input :description, :input_html => {:rows => 10} %>
      <%= f.input :logo, label: 'Logo URL' %>
      <div style=" display: flex; justify-content: space-between;">
        <%= button_tag type: 'submit', class: 'btn btn-edit-green btn-edit-disk' do %>
          <i class="fas fa-save"></i>
        <% end %>
        <%= link_to client_company_path(@client_company), method: :delete, data: { confirm: 'Are you sure ?'} do %>
          <button class="btn btn-edit-red btn-edit-trash">
            <i class="fas fa-trash-alt"></i>
          </button>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
