<div class="container-seven">
  <div id='page-index'>
    <div id="page-controls">
      <h1>Customers List</h1>
      <div id="page-buttons">
        <%= simple_form_for :search, url: client_companies_path, method: 'GET' do |f| %>
          <%= f.input :name, placeholder: 'Search', label: false %>
          <% if params[:search] %>
            <%= link_to client_companies_path, class: 'client-company-search-close' do %>
              <i class="far fa-times-circle"></i>
            <% end %>
          <% end %>
        <% end %>
        <% if ['super admin', 'admin', 'training manager'].include? current_user.access_level %>
          <%= link_to new_client_company_path do %>
            <button class="btn btn-edit">New Customer</button>
          <% end %>
        <% end %>
      </div>
    </div>
    <ul class='client-company-list'>
      <% @client_companies.each do |company| %>
        <li>
          <%= link_to client_company_path(company) do %>
            <div class="index-card-large">
              <div class='client-company-name-logo'>
                <img class='client-company-logo-index' src='<%= "#{company.logo}" %>'>
              </div>
              <div class="client-company-infos">
                <div class="client-company-type-address">
                  <p><%= company.name %></p>
                  <% company.address.split(',').each do |el| %>
                    <p><%= el %></p>
                  <% end %>
                </div>
                <div class="client-company-client-contact-list">
                  <% company.client_contacts.first(3).each do |contact| %>
                    <p><%= contact.name %></p>
                  <% end %>
                  <% if company.client_contacts.count >= 4 %>
                    <p>...</p>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
