<div class="container-seven-large">
  <div id='page-controls'>
    <%= link_to client_companies_path, class: 'btn return-arrow' do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
  </div>
  <div class="container-new-form-large">
    <h3>Add a client company or school</h3>
    <%= simple_form_for @client_company do |f| %>
      <%= f.input :name %>
      <div style='display:flex;justify-content:space-between;'>
        <%= f.input :address, placeholder: 'ex: 5 rue Moret' %>
        <%= f.input :zipcode, input_html: { maxlength: 5 } %>
        <%= f.input :city, placeholder: 'ex: Paris' %>
      </div>
      <%= f.input :client_company_type, collection: ["Company", "School", "OPCO"], include_blank: false %>
      <%= f.input :opco_id, label: "OPCO", collection: ClientCompany.where(client_company_type: 'OPCO'), include_blank: true %>
      <%= f.input :description, :input_html => {:rows => 5, style: 'width:100%;'} %>
      <%= f.input :logo, label: 'Logo URL' %>
      <p class="center-button"> <%= f.button :submit, 'Save', class: 'btn btn-edit-yellow' %> </p>
    <% end %>
  </div>
</div>

<script>
  type = document.getElementById('client_company_client_company_type');
  opco = document.querySelector('.client_company_opco_id');
  type.addEventListener('change', (event) => {
    if (type.value == 'Company') {
      opco.classList.remove('hidden');
    } else {
      opco.classList.add('hidden');
    }
  });
</script>
