<div class="container-seven">
  <h2>Ajouter une entreprise client</h2>
  <%= simple_form_for @client_company do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description, :input_html => {:rows => 10, style: 'width:100%;'} %>
    <%= f.input :logo, label: 'Logo URL' %>
    <p class="center-button"> <%= f.submit class: 'btn btn-edit' %> </p>
  <% end %>
</div>
