<div class="container-seven">
  <%= link_to client_companies_path do %><i class="fas fa-arrow-left"></i><% end %>
  <div class="client-company-card-show">
    <div>
      <img src='<%= @client_company.logo %>' alt="" class='client-company-logo-show'>
      <div>
        <p><%=  @client_company.name %></p>
        <div class="show-control-links">
          <% if ['super admin', 'admin', 'project manager'].include? current_user.access_level %>
            <a class="edit-fafa" data-toggle='modal' data-target='#editClientCompany'><i class="fas fa-edit"></i></a>
          <% end %>
        </div>
      </div>
    </div>
    <p><%= @client_company.address %></p>
    <p><%= @client_company.description %></p>
  </div>
  <h2>Client Contacts List</h2>
  <ul class="client-contact-list">
    <% @client_contacts.each do |contact| %>
      <li>
        <%= link_to client_contact_path(contact) do %>
          <div class="client-contact-card">
            <img class='client-company-logo-index' src='<%= "#{contact.client_company.logo}" %>'>
            <div>
              <p><%= contact.name %></p>
              <p><%= contact.title %></p>
              <p><%= contact.email %></p>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>


<!-- Modal -->
<div class="modal fade" id="editClientCompany" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document" style="border-radius: 20px">
    <%= render 'edit', content: @content %>
  </div>
</div>
