<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type='text/css' media='screen'>
      @media screen {
        @font-face {
          font-family: 'Lato';
          font-style: normal;
          font-weight: 400;
          src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
        }
      }

      body {
        font-family: "Lato", Sans-Serif;
        margin: 0;
        padding: 0;
      }

      img {
        margin: 0 10px;
      }

      .mailer-banner {
          width: 100%;
          height: 100px;
          background-color: #F1F3F4;
          display:table;
      }

      .mailer-banner-row {
        height: 100%;
        width: 100%;
        vertical-align: middle;
        text-align: center;
        display:table-cell;
      }

      .mailer-container {
        width: 100%;
        display:table;
        padding: 50px 0;
      }

      .mailer-text {
        padding-left: 50px;
        width: 100%;
        min-width: 300px;
      }
    </style>
  </head>
  <body>
    <div class="mailer-banner">
      <div class="mailer-banner-row">
        <div>
          <img src="https://seven-builder.herokuapp.com/assets/SEVENLOGO_SQUARE2-a44cb6d1cbb9826cadb919090ba706b19dea5ac9b8e2962a030523b034994ae1.png" alt="" height='50px' style="vertical-align:middle">
        </div>
      </div>
    </div>
    <div class="mailer-container">
      <div class="mailer-text">
        <h2>Hello, <%= @user.firstname %></h2>
        <p>Voici le récapitulatif pour ton intervention dans le cadre de la formation <%= "#{@training.client_company.name} - #{@training.title}"%> :</p>
          <% @training.sessions.order(date: :asc).each do |session| %>
            <% if session.users.include?(@user) %>
              <p style='margin: 5px 0;'>- <%= session.title %> : <strong><%= session.date.strftime('%d/%m/%Y') %></strong> de <%= session.start_time.strftime('%Hh%M') %> à <%= session.end_time.strftime('%Hh%M') %></p>
              <div style='padding-left: 20px;'>
                <% if session.description.present? %>
                  <% session.description.split("\r\n").each do |line| %>
                    <p style='margin: 5px 0;'><%= line %></p>
                  <% end %>
                <% end %>
                </div>
            <% end %>
          <% end %>
        <br>
        <p><a href="https://seven-builder.herokuapp.com/trainings/<%= @training.id %>">Lien Builder</a></p>
        <br>
        <p>Pour toute question, merci de contacter <%= @training.owners.first.firstname %> (<%= @training.owners.first.email %>)</p>
        <br>
        <p>Bonne journée à toi !</p>
      </div>
    </div>
  </body>
</html>
