<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Builder by SEVEN</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <script src="/assets/jquery.js" type="text/javascript"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/12.2.0/classic/ckeditor.js"></script>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
    <div class="body-wrapper">
     <div class='<%= "wrapper" unless params[:controller] == "pages" && params[:action] == "home" %>'>
        <% if params[:controller] == "pages" && params[:action] == "home" %>
        <% elsif params[:action] == 'viewer' %>
        <% else %>
          <%= render 'shared/left-navbar' %>
        <% end %>
        <%#= render 'shared/navbar' %>
        <%= render 'shared/flashes' %>
        <%= yield %>
        <%= javascript_include_tag 'application' %>
        <%= javascript_pack_tag 'application' %>
        <%#= render 'shared/footer' %>
      </div>
    </div>
</html>

<!-- Modal -->
<div class="modal fade" id="contactUs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    {% include contact-modal.html %}
  </div>
</div>
