<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Builder by SEVEN</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
    <%= wicked_pdf_stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= wicked_pdf_javascript_include_tag "application", "data-turbolinks-track" => true %>
    <script src="/assets/jquery.js" type="text/javascript"></script>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
    <div class="body-wrapper">
     <div class='<%= "wrapper" unless params[:controller] == "pages" && params[:action] == "home" %>'>
        <% unless params[:controller] == "pages" && params[:action] == "home" %>
          <%= render 'shared/left-navbar' %>
        <% end %>
        <%#= render 'shared/navbar' %>
        <%= render 'shared/flashes' %>
        <%= yield %>
        <%= javascript_include_tag 'application' %>
        <%= javascript_pack_tag 'application' %>
        <%#= render 'shared/footer' %>
      </div>
    </div>
</html>
